.exploremore{
  background-color: var(--neutral-grey);
} 
.exploremore .exploremore-wrapper{
  padding: 80px 0;
}
.exploremore .exploremore-wrapper .exploremore-title{
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: -0.5px;
  color: var(--text-color);
  margin-bottom: 80px;
}
.exploremore-wrapper .exploremore-item{
   padding: 18px;
   padding-top: 20px;
   border-top: 1px solid var(--text-color);
   display: flex;
   justify-content: space-between;
}
.exploremore-wrapper .exploremore-item:first-child{
  padding-left: 0;
}
.exploremore-wrapper .exploremore-item:first-child{
  padding-right: 0;
}
.exploremore-wrapper .exploremore-item .exploremore-caption{
  font-size: 30px;
  font-weight: 400;
  line-height: 50px; 
  letter-spacing: -0.5px;
}
.exploremore-wrapper .exploremore-item .exploremore-link-container{
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(width<=992px){
  .exploremore .exploremore-wrapper{
    padding: 40px 0;
  }
  .exploremore .exploremore-wrapper .exploremore-title{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    margin-bottom: 40px;
  }
  .exploremore-wrapper .exploremore-item{
     padding: 12px;
  }

  .exploremore-wrapper .exploremore-item .exploremore-caption{
    font-size: 26px;
    font-weight: 400;
    line-height: 42px; 
  }
  .exploremore-wrapper .exploremore-item .exploremore-link-container{
    padding: 12px;
  }
}

@media(width<768px){
  .exploremore .exploremore-wrapper{
    padding: 32px 0;
  }
  .exploremore .exploremore-wrapper .exploremore-title{
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 32px;
  }
  .exploremore-wrapper .exploremore-item{
     padding: 0;
     margin-bottom: 18px;
  }

  .exploremore-wrapper .exploremore-item .exploremore-caption{
    font-size: 22px;
    line-height: 34px; 
  }
  .exploremore-wrapper .exploremore-item .exploremore-link-container{
    padding: 10px;
  }
}