.exploremore-container {
  background: #F7FAFA;
  padding: 80px 0;
  max-width: 2560px;
  margin: auto;
}

.exploremore .exploremore-wrapper-container .exploremore-title {
  width: 30%;
}

.exploremore .exploremore-wrapper-container .exploremore-title h3 {
  color: var(--colours-text-text-body, #3B3D3D) !important;
  font-family: var(--typography-font-family-font-title, "Inter") !important;
  font-size: var(--typography-font-size-text-xl, 36px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--typography-font-line-height-leading-7, 56px);
  letter-spacing: var(--typography-font-spacing-tracking-normal, 0);
  margin: 0;
}

.exploremore-wrapper-container {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-6, 24px);
}

.exploremore-wrapper-container .exploremore-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* gap: 24px; */
  width: 70%;
}

.exploremore-wrapper-container .exploremore-item {
  width: 49%;
  padding: 0;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border-bottom: var(--spacing-px, 1px) solid var(--colours-border-border-base, #E8EBEB);
  padding-bottom: 24px;
}

.exploremore-wrapper-container .exploremore-item:first-child {
  padding-left: 0;
}

.exploremore-wrapper-container .exploremore-item:not(:first-child) {
  padding-top: 24px;
}

.exploremore-wrapper-container .exploremore-item:last-child {
  padding-right: 0;
  border-bottom: none;
  padding-bottom: 0;
}

.exploremore-wrapper-container .exploremore-item .exploremore-caption {
  color: var(--colours-text-text-body, #3B3D3D);
  font-family: var(--typography-font-family-font-title, "Inter");
  font-size: var(--typography-font-size-text-sm, 24px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--typography-font-line-height-leading-4, 40px);
  letter-spacing: var(--typography-font-spacing-tracking-normal, 0);
  margin: 0;
}

.exploremore-wrapper-container .exploremore-item .exploremore-link-container {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exploremore-wrapper-container .exploremore-item .exploremore-link-container a {
  display: flex;
}

.exploremore-wrapper-container .exploremore-item .exploremore-link-container a:hover path {
  stroke: #C8AB4B;
}

.exploremore-wrapper-container .exploremore-item .exploremore-link-container a .icon-wrapper {
  color: var(--primary-gold);
  padding-top: 0;
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
}

.exploremore-wrapper-container .exploremore-item .exploremore-link-container a .icon-wrapper svg {
  width: 100%;
  height: 100%;
}

@media(width > 1199px) {
  .exploremore .exploremore-wrapper-container .exploremore-title h3 {
    line-height: 48px;
    width: 60%;
  }
}

@media(width<=1199px) {
  .exploremore-container {
    padding: 40px 0;
  }

  .exploremore-wrapper-container {
    flex-direction: column;
  }

  .exploremore-wrapper-container .exploremore-links {
    width: 100%;
  }

  .exploremore .exploremore-wrapper-container .exploremore-title {
    width: 100%;
  }
  
  .exploremore .exploremore-wrapper-container .exploremore-title h3 {
    color: var(--colours-text-text-body, #3B3D3D) !important;
    font-family: var(--typography-font-family-font-title, "Inter") !important;
    font-size: var(--typography-font-size-text-xl, 36px) !important;
    font-style: normal;
    font-weight: 400;
    line-height: var(--typography-font-line-height-leading-7, 56px);
    letter-spacing: var(--typography-font-spacing-tracking-normal, 0);
  }

  .exploremore-wrapper-container .exploremore-item {
    width: 100%;
    align-items: center;
  }

  .exploremore-wrapper-container .exploremore-item .exploremore-caption {
    color: var(--colours-text-text-body, #3B3D3D);
    font-family: var(--typography-font-family-font-title, Inter);
    font-size: var(--typography-font-size-text-sm, 24px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--typography-font-line-height-leading-4, 40px);
    letter-spacing: var(--typography-font-spacing-tracking-normal, 0);
  }

  .exploremore-wrapper-container .exploremore-item .exploremore-link-container {
    padding: 12px 0 12px;
  }
}

@media(width<768px) {
  .exploremore-container {
    padding: 32px 0;
  }

  .exploremore-wrapper-container .exploremore-links {
    width: 100%;
  }

  .exploremore .exploremore-wrapper-container .exploremore-title h3{
    color: var(--colours-text-text-body, #3B3D3D) !important;

    /* H5/Regular */
    font-family: var(--typography-font-family-font-title, "Inter") !important;
    font-size: var(--typography-font-size-text-m, 28px) !important;
    font-style: normal;
    font-weight: 400;
    line-height: var(--typography-font-line-height-leading-5, 44px); /* 157.143% */
    letter-spacing: var(--typography-font-spacing-tracking-normal, 0);
  }

  .exploremore-wrapper-container .exploremore-item {
    width: 100%;
    padding: 0;
    padding-bottom: 16px;
  }

  .exploremore-wrapper-container .exploremore-item:not(:first-child) {
    padding-top: 16px;
  }

  .exploremore-wrapper-container .exploremore-item:last-child {
    padding-bottom: 0;
  }

  .exploremore-wrapper-container .exploremore-item .exploremore-caption {
    color: var(--colours-text-text-body, #3B3D3D);
    font-family: var(--typography-font-family-font-body, "Instrument Sans");
    font-size: var(--typography-font-size-text-base, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--typography-font-line-height-leading-3, 24px);
    letter-spacing: var(--typography-font-spacing-tracking-normal, 0);
  }

  .exploremore-wrapper-container .exploremore-item .exploremore-link-container {
    padding: 8px;
  }

  .exploremore-wrapper-container .exploremore-item .exploremore-link-container svg {
    width: 32px;
    height: 32px;
  }

}