.exploremore-container{
  background-color: var(--whisper-gray);
  padding: 45px 0;
} 

.exploremore .exploremore-wrapper-container .exploremore-title{
  font-size: var(--font-size-xl);
  font-weight: 500;
  line-height: 50px;
  letter-spacing: -0.5px;
  color: var(--text-color);
  margin-bottom: 80px;
}

.exploremore-wrapper-container .exploremore-links{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.exploremore-wrapper-container .exploremore-item{
   width: 49%;
   padding: 0;
   padding-top: 20px;
   border-top: 1px solid var(--text-color);
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.exploremore-wrapper-container .exploremore-item:first-child{
  padding-left: 0;
}

.exploremore-wrapper-container .exploremore-item:last-child{
  padding-right: 0;
}

.exploremore-wrapper-container .exploremore-item .exploremore-caption{
  font-size: var(--font-size-m);
  font-weight: 400;
  line-height: 50px; 
  letter-spacing: -0.5px;
  color: var(--text-color);
}

.exploremore-wrapper-container .exploremore-item .exploremore-link-container{
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exploremore-wrapper-container .exploremore-item .exploremore-link-container a {
  display: flex;
}

.exploremore-wrapper-container .exploremore-item .exploremore-link-container a .icon-wrapper{
  color:  var(--primary-gold);
  padding-top: 0;
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
}

.exploremore-wrapper-container .exploremore-item .exploremore-link-container a .icon-wrapper svg {
  width: 100%;
  height: 100%;
}

@media(width<=992px){
  .exploremore-container{
    padding: 28px 0;
  } 

  .exploremore .exploremore-wrapper-container .exploremore-title{
    font-size: var(--font-size-l);
    font-weight: 500;
    line-height: 42px;
    margin-bottom: 28px;
  }

  .exploremore-wrapper-container .exploremore-item{
     width: 48%;
     padding-top: 12px;
     align-items: flex-start;
  }

  .exploremore-wrapper-container .exploremore-item .exploremore-caption{
    font-size: 24px;
    font-weight: 400;
    line-height: 42px; 
  }

  .exploremore-wrapper-container .exploremore-item .exploremore-link-container{
    padding: 10px 12px;
  }
}

@media(width<768px){
  .exploremore-container{
    padding: 32px 0;
  } 

  .exploremore .exploremore-wrapper-container .exploremore-title{
    font-size: var(--font-size-m);
    line-height: 34px;
    margin-bottom: 32px;
  }

  .exploremore-wrapper-container .exploremore-item{
     width: 100%;
     padding: 0;
     margin-bottom: 18px;
     align-items: center;
  }

  .exploremore-wrapper-container .exploremore-item .exploremore-caption{
    font-size: var(--font-size-m);
    line-height: 34px;
  }

  .exploremore-wrapper-container .exploremore-item .exploremore-link-container{
    padding: 10px;
  }

}