.enquiry-wrapper {
  /* Base container styles */
  width: 100%;
  padding: 80px 0;
  background-color:  var(--whisper-gray);
}

/* Remove custom grid styles and rely on container classes */
.enquiry {
  margin: 0 auto;
}

/* Typography */
.enquiry-wrapper .row>div{
  padding: 0;
}

.enquiry-wrapper .row>div:first-child{
  padding-right: 18px;

}

.enquiry-wrapper .row>div:last-child{
  padding-left: 18px;
  
}

.enquiry-wrapper .enquiry-heading {
  font-size: var(--font-size-xl);
  font-weight: 500;
  line-height: 50px; 
  letter-spacing: -0.5px;
  margin: 0;
  color: var(--text-color); 
}

.enquiry-wrapper .enquiry-description{
  margin-bottom: 36px;
}

.enquiry-wrapper .enquiry-description p{
  font-family: var(--heading-font-family);
  font-size: var(--font-size-xs);
  font-weight: 400;
  line-height: 24px;
  color: var(--text-color); 
  margin: 0;
}

/* Contact Items List */
.enquiry-wrapper .contact-items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.enquiry-wrapper .contact-items .contact-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Icon Styling */
.enquiry-wrapper .contact-items .contact-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  color: var(--primary-gold);
}

.enquiry-wrapper .contact-items .contact-icon picture{
  width: 100%;
  height: 100%;
}

.enquiry-wrapper .contact-items .contact-icon picture img{
    width: 100%;
    height: 100%;
    object-fit: none;
}


/* Contact Text Styling */
.enquiry-wrapper .contact-items .contact-text { 
  font-family: var(--heading-font-family);
    font-size: var(--font-size-xs);
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    color: var(--text-color);
    text-decoration: none;
}

.enquiry-wrapper .contact-items .contact-text a{
    color: var(--text-color);
    text-decoration: none;
   
}


/* Interactive Elements */
.enquiry-wrapper .contact-items .contact-link {
  font-family: var(--heading-font-family);
  font-size: var(--font-size-xs);
  font-weight: 700;
  line-height: 24px;
  color: var(--text-color);

}



/* Tablet Layout  */
 @media (width >= 768px) and (width < 1024px) {
  .enquiry-wrapper .enquiry-heading {
    font-size: var(--font-size-l);
    line-height: 42px; 
    margin: 0;
  }
  
  .enquiry-wrapper .enquiry-description{
    margin-bottom: 24px;
  }
  
  .enquiry-wrapper .enquiry-description p{
    font-size: var(--font-size-xs);
    line-height: 24px;
  }
  
  /* Contact Items List */
  .enquiry-wrapper .contact-items {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .enquiry-wrapper .contact-items .contact-item {
    gap: 16px;
  }
  

  /* Contact Text Styling */
  .enquiry-wrapper .contact-items .contact-text { 
    font-family: var(--heading-font-family);
      font-size: var(--font-size-xs);
      line-height: 24px;
  }

  
  
  /* Interactive Elements */
  .enquiry-wrapper .contact-items .contact-link {
    font-size: var(--font-size-xs);
    line-height: 24px;
  
  }
}

/* Mobile Layout  */
@media (width < 768px) {
  /* Typography */
  .enquiry-wrapper .row>div{
    padding: 0;
  }

  .enquiry-wrapper .row>div:first-child{
    padding-right: 0;
  
  }

  .enquiry-wrapper .row>div:last-child{
    padding-left: 0;
    
  }

  .enquiry-wrapper .enquiry-heading {
    font-size: var(--font-size-m);
    line-height: 34px; 
    margin: 0;
    margin-bottom: 18px;
  }
  
  .enquiry-wrapper .enquiry-description{
    margin-bottom: 18px;
  }
  
  .enquiry-wrapper .enquiry-description p{
    font-size:14px;
    line-height: 20px;
  }
  
  /* Contact Items List */
  .enquiry-wrapper .contact-items {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .enquiry-wrapper .contact-items .contact-item {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  /* Icon Styling */

  /* Contact Text Styling */
  .enquiry-wrapper .contact-items .contact-text { 
    font-family: var(--heading-font-family);
      font-size: var(--font-size-xxs);
      font-weight: 700;
      line-height: 20px;
      color: var(--text-color);
      margin: 0;
      text-decoration: none;
  }

  .enquiry-wrapper .contact-items .contact-text a{
      color: var(--text-color);
      text-decoration: none;
     
  }
  
  
  /* Interactive Elements */
  .enquiry-wrapper .contact-items .contact-link {
    font-size: var(--font-size-xxs);
    line-height: 20px;
  
  }
  
}

@media (width >= 768px) {
  .enquiry-wrapper {
    padding: 40px 0;
  }
}

@media (width >= 992px) {
  .enquiry-wrapper {
    padding: 45px 0;
  }
}