.hero-banner-container {
  position: relative;
  width: 100%;
  height: 802px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--background-color);
  overflow: hidden;
}

.hero-banner-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero-title {
  font-size: 60px;
  font-weight: 400;
  margin: 0 0 24px;
  max-width: 750px;
  color: var(--background-color);
  text-shadow: 0 2px 4px rgb(0 0 0 / 30%);
  padding-left: 0;
}

.hero-heading {
  font-weight: 400;
  color: var(--background-color);
  text-shadow: 0 2px 4px rgb(0 0 0 / 30%);
  padding-left: 0;
}

.hero-description {
  font-family: var(--heading-font-family);
  font-size: 14px;
  line-height: 1.6;
  max-width: 638px;
  text-align: left;
  color: var(--light-grey);
  margin: 0;
  text-shadow: 0 1px 2px rgb(0 0 0 / 30%);
  padding-left: 0;   
} 

.hero-arrow-icon {
  cursor: pointer;
  transition: transform 0.3s ease;
  padding: 16px;
  color: var(--primary-gold);
}

/* .hero-arrow-icon:hover {
  transform: translateY(4px);
} */

.hero-banner-container .icon-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: left;
  line-height: 0;
  /* padding-top: 20px; */
}

/* Ensure proper icon color inheritance */
.cta-button .icon-wrapper {
  color: var(--background-color);
}

.hero-banner-carousal {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  overflow: hidden;
  background: var(--background-color);
  color: var(--text-color);
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.3s ease;

  /* padding: 0 0 10px 20px; */
  height: 190px;
  width: 608px;
}

.navigation-arrows{
  padding-right: 45px;
  display: flex;
  gap: 3px;
  position: absolute;
  right: 187px;
  bottom: 36px;

}

.ellipse {
  /* padding-top: 10px; */
   padding-top: 12px; 

}

.ellipse-enabled {
  color: #B29152 !important;

}

.ellipse-disabled {
  color: #DBDBDB !important;
}

.left-carousel-arrow {
  margin-top: 2px;
  margin-right: -2px;
}

/* Carousel item container */
.carousel-item {
  display: flex;
  flex: 0 0 100%;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  gap: 36px;
  padding: 36px;
}

/* Left side: Text content (Title, Description, Read More) */
.carousel-content {
  flex: 0 0 65%;
  text-align: left;
}

.carousel-image {
  width: 151px;
  height: 118px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-image picture{
  width: 100%;
  height: 100%;   
}

.news-title {

  font-family: var(--heading-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px; 
  text-transform: uppercase;
  color: var(--body-text-color); 
  margin-bottom: 4px;
}

.news-description {
  font-family: var(--heading-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px; 
  color: var(--text-color); 
  margin-bottom: 12px;
}

.news-link {
  color: var(--primary-gold) !important;
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline !important;
  margin: 6px 0;
  display: inline-flex;
}

.news-link-container {
  display: flex;
  justify-content: space-between;
}

.news-link-arrow-container{
  display: flex;
  gap: 20px;
  margin-right: 20px;
  color: var(--primary-gold);
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  background-color: rgb(0 0 0 / 50%);
  padding: 10px;
}

.carousel-arrow-left {
  left: 10px;
}

.carousel-arrow-right {
  right: 10px;
  margin-top: 1px;
}

.carousel-arrow svg {
  width: 24px;
  height: 24px;
  fill: var(--background-color);
}

.arrow-link svg {
  margin: 0 5px;  
}

.news-thumbnail {
  width: 151px;
  height: 118px;
}

.news-link-container img {
  align-content: flex-end;
}

.hero-banner-container .ellipse {
  padding-top: 0;
}

/* Responsive adjustments */
@media (width <= 991px) {
  .hero-title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 10px;
  }

  .hero-description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .news-title {
    font-size: 14px;
    }

  .carousel-wrapper {
    flex-wrap: nowrap;

    /* padding: 0 0 10px; */
  }

  .arrow-link svg {
    margin: 0 3px;  
  }
}

@media (width <= 396px) and ((width > 366px)) {
  .hero-arrow-icon {
    margin-bottom: 10px;  
  }
}

@media (width <= 366px) {
  .hero-arrow-icon {
    margin-bottom: 50px;  
  }
}

@media (width <= 361px) {
  .hero-arrow-icon {
    margin-bottom: 80px;  
  }
}

/* Ensure responsive layout */
@media (width <= 767px) {
  .hero-banner-container {
    padding: 60px 20px;
    padding-left: 0;
    min-height: 450px;
  }

  .hero-content{
    padding-bottom: 118px;
  }
  .hero-title {
    font-size: 32px;
    margin-bottom: 8px;
    line-height: 44px;
  }

  .hero-heading {
    padding-left: 10px;
  }

  .hero-description {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
  }


  .hero-banner-carousal {
    left: 0;
  }

  .news-title {
    font-size: 12px;
    margin-bottom: 4px;
    line-height: 18px;
  }

  .news-description {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;

  }

  .carousel-item {
    gap: 24px;
    padding: 18px 24px;
    text-align: center;
    align-items: flex-start;
  }


  .carousel-image {
    width: 92px;
    height: 92px;
    /* margin-bottom: 10px; */
  }

  .carousel-wrapper {
    width: 100% !important;
    height: 134px;
  }

  .carousel-content {
    flex: 1;
  }

  .carousel-image img {
    height: 92px;
    flex: 1 0 0;
  }

  .navigation-arrows {
    gap:3px;
    padding-right: 5px;
    bottom: 18px;
  }

  .left-carousel-arrow {
    margin-top: 0;
    padding-top: 1px;
  }

  .navigation-arrows svg {
    height: 12px;
    width: 12px;
    margin: 0 1px;
  }

  .ellipse{
    margin-top: -2px;
  }

  .ellipse svg {
    height: 6px;
    width: 6px;
  }

  .icon-wrapper {
    padding-top: 0;
  }

  .news-link {
    font-size: 14px;
    line-height: 20px;
    margin: 4px 0;
  }
}
