.hero-banner-container {
  position: relative;
  width: 100%;
  color: var(--background-color);
  overflow: hidden;
  padding-top:225px;
  padding-bottom: 150px;
  margin-bottom: 45px;
}
.hero-banner-container.hero-carousal-variation {
  padding-bottom: 210px;
}

.hero-banner-container img {
  width: 100%;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

.news-link-container img {
  align-content: flex-end;
}

.hero-banner-container.hero-carousal-variation img {
  height: 100%;
}

.hero-title {
  font-size: 56px;
  font-weight: 400;
  margin: 0 0 12px;
  max-width: 750px;
  color: var(--background-color);
  text-shadow: 0 2px 4px rgb(0 0 0 / 30%);
  padding-left: 0;
  line-height: 66px;
}

.hero-heading {
  font-weight: 400;
  color: var(--background-color);
  text-shadow: 0 2px 4px rgb(0 0 0 / 30%);
  padding-left: 0;
  margin-bottom: 12px;
}

.hero-description {
  font-family: var(--heading-font-family);
  font-size: var(--font-size-xs);
  line-height: 24px;
  max-width: 638px;
  text-align: left;
  color: var(--light-grey);
  margin: 0;
  text-shadow: 0 1px 2px rgb(0 0 0 / 30%);
  padding-left: 0;
  min-height: 250px;   
}

.hero-banner-container.hero-carousal-variation .hero-description {
  min-height: auto;
}

.hero-banner-container .button-container {
  display: flex;
}

.hero-banner-container .button-container a {
  background: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  border: none;
  color: var(--primary-gold);
}

.hero-arrow-icon {
  cursor: pointer;
  transition: transform 0.3s ease;
  padding: 16px;
  color: var(--primary-gold);
}


.hero-banner-container .icon-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: left;
  line-height: 0;
}

/* Ensure proper icon color inheritance */
.cta-button .icon-wrapper {
  color: var(--background-color);
}

.hero-banner-carousal {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  overflow: hidden;
  background: var(--background-color);
  color: var(--text-color);
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.3s ease;
  width: 608px;
}

.navigation-arrows{
  padding-right: 45px;
  display: flex;
  gap: 3px;
  position: absolute;
  right: 187px;
  bottom: 36px;

}

.ellipse {
   padding-top: 12px; 

}

.ellipse-enabled {
  color: #B29152 !important;

}

.ellipse-disabled {
  color: #DBDBDB !important;
}

.left-carousel-arrow {
  margin-top: 0;
  margin-right: -2px;
  display: flex;
  align-items: center;
}

/* Carousel item container */
.carousel-item {
  display: flex;
  flex: 0 0 100%;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  gap: 47px;
  padding: 20px;
}

/* Left side: Text content (Title, Description, Read More) */
.carousel-content {
  flex: 0 0 65%;
  text-align: left;
}

.carousel-image {
  width: 151px;
  height: 118px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-image picture{
  width: 100%;
  height: 100%;   
}


.hero-banner-container .carousel-image img {
  height: 118px;
}

.news-title {
  font-family: var(--heading-font-family);
  font-size: var(--font-size-xxs);
  font-weight: 400;
  line-height: 18px; 
  text-transform: uppercase;
  color: var(--body-text-color); 
  margin-bottom: 4px;
}

.news-description {
  font-family: var(--heading-font-family);
  font-size: var(--font-size-xs);
  font-weight: 700;
  line-height: 24px; 
  color: var(--text-color); 
  margin-bottom: 12px;
}

.news-link {
  color: var(--primary-gold) !important;
  font-size: var(--font-size-xs);
  font-weight: 600;
  text-decoration: underline !important;
  margin: 6px 0;
  display: inline-flex;
}

.news-link-container {
  display: flex;
  justify-content: space-between;
}

.news-link-arrow-container{
  display: flex;
  gap: 20px;
  margin-right: 20px;
  color: var(--primary-gold);
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  background-color: rgb(0 0 0 / 50%);
  padding: 10px;
}

.carousel-arrow-left {
  left: 10px;
}

.carousel-arrow-right {
  right: 10px;
  margin-top: 1px;
}

.carousel-arrow svg {
  width: 24px;
  height: 24px;
  fill: var(--background-color);
}

.arrow-link svg {
  margin: 0 5px;  
  width: 14px;
  height: 14px;
}

.left-carousel-arrow svg, .right-carousel-arrow svg {
  cursor: pointer;
}

.left-carousel-arrow .disabled svg, .right-carousel-arrow .disabled svg {
  cursor: auto;
}

.news-thumbnail {
  width: 151px;
  height: 118px;
}

.hero-banner-container .ellipse {
  padding-top: 0;
}

.left-carousel-arrow, .right-carousel-arrow {
  margin-top: 2px;
}

@media (width <= 1599px) {
  .hero-description {
    min-height: 100px;
  }
}

@media (width <= 1439px) {
  .hero-description {
    min-height: auto;
  }
}

/* Responsive adjustments */
@media (width <= 991px) {
  .hero-banner-container img {
    object-fit: cover;
  }
  .hero-title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 10px;
  }

  .hero-description {
    font-size: var(--font-size-xs);
    line-height: 24px;
    margin-bottom: 10px;
  }

  .news-title {
    font-size: var(--font-size-xxs);
    }

  .carousel-wrapper {
    flex-wrap: nowrap;
  }

  .arrow-link svg {
    margin: 0 3px;  
  }

  .hero-heading {
    margin-bottom: 10px;
  }

  .navigation-arrows {
    right: 168px;
  }
}

@media (width <= 396px) and ((width > 366px)) {
  .hero-arrow-icon {
    margin-bottom: 10px;  
  }
}

@media (width <= 366px) {
  .hero-arrow-icon {
    margin-bottom: 50px;  
  }
}

@media (width <= 361px) {
  .hero-arrow-icon {
    margin-bottom: 80px;  
  }
}


@media (width <= 992px) {
  .hero-arrow-icon {
    padding: 12px;
  }

  .hero-banner-container, 
  .hero-banner-container.hero-carousal-variation {
    padding: 185px 20px 195px;
    padding-left: 0;
    min-height: 450px;
  }
}

/* Ensure responsive layout */
@media (width <= 767px) {
  .hero-banner-container,
  .hero-banner-container.hero-carousal-variation  {
    padding: 125px 20px;
    padding-left: 0;
    position: relative;
    margin-bottom: 24px;
    min-height: 500px;
  }
  .hero-arrow-icon {
    padding: 10px;
  }

  .hero-title {
    font-size: var(--font-size-l);
    margin-bottom: 8px;
    line-height: 44px;
  }

  .hero-heading {
    margin-bottom: 8px;
  }

  .hero-description {
    font-size: var(--font-size-xxs);
    line-height: 20px;
    margin-bottom: 8px;
  }


  .hero-banner-carousal {
    left: 0;
  }

  .news-title {
    font-size: var(--font-size-xxxs);
    margin-bottom: 4px;
    line-height: 18px;
  }

  .news-description {
    font-size: var(--font-size-xxs);
    line-height: 20px;
    margin-bottom: 8px;

  }

  .carousel-item {
    gap: 24px;
    padding: 18px 24px;
    text-align: center;
    align-items: flex-start;
  }


  .carousel-image {
    width: 92px;
    height: 92px;
  }

  .carousel-wrapper {
    width: 100% !important;
    height: 134px;
  }

  .carousel-content {
    flex: 1;
  }

  .hero-banner-container .carousel-image img {
    height: 92px;
    flex: 1 0 0;
  }

  .navigation-arrows {
    gap:3px;
    padding-right: 5px;
    bottom: 18px;
    right: 130px;
  }

  .left-carousel-arrow {
    margin-top: 1px;
    padding-top: 1px;
  }

  .navigation-arrows svg {
    height: 12px;
    width: 12px;
    margin: 0 1px; 
  }

  .ellipse{
    margin-top: -2px;
  }

  .ellipse svg {
    height: 6px;
    width: 6px;
  }

  .news-link {
    font-size: var(--font-size-xxs);
    line-height: 20px;
    margin: 4px 0;
  }

  .left-carousel-arrow, .right-carousel-arrow {
    margin-top: -2px;
  }

  .hero-carousal-variation .hero-content {
    padding-bottom: 118px;
  }
}