.hero-banner-container {
  position: relative;
  width: 100%;
  color: var(--background-color);
  overflow: hidden;
  padding-bottom: var(--spacing-20, 80px);

  min-height: 813px;
  display: flex;
  max-width: 2560px;
  margin: auto;
}

.hero-banner-container::after {
  position: absolute;
  content: '';
  inset: 0;
  pointer-events: none;
  background: linear-gradient(360deg,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(0, 0, 0, 0.45) 25%,
      rgba(0, 0, 0, 0.25) 45%,
      rgba(0, 0, 0, 0.1) 65%,
      rgba(0, 0, 0, 0) 85%);
  z-index: -1;
}

.hero-banner-container .hero-content {
  display: flex;
  justify-content: end;
  flex-direction: column;
  gap: var(--spacing-4, 16px);
}

.hero-banner-container.hero-carousal-variation .hero-content {
  height: auto;
  position: absolute;
  left: 0;
  bottom: 80px;
}

@media (width >=1200px) {
  .hero-banner-container.hero-carousal-variation .hero-content {
    width: min(50%, calc(100% - 700px));
  }
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
      object-fit: cover;
    /* width: auto; */
    max-width: none;
    height: 100%;
    /* width: revert-layer; */
}

.news-link-container img {
  align-content: flex-end;
}

.hero-banner-container.hero-carousal-variation img {
  /* height: 100%; */
  width: auto;
  object-fit: cover;
}

.hero-title {
  color: var(--colours-text-text-white, #FFF);

  /* H1/Regular */
  font-family: var(--typography-font-family-font-title, "Inter");
  font-size: var(--typography-font-size-text-4xl, 72px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--typography-font-line-height-leading-10, 88px);
  /* 122.222% */
  letter-spacing: var(--typography-font-spacing-tracking-normal, 0);
  margin: 0;
}

.hero-heading {
  font-weight: 400;
  color: var(--background-color);
  text-shadow: 0 2px 4px rgb(0 0 0 / 30%);
  padding-left: 0;
  margin-bottom: 12px;
}

.hero-description {
  color: var(--colours-text-text-white, #FFF);

  /* Body 1/Bold */
  font-family: var(--typography-font-family-font-body, "Instrument Sans");
  font-size: var(--typography-font-size-text-base, 16px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--typography-font-line-height-leading-3, 24px);
  /* 150% */
  letter-spacing: var(--typography-font-spacing-tracking-normal, 0);
}

.hero-banner-container .button-container {
  display: flex;
}

.carousel-content p,
.carousel-content a {
  margin: 0;
}

.hero-banner-container .button-container a {
  background: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  border: none;
  color: var(--primary-gold);
}

.hero-banner-container .hero-cta-group {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 34px;
}

.hero-banner-container .hero-cta {
  display: inline-flex;
}

.hero-banner-container .hero-cta .button-container {
  display: inline-flex;
  margin: 0;
}

.hero-banner-container .hero-cta-group .hero-cta a {
  display: flex;
  padding: var(--spacing-4, 16px) var(--spacing-5, 20px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-2, 8px);
  border-radius: var(--border-border-radius-rounded-xs, 4px);
  background: var(--button-primary-btn-primary-default-bg-hover, #C8AB4B);
  color: var(--button-primary-btn-primary-default-fg-hover, #3B3D3D);
  text-decoration: none;
  text-align: center;

  /* Body 1/Medium */
  font-family: var(--typography-font-family-font-body, "Instrument Sans");
  font-size: var(--typography-font-size-text-base, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--typography-font-line-height-leading-3, 24px);
  /* 150% */
  letter-spacing: var(--typography-font-spacing-tracking-normal, 0);
  border: 1px solid var(--button-primary-btn-primary-default-bg-hover, #C8AB4B);
}

.hero-banner-container .hero-cta-group .hero-cta.primary a span {
  color: #3B3D3D;
}

.hero-banner-container .hero-cta-group .hero-cta.secondary a {
  background: transparent;
  color: var(--button-secondary-btn-secondary-default-hover-fg, #C8AB4B);
}

.hero-arrow-icon {
  cursor: pointer;
  transition: transform 0.3s ease;
  padding: 16px;
  color: var(--primary-gold);
}


.hero-banner-container .icon-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: left;
  line-height: 0;
}

/* Ensure proper icon color inheritance */
.cta-button .icon-wrapper {
  color: var(--background-color);
}

.hero-banner-carousal {
  position: absolute;
  right: 80px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  overflow: hidden;
  background: var(--background-color);
  color: var(--text-color);
  margin-bottom: 83px;
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.3s ease;
  width: 608px;
}

.navigation-arrows {
  padding-right: 45px;
  display: flex;
  gap: 3px;
  position: absolute;
  left: 16px;
  bottom: 24px;
  align-items: anchor-center;
}

.ellipse {
  flex: 0 0 auto;
  width: 8px;
  height: 8px;
  background: #DBDBDB;
  border-radius: 50%;
  transition:
    width 0.3s ease,
    background-color 0.3s ease,
    border-radius 0.3s ease;
}


.ellipse-enabled {
  color: #C8AB4B !important;
  width: 24px;
  /* PILL */
  background: #C8AB4B;
  border-radius: 24px;
}

.ellipse svg,
.ellipse svg path {
  fill: currentColor;
}

.ellipse-disabled {
  color: #DBDBDB !important;
}

.leftright-arrow {
  position: absolute;
  bottom: 24px;
  right: 16px;
  display: flex;
  gap: 16px;
  z-index: 3;
}

.left-carousel-arrow,
.right-carousel-arrow {
  display: flex;
  width: 48px;
  height: 48px;
  padding: var(--spacing-4, 16px);
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  border-radius: var(--border-border-radius-rounded-full, 9999px);
  background: var(--button-icon-button-iconbtn-primary-default-bg, #8D713E);
  color: white !important;
  margin-top: 2px;
  position: relative;
}

.left-carousel-arrow:has(.disabled),
.right-carousel-arrow:has(.disabled) {
  border-radius: var(--border-border-radius-rounded-full, 9999px);
  border: 2px solid var(--colour-neutral-500, #959898);
  background: transparent;
}

/* Carousel item container */
.carousel-item {
  display: flex;
  flex: 0 0 100%;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  gap: 47px;
  padding: 24px 16px 82px;
}

/* Left side: Text content (Title, Description, Read More) */
.carousel-content {
  flex: 0 0 65%;
  text-align: left;
  gap: 4px;
  display: flex;
  flex-direction: column;
}

.carousel-image {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-image picture {
  width: 100%;
  height: 100%;
}


.hero-banner-container .carousel-image img {
  height: auto;
}

.news-title {
  color: var(--colours-text-text-placeholder, #959898);

  /* Label/Bold */
  font-family: var(--typography-font-family-font-body, "Instrument Sans");
  font-size: var(--typography-font-size-text-xxs, 12px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--typography-font-line-height-leading-2, 16px);
  /* 133.333% */
  letter-spacing: var(--typography-font-spacing-tracking-normal, 0);
}

.news-description {
  color: var(--colours-text-text-body, #3B3D3D);

  /* Body 2/Bold */
  font-family: var(--typography-font-family-font-body, "Instrument Sans");
  font-size: var(--typography-font-size-text-xs, 14px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--typography-font-line-height-leading-3, 24px);
  /* 171.429% */
  letter-spacing: var(--typography-font-spacing-tracking-normal, 0);
}

.news-link {
  color: var(--button-text-link-btn-textlink-default-hover-fg, #C8AB4B) !important;
  text-align: center;

  /* Body 1/Medium */
  font-family: var(--typography-font-family-font-body, "Instrument Sans");
  font-size: var(--typography-font-size-text-base, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--typography-font-line-height-leading-3, 24px);
  /* 150% */
  letter-spacing: var(--typography-font-spacing-tracking-normal, 0);
}

.news-link-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.news-link-arrow-container {
  display: flex;
  gap: 20px;
  margin-right: 20px;
  color: var(--primary-gold);
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  background-color: rgb(0 0 0 / 50%);
  padding: 10px;
}

.carousel-arrow-left {
  left: 10px;
}

.carousel-arrow-right {
  right: 10px;
  margin-top: 1px;
}

.carousel-arrow svg {
  width: 24px;
  height: 24px;
  fill: var(--background-color);
}


.arrow-link svg {
  width: 14px;
  height: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  display: block;
  margin: auto;
}

.left-carousel-arrow svg,
.right-carousel-arrow svg {
  cursor: pointer;
}

.left-carousel-arrow .disabled svg,
.right-carousel-arrow .disabled svg {
  cursor: auto;
}

.news-thumbnail {
  width: 151px;
  height: 118px;
}

.hero-banner-container .ellipse {
  padding-top: 0;
}

/* Responsive adjustments */
@media (width <=1199px) {

  /* .hero-banner-container img {
    object-fit: cover;
  } */
  .hero-title {
    color: var(--colours-text-text-white, #FFF);

    /* H3/Regular */
    font-family: var(--typography-font-family-font-title, Inter);
    font-size: var(--typography-font-size-text-xl, 36px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--typography-font-line-height-leading-7, 56px);
    /* 155.556% */
    letter-spacing: var(--typography-font-spacing-tracking-normal, 0);
  }

  .hero-description {
    color: var(--colours-text-text-white, #FFF);

    /* Body 1/Bold */
    font-family: var(--typography-font-family-font-body, "Instrument Sans");
    font-size: var(--typography-font-size-text-base, 16px);
    font-style: normal;
    font-weight: 700;
    line-height: var(--typography-font-line-height-leading-3, 24px);
    /* 150% */
    letter-spacing: var(--typography-font-spacing-tracking-normal, 0);
  }

  .news-title {
    font-size: var(--font-size-xxs);
  }

  .carousel-wrapper {
    flex-wrap: nowrap;
  }

  .arrow-link svg {
    margin: 0 3px;
  }

  .hero-heading {
    margin-bottom: 10px;
  }

  .navigation-arrows {
    right: 168px;
  }
}

@media (width <=396px) and ((width > 366px)) {
  .hero-arrow-icon {
    margin-bottom: 10px;
  }
}

@media (width <=366px) {
  .hero-arrow-icon {
    margin-bottom: 50px;
  }
}

@media (width <=361px) {
  .hero-arrow-icon {
    margin-bottom: 80px;
  }
}


@media (width <=1199px) {
  .hero-arrow-icon {
    padding: 12px;
  }

  .hero-banner-container,
  .hero-banner-container.hero-carousal-variation {
    /* padding: 185px 20px 195px;
    padding-left: 0; */
  }
}

/* Ensure responsive layout */
@media (width <=1199px) {
  .leftright-arrow {
    bottom: 16px;
  }

  .hero-banner-container.hero-carousal-variation .hero-content {
    bottom: 0;
    padding-bottom: calc(220px + 64px);
  }

  .hero-banner-container.hero-carousal-variation img {
    /* height: auto; */
    width: auto;
    object-fit: cover;

  }

  .hero-banner-container,
  .hero-banner-container.hero-carousal-variation {
    padding-left: 0;
    position: relative;
  }

  .hero-banner-container.hero-carousal-variation {
    height: 654px;
  }

  .hero-arrow-icon {
    padding: 10px;
  }

  .hero-title {
    font-size: var(--font-size-l);
    margin-bottom: 8px;
    line-height: 44px;
  }

  .hero-heading {
    font-size: var(--font-size-xs);
    margin-bottom: 8px;
  }

  .hero-description {
    font-size: var(--font-size-xxs);
    line-height: 20px;
    margin-bottom: 8px;
  }


  .hero-banner-carousal {
    left: 0;
    margin-bottom: 0;
    width: 100%;
  }

  .news-title {
    font-size: var(--font-size-xxs);
    margin-bottom: 4px;
    line-height: 18px;
  }

  .news-description {
    font-size: var(--font-size-xxs);
    line-height: 20px;
    margin-bottom: 8px;

  }

  .carousel-item {
    gap: 24px;
    text-align: center;
    align-items: flex-start;
  }


  .carousel-image {
    width: 193px;
  }

  .carousel-wrapper {
    width: 100% !important;
    height: 220px;
  }

  .carousel-wrapper .carousel-item {
    width: 100%;
  }

  .carousel-content {
    flex: 1;
  }

  .hero-banner-container .carousel-image img {
    height: auto;
    flex: 1 0 0;
    object-fit: cover;
  }

  .navigation-arrows {
    gap: 3px;
    padding-right: 5px;
    bottom: calc(16px + 48px / 2);
    right: 148px;
    transform: translateY(50%);
  }

  .left-carousel-arrow {
    margin-top: 1px;
    padding-top: 1px;
  }

  .navigation-arrows svg {
    height: 12px;
    width: 12px;
    margin: 0 1px;
  }

  .ellipse {
    margin-top: -2px;
  }

  .ellipse svg {
    height: 6px;
    width: 6px;
  }

  .news-link {
    font-size: var(--font-size-xxs);
    line-height: 20px;
    margin: 4px 0;
  }

  .left-carousel-arrow,
  .right-carousel-arrow {
    margin-top: -2px;
  }

  .hero-carousal-variation .hero-content {
    padding-bottom: 118px;
  }
}

@media(width >=410px) and (width < 500px) {
  .hero-banner-container.hero-carousal-variation {
    height: 725px;
  }
}

@media (width <=767px) {
  .hero-banner-container .hero-cta-group {
    flex-direction: column;
  }

  .hero-banner-container .hero-cta-group .hero-cta,
  .hero-banner-container .hero-cta-group .hero-cta .button-container {
    width: 100%;
  }

  .hero-banner-container .hero-cta-group .hero-cta a {
    display: flex;
    padding: var(--spacing-2, 8px) var(--spacing-3, 12px);
    justify-content: center;
    align-items: center;
    gap: var(--spacing-2, 8px);
    align-self: stretch;
    width: 100%;
  }

  .hero-title {
    color: var(--colours-text-text-white, #FFF);

    /* H5/Regular */
    font-family: var(--typography-font-family-font-title, Inter);
    font-size: var(--typography-font-size-text-m, 28px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--typography-font-line-height-leading-5, 44px);
    /* 157.143% */
    letter-spacing: var(--typography-font-spacing-tracking-normal, 0);
  }

  .hero-description {
    color: var(--colours-text-text-white, #FFF);

    /* Body 1/Bold */
    font-family: var(--typography-font-family-font-body, "Instrument Sans");
    font-size: var(--typography-font-size-text-base, 16px);
    font-style: normal;
    font-weight: 700;
    line-height: var(--typography-font-line-height-leading-3, 24px);
    /* 150% */
    letter-spacing: var(--typography-font-spacing-tracking-normal, 0);
  }
}