.coreprinciples {
    padding: 4rem 0;
}

.coreprinciples .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.coreprinciples > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.principles-item {
    padding: 12px !important;
}

.principles-item > div {
    background-color: #f7f7f7;
    padding: 16px;
    display: flex;
    flex-direction: column;
    height: 100%; /* Fills parent height */
}

.coreprinciples .icon-wrapper {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px 10px;
    align-self: stretch;
}

.coreprinciples .icon-wrapper picture {
    width: 124px;
    height: 124px;
}

.coreprinciples .icon-wrapper svg {
    width: 100%;
    height: 100%;
    fill: rgb(196 163 98);
}

.coreprinciples h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 10px;
    margin-top: 0;
}

.coreprinciples [data-richtext-prop="description"] {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(75 85 99);
}
@media (width <= 992px) {
    .coreprinciples .icon-wrapper {
        padding: 36px 10px;
    }
    .coreprinciples .row {
        justify-content: left;
    }
    .coreprinciples .icon-wrapper picture {
        width: 80px;
        height: 80px;
    }

    .coreprinciples h3 {
        font-size: 18px;
    }
}
@media (width < 768px) {
    .coreprinciples {
        padding: 2rem 0;
    }
    
    .coreprinciples .icon-wrapper {
        padding: 28px 10px;
        margin-bottom: 10px;
    }

    .coreprinciples .icon-wrapper picture {
        width: 64px;
        height: 64px;
    }

    .coreprinciples h3 {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 8px;
    }

    .coreprinciples [data-richtext-prop="description"] {
        font-size: 14px;
        line-height: 20px;
    }
}
