.coreprinciples {
    padding: 136px 0;
}

.coreprinciples .coreprinciples {
    padding: 0;
    position: relative;
}

.coreprinciples .coreprinciples::after {
    content: '';
    width: calc(100% - 320px);
    height: 1px;
    max-width: 1120px;
    background: var(--text-color);
    margin: 0 auto;
    transform: translateY(136px);
}

.coreprinciples .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -18px;
    margin-right: -18px;
    width: 100%; 
}

.coreprinciples > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.principles-item, .principles-item:first-child, .principles-item:last-child {
    padding: 0 18px;
}

.principles-item > div {
    background-color: #f7f7f7;
    padding: 16px;
    display: flex;
    flex-direction: column;
    height: 100%; /* Fills parent height */
}

.coreprinciples .icon-wrapper {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px 10px;
    align-self: stretch;
}

.coreprinciples .icon-wrapper picture {
    width: 124px;
    height: 124px;
}

.coreprinciples .icon-wrapper svg {
    width: 100%;
    height: 100%;
    fill: rgb(196 163 98);
}

.coreprinciples .coreprinciples-card-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 10px;
    margin-top: 0;
    color: var(--text-color);
}

.coreprinciples [data-aue-prop="description"], .coreprinciples div:last-child p {
    font-size: 16px;
    line-height: 24px;
    color: var(--body-text-color);
}

.coreprinciples [data-richtext-prop="description"], .coreprinciples div:last-child p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--body-text-color);
}
@media (width <= 1199px) {
    .coreprinciples .coreprinciples::after {
        width: calc(100% - 88px);
    }
}
@media (width <= 992px) {
    .coreprinciples .icon-wrapper {
        padding: 36px 10px;
    }

    .coreprinciples .row {
        justify-content: left;
        margin-left: -12px;
        margin-right: -12px;
    }

    .coreprinciples .icon-wrapper picture {
        width: 80px;
        height: 80px;
    }

    .coreprinciples .coreprinciples-card-title {
        font-size: 18px;
    }

    .principles-item, .principles-item:first-child, .principles-item:last-child {
        padding: 0 12px;
    }

    .principles-item:not(:last-child) {
        margin-bottom: 24px;
    }

    .coreprinciples {
        padding: 56px 0;
    }

    .coreprinciples .coreprinciples::after {
        transform: translateY(56px);
    }
}
@media (width < 768px) {
    .coreprinciples {
        padding: 24px 0;
    }

    .coreprinciples .coreprinciples::after {
        display: none;
    }
    
    .coreprinciples .icon-wrapper {
        padding: 28px 10px;
        margin-bottom: 10px;
    }

    .coreprinciples .icon-wrapper picture {
        width: 64px;
        height: 64px;
    }

    .coreprinciples .coreprinciples-card-title {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 8px;
    }

    .coreprinciples [data-aue-prop="description"], .coreprinciples div:last-child p {
        font-size: 14px;
        line-height: 20px;
    }

    .coreprinciples [data-richtext-prop="description"], .coreprinciples div:last-child p {
        font-size: 14px;
        line-height: 20px;
    }

    .coreprinciples .row {
        margin-left: -9px;
        margin-right: -9px;
    }

    .principles-item, .principles-item:first-child, .principles-item:last-child {
        padding: 0 9px;
    }

    .principles-item:not(:last-child) {
        margin-bottom: 18px;
    }
}
