.coreprinciples {
    padding: 0 0 45px;
    margin-top: 45px;
}

.coreprinciples .coreprinciples {
    padding: 0;
    position: relative;
}

.coreprinciples .coreprinciples .container::after {
    content: '';
    width: 100%;
    height: 1px;
    background: var(--text-color);
    margin: 0 auto;
    transform: translateY(45px);
}
.coreprinciples.coreprinciples-no-border .container::after{
    display: none;
}

#remove-border-bottom .container::after{
    display: none;
}

.coreprinciples .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -18px;
    margin-right: -18px;
    width: 100%; 
    row-gap: 36px;
}

.coreprinciples > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.principles-item > div {
    background-color: #f7f7f7;
    padding: 16px;
    display: flex;
    flex-direction: column;
    height: 100%; /* Fills parent height */
}
.principles-item > div:first-child {
    padding: 20px;
}

.coreprinciples .icon-wrapper {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px 10px;
    align-self: stretch;
}

.coreprinciples .icon-wrapper picture {
    width: 124px;
    height: 124px;
}

.coreprinciples .icon-wrapper svg {
    width: 100%;
    height: 100%;
    fill: rgb(196 163 98);
}

.coreprinciples .coreprinciples-card-title {
    font-size: var(--font-size-s);
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 10px;
    margin-top: 0;
    color: var(--text-color);
}

.coreprinciples [data-aue-prop="description"], .coreprinciples div:last-child p {
    font-size: var(--font-size-xs);
    line-height: 24px;
    color: var(--body-text-color);
}

.coreprinciples [data-richtext-prop="description"], .coreprinciples div:last-child p {
    font-size: var(--font-size-xs);
    font-weight: 400;
    line-height: 24px;
    color: var(--body-text-color);
}
@media (width <= 1199px) {
    .coreprinciples .coreprinciples .container::after {
        width: 100%;
    }
}
@media (width <= 992px) {
    .coreprinciples .icon-wrapper {
        padding: 36px 10px;
        margin-bottom: 0;
    }

    .coreprinciples .row {
        justify-content: left;
        margin-left: -12px;
        margin-right: -12px;
        row-gap: 24px;
        width: auto;
    }

    .coreprinciples .icon-wrapper picture {
        width: 80px;
        height: 80px;
    }

    .coreprinciples .coreprinciples-card-title {
        font-size: 18px;
    }

    .principles-item, .principles-item:first-child, .principles-item:last-child {
        padding: 0 12px;
    }

    .coreprinciples {
        padding: 0 0 28px;
        margin-top: 28px;
    }

    .coreprinciples .coreprinciples .container::after {
        transform: translateY(28px);
    }
}
@media (width < 768px) {
    .coreprinciples {
        padding: 0 0 24px;
        margin-top: 24px
    }

    .coreprinciples .coreprinciples .container::after {
        display: none;
    }
    
    .coreprinciples .icon-wrapper {
        padding: 28px 10px;
        margin-bottom: 10px;
    }

    .coreprinciples .icon-wrapper picture {
        width: 64px;
        height: 64px;
    }

    .coreprinciples .coreprinciples-card-title {
        font-size: var(--font-size-xs);
        line-height: 20px;
        margin-bottom: 8px;
    }

    .coreprinciples [data-aue-prop="description"], .coreprinciples div:last-child p {
        font-size: var(--font-size-xxs);
        line-height: 20px;
    }

    .coreprinciples [data-richtext-prop="description"], .coreprinciples div:last-child p {
        font-size: var(--font-size-xxs);
        line-height: 20px;
    }

    .coreprinciples .row {
        margin-left: -9px;
        margin-right: -9px;
        row-gap: 18px;
    }

    .principles-item, .principles-item:first-child, .principles-item:last-child {
        padding: 0px;
    }
    
    .principles-item > div{
        padding: 12px;
    }

    .row .principles-item:nth-child(1), .row .principles-item:nth-child(3){
        margin-left: 0px;
    }

    .row .principles-item:nth-child(2) {
        margin-left: 0px;
        padding-right: 0;
        padding-left: 0px;
    }
}

@media (width>=1200px){
    .principles-item > div{
        padding: 20px;
    }
}