/* Core Principles Component */
.coreprinciples {
    margin-top: 64px;
}

.coreprinciples .coreprinciples {
    padding: 0;
    position: relative;
}

.coreprinciples .coreprinciples .container::after {
    content: '';
    width: 100%;
    height: 1px;
    background: var(--text-color);
    margin: 0 auto;
    transform: translateY(80px);
}

.coreprinciples.coreprinciples-no-border .container::after{
    display: none;
}

#remove-border-bottom .container::after {
    display: none;
}

.coreprinciples > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coreprinciples .coreprinciples-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 24px;
}

.principles-item {
    padding: 0;
}

.principles-item > div {
    background-color: var(--primary-default-fg);
    padding: 24px;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 8px;
}

.principles-item > div:first-child {
    padding: 24px;
}

.coreprinciples .icon-wrapper {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    align-self: stretch;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
}

.coreprinciples .icon-wrapper picture {
    width: 64px;
    height: 64px;
    color: var(--color-fg-tertiary);
}

.coreprinciples .coreprinciples-card-title {
    font-family: var(--typography-font-family-font-title);
    font-size: 36px;
    font-weight: 400;
    line-height: 56px;
    margin-bottom: 24px;
    margin-top: 0;
    color: var(--color-text-body);
}

.coreprinciples [data-aue-prop="description"],
.coreprinciples div:last-child p {
    font-family: var(--typography-font-family-font-body);
    font-size: var(--font-size-xs);
    font-weight: 400;
    line-height: 24px;
    color: var(--color-text-body);
    margin: 0;
}

.coreprinciples [data-richtext-prop="description"],
.coreprinciples div:last-child p {
    font-family: var(--typography-font-family-font-body);
    font-size: var(--font-size-xs);
    font-weight: 400;
    line-height: 24px;
    color: var(--color-text-body);
    margin: 0;
}



/* Tablet styles (768px - 1199px) */
@media (width >= 768px) and (width < 1200px) {
    .coreprinciples .coreprinciples-container {
        display: flex;
        flex-direction: column;
    }

    .coreprinciples .icon-wrapper {
        padding: 0;
        margin-bottom: 0;
        align-self: center;
    }

    .coreprinciples .icon-wrapper picture {
        width: 64px;
        height: 64px;
    }

    .principles-item .content-wrapper {
        display: flex;
        flex-direction: column;
    }

    .coreprinciples .coreprinciples-card-title {
        font-size: var(--font-size-l);
        line-height: 48px;
        margin-bottom: 16px;
    }

    .principles-item > div {
        flex-direction: row;
        gap: 32px;
        padding: 24px;
        align-items: center;
    }

    .coreprinciples {
        margin-top: 40px;
    }

    .coreprinciples .coreprinciples .container::after {
        transform: translateY(64px);
    }

    .row .principles-item:nth-child(1),
    .row .principles-item:nth-child(3) {
        margin-left: -12px;
    }

    .row .principles-item:nth-child(2) {
        margin-left: 12px;
        padding-right: 0;
        padding-left: 24px;
    }
}

/* Mobile styles (< 768px) */
@media (width < 768px) {
    .coreprinciples {
        margin-top: 24px;
    }

    .coreprinciples .coreprinciples-container {
        display: flex;
        flex-direction: column;
    }

    .coreprinciples .coreprinciples .container::after {
        display: none;
    }

    .coreprinciples .icon-wrapper {
        padding: 0;
        margin-bottom: 24px;
        width: 64px;
        height: 64px;
    }

    .coreprinciples .icon-wrapper picture {
        width: 64px;
        height: 64px;
    }

    .coreprinciples .coreprinciples-card-title {
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 8px;
    }

    .coreprinciples [data-aue-prop="description"],
    .coreprinciples div:last-child p {
        font-size: var(--font-size-xs);
        line-height: 24px;
    }

    .coreprinciples [data-richtext-prop="description"],
    .coreprinciples div:last-child p {
        font-size: var(--font-size-xs);
        line-height: 24px;
    }

    .coreprinciples .row {
        flex-direction: column;
        margin-left: -9px;
        margin-right: -9px;
        row-gap: 24px;
        gap: 24px;
    }

    .principles-item,
    .principles-item:first-child,
    .principles-item:last-child {
        padding: 0;
    }

    .principles-item > div {
        flex-direction: column;
        padding: 24px;
    }

    .row .principles-item:nth-child(1),
    .row .principles-item:nth-child(3) {
        margin-left: 0;
    }

    .row .principles-item:nth-child(2) {
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
    }
}
