.searchresult-wrapper {
  display: flex;
  padding: var(--spacing-20, 80px);
  gap: var(--spacing-25, 10px);
  align-self: stretch;
  flex-direction: column;
}

.searchresult {
  display: flex;
  padding: 0 0 0 var(--spacing-0, 0);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-10, 40px);
  flex: 1 0 0;
}

.searchresult-header {
  color: var(--colours-text-text-body, #3B3D3D);
  font-family: var(--typography-font-family-font-body, "Instrument Sans");
  font-size: var(--typography-font-size-text-base, 16px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--typography-font-line-height-leading-3, 24px);
  /* 150% */
  letter-spacing: var(--typography-font-spacing-tracking-normal, 0);
}

.searchresult-list {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 40px;
  display: flex;
  flex-direction: column;
}

.searchresult-item {
  display: flex;
  padding: var(--spacing-0, 0);
  /* align-items: center; */
  gap: var(--spacing-6, 24px);
  align-self: stretch;
  flex-direction: column;
}

.searchresult-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-2, 8px);
  align-self: stretch;
}

.searchresult-title a {
  color: var(--colours-text-text-primary, #1D3D51);

  /* H6/Bold */
  font-family: var(--typography-font-family-font-title, Inter);
  font-size: var(--typography-font-size-text-sm, 24px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--typography-font-line-height-leading-4, 40px);
  /* 166.667% */
  letter-spacing: var(--typography-font-spacing-tracking-normal, 0);
}

.searchresult-title a:hover {
  text-decoration: underline;
}

.searchresult-date {
  font-size: 13px;
  color: #6b7280;
  margin-bottom: 8px;
}

.searchresult-desc {
  color: var(--colours-text-text-body, #3B3D3D);

  /* Body 1/Medium */
  font-family: var(--typography-font-family-font-body, "Instrument Sans");
  font-size: var(--typography-font-size-text-base, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--typography-font-line-height-leading-3, 24px); /* 150% */
  letter-spacing: var(--typography-font-spacing-tracking-normal, 0);
}

.searchresult-link {
  color: var(--button-text-link-btn-textlink-default-fg, #8D713E) !important;

  /* Body 1/Medium */
  font-family: var(--typography-font-family-font-body, "Instrument Sans");
  font-size: var(--typography-font-size-text-base, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--typography-font-line-height-leading-3, 24px);
  /* 150% */
  letter-spacing: var(--typography-font-spacing-tracking-normal, 0);
}

.searchresult-link:hover {
  text-decoration: underline;
}