/* ================================
   Columns base (BLOCK ONLY)
   ================================ */
.columns.columns-block.block {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  gap: 64px;
}
.columns.columns-block.block.columns-cols {
  display: flex;
  flex-direction: column;
  gap: 64px;
}


.columns .textblock h1,
.columns .textblock h2,
.columns .textblock h3,
.columns .textblock h4,
.columns .textblock h5,
.columns .textblock h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.columns .textblock h2 {
  line-height: 72px;
}

.columns .textblock h6 {
  line-height: 40px;
}


/* =========================================================
   Paragraph spacing
   ========================================================= */

.columns.textblock p {
  margin-top: 0;
  margin-bottom: 0;
}

/* row */
.columns.columns-block.block > .columns.columns-row {
  display: flex;
  flex-direction: column;
}

/* col */
.columns.columns-block.block .columns.columns-col {
  width: 100%;
}

/* image helper */
.columns.columns-block.block .columns.columns-img-col img {
  display: block;
  width: 100%;
}

/* ================================
   Desktop: multi-column only
   ================================ */
@media (width >= 900px) {
  .columns.columns-block.block:not(.columns-1-cols) > .columns.columns-row {
    flex-direction: row;
    gap: 24px;
    align-items: center;
  }

  .columns.columns-block.block:not(.columns-1-cols) .columns.columns-col {
    flex: 1;
  }
}

/* ================================
   Branded icon
   ================================ */
.columns.columns-block.block > .columns-branded-icon {
  display: flex;
  justify-content: center;
  color: var(--color-fg-secondary);
}

.columns.columns-block.block > .columns-branded-icon svg {
  width: 32px;
  height: 32px;
}

/* ================================
   Background variants
   ================================ */
.columns-wrapper:has(.columns-block.block.bg-primary) {
  background-color: var(--color-bg-primary);
  border-top: 1px solid var(--colours-border-border-base, #E8EBEB);
  border-bottom: 1px solid var(--colours-border-border-base, #E8EBEB);
}

.columns-wrapper:has(.columns.columns-block.block.bg-light) {
  background-color: var(--color-bg-white);
}

.columns-wrapper:has(.columns.columns-block.block.bg-white) {
  background-color: #fff;
}

.columns-wrapper:has(.columns.columns-block.block.bg-transparent) {
  background-color: transparent;
}


@media (width <= 1200px) {
  .columns.columns-block.block {
    padding: 40px;
  }
  .columns.columns-block.block.columns-cols {
    gap: 24px;
  }
}

@media (width <= 768px) {
  .columns.columns-block.block {
    padding: 24px;
  }
}