.tabsectiontitle-container .tabs-title {
    color: #000;
    font-weight: 500;
    font-size: var(--font-size-m);
    margin-bottom: 15px;
}

@media (width>=768px) {
    .tabsectiontitle-container .tabs-title {
        font-size: var(--font-size-l);
        padding-top: 56px;
        margin-bottom: 25px;
    }
}
@media (width>=1024px) {
    .tabsectiontitle-container .tabs-title {
        padding-top: 80px;
        font-size: var(--font-size-xl);
    }
}