.iframe-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 1220px;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.iframe-error {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  color: #666;
  font-size: 16px;
  padding: 20px;
  text-align: center;
}