  *{
    box-sizing: border-box;
  }

  .projectcards{
    margin: 45px 0;
  }

  .projectcards .projectcards-header {
    margin-bottom: 42px;
  }

  .projectcards .projectcards-title {
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: var(--text-color);
    margin-bottom: 20px;
  
    }

    .projectcards .projectcards-heading {
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 500;
    line-height: 50px; 
    letter-spacing: -0.5px;
    margin-bottom: 10px;
    margin-top: 0;
    color: var(--text-color);

  }

  .projectcards .projectcards-description {
    font-size: var(--font-size-xs);
    font-style: normal;
    font-weight: 400;
    line-height:24px;
    color: var(--body-text-color);
  }

  .projectcards .projectcards-grid {
    margin-left: -18px;
    margin-right: -18px;
  }

  .projectcards .project-card {
    padding: 0 18px;
    height: max-content;
  }

  .projectcards .project-card:first-child{
    padding-left: 18px;
  }

  .projectcards .project-card:last-child{
    padding-right: 18px;
  }

  .projectcards .project-card [data-aue-prop="image"]{
    margin-bottom: 12px;
  }

  .projectcards .project-card [data-aue-prop="image"] picture{
    width: 100%;
    height: auto;
  }

  .projectcards .project-card-image {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  .projectcards .project-card-content {
    padding: 0
  }

  .projectcards .project-card-title {
    font-size: var(--font-size-xs);
    font-weight: 700;
    line-height: 24px;
    color: var(--text-color);
    text-decoration: underline;
  }

  .projectcards .project-card-location {
    font-size: var(--font-size-xs);
    font-weight: 400;
    line-height: 24px; 
    color: var(--text-color);

  }

  .projectcards .projectcards-view-all {
    text-align: right;
  }

  .projectcards .view-all-link {
    font-size: var(--font-size-xs);
    line-height: 24px;
    color: var(--primary-gold)!important;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease; 
    background: none;
    text-decoration: underline;
  }

  .projectcards .view-all-link:hover {
    color: var(--primary-gold);
  }

  .project-card-title a{
    color: var(--text-color);
    text-decoration: none;
  }

  .projectcards.grey-background{
    background-color: var(--whisper-gray);
    padding: 45px 0;
  }
  
  .projectcards ul {
    padding-left: 17px;
  }

  .carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
  }

  .carousel-container {
    display: flex;
    transition: transform 0.5s ease;
    flex-wrap: nowrap;
  }
  .carousel-prev,.carousel-prev:focus, .carousel-prev:hover{
    background-color: transparent;
  }
  .carousel-next,.carousel-next:focus, .carousel-next:hover{
    background-color: transparent;
  }

  .button-group{
    display: flex;
    align-items:center;
    gap: 40px;
    justify-content: center;
    padding-top: 42px;
  }
  .card-pair{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    flex: 1;
    min-width: 100%;
    padding: 0;
	  height: max-content;
  }

  @media (width<=992px){
    .projectcards{
      margin: 28px 0;
    }
    .projectcards.grey-background {
      padding: 28px 0 28px;
    }

    .carousel-container{
      display: flex;
      flex-direction: row;
    }

    .projectcards .projectcards-header {
      margin-bottom: 34px;
      padding: 0;
    }
    
    .projectcards .projectcards-title {
      font-size: var(--font-size-xs);
      font-weight: 700;
      line-height: 18px;
      margin-bottom: 16px;
    }
    
    .projectcards .projectcards-heading {
      font-size: var(--font-size-l);
      line-height: 42px; 
    }
    
    .projectcards .projectcards-grid {
      box-sizing: border-box;
      margin-bottom: 28px;
      row-gap: 24px;
      margin-left: -12px;
      margin-right: -12px;
    }
    
    .projectcards .project-card {
      padding: 0 12px!important;
    }
    .projectcards .project-card [data-aue-prop="image"]{
      margin-bottom: 10px;
    }
  
  }

  @media (width <= 834px) {
    .projectcards .project-card [data-aue-prop="image"]{
      height: 361px;
    }
	.button-group{
		gap: 32px;
		padding-top: 34px;
	}
  }

  @media (width <= 768px) {
      .projectcards{
        margin: 24px 0;
      }
      .projectcards.grey-background {
        padding: 32px 0 12px;
      }

      .projectcards .projectcards-header {
        margin-bottom: 26px;
      }
      
      .projectcards .projectcards-title {
        font-size: var(--font-size-xs);
        font-weight: 600;
        line-height: 20px;
        margin-bottom: 12px;
      
        }
      
        .projectcards .projectcards-heading {
          font-size: var(--font-size-m);
          line-height: 34px; 
        }

        .projectcards .projectcards-description {
          font-size: var(--font-size-xxs);
          line-height:20px;
        }
      
      
      .projectcards .projectcards-grid {
        margin-bottom: 26px;
        row-gap: 18px;
        margin-left: -9px;
        margin-right: -9px;
      }
      
      .projectcards .project-card {
        padding: 12px 9px!important;
      }
      
      .projectcards .project-card [data-aue-prop="image"]{
        margin-bottom: 8px;
      }

      .projectcards .project-card-title {
        font-size: var(--font-size-xxs);
        font-weight: 700;
        line-height: 20px;
      }
      
      .projectcards .project-card-location {
        font-size: var(--font-size-xxs);
        font-weight: 400;
        line-height: 20px; 
      
      }

      .projectcards .view-all-link {
        font-size: var(--font-size-xxs);
        line-height: 20px;
      }
    
    
  } 

  @media (width <= 640px) {
    .projectcards .project-card [data-aue-prop="image"]{
      height: 162px;
    }
	.button-group{
		gap: 28px;
		padding-top: 26px;
	  }
	.projectcards .project-card {
		padding: 9px!important;
	}
  }

  /* CERTIFICATIONS VARIATION  */
  .certifications .projectcards-header {
    margin-bottom: 25px;
  }

  .certifications .project-card [data-aue-prop="image"] {
    margin-bottom: 12px;
    text-align: center;
    background: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 162 / 122;
  }

  .certifications .project-card [data-aue-prop="image"] img,
  .certifications .project-card [data-aue-prop="image"] picture{
    height: auto;
    width: auto;
    display: block;
    max-width: 106px;
    max-height: 106px;
    aspect-ratio: auto;
  }

  .certifications .project-card-title {
    text-decoration: none;
    margin-bottom: 12px;
  }

  .certifications .project-card-location {
    color: var(--body-text-color);
  }

  @media (width>=768px) {
    .certifications .projectcards-heading {
      font-size: 32px;
      line-height: 42px;
      margin-bottom: 30px
    }

    .certifications .project-card [data-aue-prop="image"] {
      margin-bottom: 20px;
      aspect-ratio: 361 / 230;
    }

    .certifications .project-card-title {
      font-size: 16px;
      line-height: 14px
    }

    .certifications .project-card-location {
      font-size: 16px;
    }
  }

  @media (width>=993px) {
    .project-cards-wrapper {
      margin: 45px 0;
    }
    .certifications .projectcards-heading {
      font-size: 40px;
      line-height: 50px;
      margin-bottom: 40px
    }

    .certifications .project-card [data-aue-prop="image"] {
      margin-bottom: 25px;
      aspect-ratio: 253 / 161;
    }

    .certifications .project-card-title {
      line-height: 24px
    }

    .certifications .project-card-location {
      font-size: 16px;
    }
  }
