*{
  box-sizing: border-box;
}

.projectcards{
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--whisper-gray);
}

.projectcards .projectcards-header {
  margin-bottom: 42px;
  padding: 0 18px;
}

.projectcards .projectcards-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: var(--text-color);
  margin-bottom: 20px;
 
  }

  .projectcards .projectcards-heading {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px; 
  letter-spacing: -0.5px;
  margin-bottom: 10px;
  margin-top: 0;
  color: var(--text-color);

}

.projectcards .projectcards-description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height:24px;
  max-width: 800px;
  color: var(--body-text-color);
}

.projectcards .projectcards-grid {
  margin-bottom: 42px;
}

.projectcards .project-card {
  padding: 0 18px;
}

.projectcards .project-card:first-child{
  padding-left: 18px;
}

.projectcards .project-card:last-child{
  padding-right: 18px;
}

.projectcards .project-card [data-aue-prop="image"]{
  height: 253px;
  margin-bottom: 12px;
}

.projectcards .project-card [data-aue-prop="image"] picture{
  width: 100%;
  height: 100%;
}

.projectcards .project-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projectcards .project-card-content {
  padding: 0
}

.projectcards .project-card-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--text-color);
  text-decoration: underline;
}

.projectcards .project-card-location {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; 
  color: var(--text-color);

}

.projectcards .projectcards-view-all {
  text-align: right;
}

.projectcards .view-all-link {
  font-size: 16px;
  line-height: 24px;
  color: var(--primary-gold)!important;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease; 
  background: none;
}

.projectcards .view-all-link:hover {
  color: var(--primary-gold);
}

@media (width<=992px){
  .projectcards{
    padding: 40px 44px;
  }

  .projectcards .projectcards-header {
    margin-bottom: 34px;
    padding: 0;
  }
  
  .projectcards .projectcards-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 16px;
   
    }
  
    .projectcards .projectcards-heading {
      font-size: 32px;
      line-height: 42px; 
    }
  
  
  .projectcards .projectcards-grid {
    box-sizing: border-box;
    margin-bottom: 42px;
    row-gap: 24px;
    margin-left: -12px;
    margin-right: -12px;
  }
  
  .projectcards .project-card {
    padding: 0 12px!important;
  }

  .projectcards .project-card [data-aue-prop="image"]{
    height: 206px;
    margin-bottom: 10px;
  }

 
}

@media (width <= 834px) {
  .projectcards .project-card [data-aue-prop="image"]{
    height: 361px;
  }
}

@media (width <= 768px) {
    .projectcards{
      padding: 32px 24px;
    }

    .projectcards .projectcards-header {
      margin-bottom: 26px;
    }
    
    .projectcards .projectcards-title {
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      margin-bottom: 12px;
     
      }
    
      .projectcards .projectcards-heading {
        font-size: 28px;
        line-height: 34px; 
      }

      .projectcards .projectcards-description {
        font-size: 14px;
        line-height:20px;
      }
    
    
    .projectcards .projectcards-grid {
      margin-bottom: 26px;
      row-gap: 18px;
      margin-left: -9px;
      margin-right: -9px;
    }
    
    .projectcards .project-card {
      padding: 0 9px!important;
    }
    
    .projectcards .project-card [data-aue-prop="image"]{
      /* height: 206px; */
      margin-bottom: 8px;
    }

    .projectcards .project-card-title {
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
    }
    
    .projectcards .project-card-location {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px; 
    
    }

    .projectcards .view-all-link {
      font-size: 14px;
      line-height: 20px;
    }
   
  
} 

@media (width <= 640px) {
  .projectcards .project-card [data-aue-prop="image"]{
    height: 162px;
  }
}