  *{
    box-sizing: border-box;
  }

  .projectcards{
    margin: 80px 0 0;
  }

  @media (width >= 2560px) {
    .projectcards-wrapper {
      max-width: 2560px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .projectcards .projectcards-header {
    display: flex;
    margin-bottom: 42px;
    align-items: flex-start;
    gap: 40px;
  }

  .projectcards .projectcards-header-left {
    flex: 1;
  }

  .projectcards .projectcards-header-right {
    flex: 1;
  }

  .projectcards .projectcards-title {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #8D713E;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 0;
  }

  .projectcards .projectcards-heading {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0;
    margin-bottom: 0;
    margin-top: 0;
    color: #3B3D3D;
  }

  .projectcards .projectcards-description {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    color: #3B3D3D;
    margin-top: 0;
  }

  .projectcards .projectcards-grid {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    --bs-gutter-x: 0;
    gap: 0;
  }

  .projectcards .project-card {
    padding: 0 !important;
    flex: 0 0 25%;
    width: 25%;
    max-width: 25%;
  }

  .projectcards .project-card:first-child{
    padding-left: 0 !important;
  }

  .projectcards .project-card:last-child{
    padding-right: 0 !important;
  }

  .projectcards .project-card [data-aue-prop="image"]{
    position: relative;
    aspect-ratio: 360 / 540;
    width: 100%;
    margin-bottom: 0;
    overflow: hidden;
  }

  .projectcards .project-card [data-aue-prop="image"] picture{
    width: 100%;
    height: 100%;
  }

  .projectcards .project-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .projectcards .project-card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px 24px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  }

  .project-card-title a{
    color: var(--text-color);
    text-decoration: none;
  }

  .projectcards .project-card-title {
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    color: #FFF;
    text-decoration: none;
    margin: 0;
    padding-right: 40px;
  }

  .projectcards .project-card-title a {
    color: #FFF;
    text-decoration: none;
  }

  .projectcards .project-card-location {
    display: none;
  }

  .projectcards .project-card-cta {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .projectcards .project-card-cta svg {
    width: 48px;
    height: 48px;
    display: block;
    transition: all 0.3s ease;
  }

  .projectcards .project-card-cta:hover svg path {
    stroke: #C8AB4B;
  }

  .projectcards .projectcards-view-all {
    text-align: right;
  }

  .projectcards .view-all-link {
    font-size: var(--font-size-xs);
    line-height: 24px;
    color: var(--primary-gold)!important;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease; 
    background: none;
    text-decoration: underline;
  }

  .projectcards .view-all-link:hover {
    color: var(--primary-gold);
  }
  
  .projectcards ul {
    padding-left: 17px;
  }

  @media (width >= 768px) and (width <= 992px) {
    .projectcards {
      margin: 64px 0;
    }

    .projectcards .projectcards-header {
      flex-direction: column;
      gap: 24px;
      margin-bottom: 34px;
      padding: 0;
    }

    .projectcards .projectcards-header-left,
    .projectcards .projectcards-header-right {
      flex: 0 0 100%;
      width: 100%;
    }
    
    .projectcards .projectcards-title {
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 16px;
      color: #8D713E;
      text-transform: uppercase;
    }
    
    .projectcards .projectcards-heading {
      font-size: 32px;
      font-weight: 400;
      line-height: 48px;
      color: #3B3D3D;
    }

    .projectcards .projectcards-description {
      font-size: 24px;
      line-height: 40px;
      color: #3B3D3D;
    }
    
    
    .projectcards .projectcards-grid {
      box-sizing: border-box;
      margin-bottom: 42px;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      padding: 0;
      --bs-gutter-x: 0;
      gap: 0;
      display: flex;
      flex-wrap: wrap;
    }
    
    .projectcards .project-card {
      padding: 0 !important;
      flex: 0 0 50%;
      width: 50%;
      max-width: 50%;
    }

    .projectcards .project-card [data-aue-prop="image"]{
      position: relative;
      aspect-ratio: 360 / 540;
      width: 100%;
      margin-bottom: 0;
    }

    .projectcards .project-card-content {
      padding: 40px;
    }

    .projectcards .project-card-title {
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
      color: #FFF;
    }

    .projectcards .project-card-cta svg {
      width: 40px;
      height: 40px;
    }

  
  }

  @media (width <= 834px) {
    .projectcards .project-card [data-aue-prop="image"]{
      position: relative;
      aspect-ratio: 360 / 540;
      width: 100%;
    }
  }

  @media (width <= 767px) {

      .projectcards .projectcards-header {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 40px;
      }

      .projectcards .projectcards-header-left,
      .projectcards .projectcards-header-right {
        flex: 0 0 100%;
        width: 100%;
      }
      
      .projectcards .projectcards-title {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 12px;
        color: #8D713E;
        text-transform: uppercase;
      }
      
      .projectcards .projectcards-heading {
        font-size: 28px;
        font-weight: 400;
        line-height: 44px;
        color: #3B3D3D;
      }

      .projectcards .projectcards-description {
        font-size: 16px;
        line-height: 24px;
        color: #3B3D3D;
      }
      
      
      .projectcards .projectcards-grid {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        padding: 0;
        --bs-gutter-x: 0;
        gap: 0;
        flex-wrap: wrap;
      }
      
      .projectcards .project-card {
        padding: 0 !important;
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
      }

      .projectcards .project-card [data-aue-prop="image"]{
        position: relative;
        height: 210px;
        aspect-ratio: auto;
        margin-bottom: 0;
      }

      .projectcards .project-card-content {
        padding: 24px;
      }

      .projectcards .project-card-title {
        font-size: 24px;
        font-weight: 400;
        line-height: 40px;
        color: #FFF;
        width: 75%;
      }

      .projectcards .project-card-cta svg {
        width: 40px;
        height: 40px;
      }
      
      .projectcards .project-card-location {
        font-size: var(--font-size-xxs);
        font-weight: 400;
        line-height: 20px; 
      
      }

      .projectcards .view-all-link {
        font-size: var(--font-size-xxs);
        line-height: 20px;
      }
    
    
  } 



  /* CERTIFICATIONS VARIATION  */
  .certifications .projectcards-header {
    margin-bottom: 25px;
  }

  .certifications .project-card [data-aue-prop="image"] {
    margin-bottom: 12px;
    height: 122px;
    text-align: center;
    background: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .certifications .project-card [data-aue-prop="image"] img,
  .certifications .project-card [data-aue-prop="image"] picture{
    height: auto;
    width: auto;
    display: block;
    object-fit: contain;
    max-width: 106px;
    max-height: 106px;
  }

  .certifications .project-card-title {
    text-decoration: none;
    margin-bottom: 12px;
  }

  .certifications .project-card-location {
    color: var(--body-text-color);
  }

  @media (width>=768px) {
    .certifications .projectcards-heading {
      font-size: 32px;
      line-height: 42px;
      margin-bottom: 30px
    }

    .certifications .project-card [data-aue-prop="image"] {
      margin-bottom: 20px;
      height: 230px;
    }

    .certifications .project-card-title {
      font-size: 16px;
      line-height: 14px
    }

    .certifications .project-card-location {
      font-size: 16px;
    }
  }

  @media (width>=993px) {
    .project-cards-wrapper {
      margin: 45px 0;
    }
    .certifications .projectcards-heading {
      font-size: 40px;
      line-height: 50px;
      margin-bottom: 40px
    }

    .certifications .project-card [data-aue-prop="image"] {
      margin-bottom: 25px;
      height: 161px;
    }

    .certifications .project-card-title {
      line-height: 24px
    }

    .certifications .project-card-location {
      font-size: 16px;
    }
  }
