
.enquiry {
  margin: 0 auto;
}

.contactus .row>div{
  padding: 0;
}

.contactus .row>div:first-child{
  padding-right: 12px;

}

.contactus .row>div:last-child{
  padding-left: 12px;
  
}

.contactus .contactus-bottom>div:first-child{
  font-size: 28px;
  font-weight: 400;
  line-height: 44px;
  color: var(--text-color);
}

.contactus .contactus-bottom>div:last-child{
  display: flex;
  align-items: flex-start;
}

.contactus.block {
  width: 100%;
}

.contactus.block .container:first-child{
  background-color: var(--primary-default-fg);
}

.contactus .contactus-top{
  padding-bottom: 0;
}

.contactus.contactus-variation .contactus-top{
  padding-bottom: 80px;
  padding-top: 80px;
}


.contactus .enquiry-heading {
  font-size: 36px;
  font-weight: 400;
  line-height: 56px; 
  margin: 0;
  color: var(--text-color); 
}

.contactus .enquiry-description{
  margin-bottom: 24px;
  color: var(--text-color); 
  font-family: var(--typography-font-family-font-body);
}

.contactus .enquiry-description p{
  font-family: var(--heading-font-family);
  font-size:16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--text-color); 
  margin: 0;
}

.contactus .contact-items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contactus .contact-items .contact-label{
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 12px;
  color: var(--body-text-color);
}

.contactus .contact-items .contact-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contactus .contact-items .contact-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  color: var(--color-neutral-800);
}


.contactus .contact-items .contact-icon picture{
  width: 100%;
  height: 100%;
}

.contactus .contact-items .contact-icon picture img{
    width: 100%;
    height: 100%;
    object-fit: none;
}

.contactus .contact-items .contact-text { 
  font-family: var(--heading-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    color: var(--text-color);
    text-decoration: none;
}

.contactus .contact-items .contact-text a{
    text-decoration: none;
}

.contactus .contact-items .contact-link {
  font-family: var(--heading-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: var(--color-text-tertiary);
  font-family: var(--typography-font-family-font-body);
}

.contactus .contactus-bottom{
  display: none;
  padding-top: 40px;
  padding-bottom: 40px;
}

.contactus.contactus-variation .contactus-bottom{
  display: flex;
}

.contactus .contactus-bottom>div:last-child a{
  background-color: var(--color-fg-tertiary);
  color: var(--background-color);
  padding: 16px 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  display:flex;
  align-items:center;
  gap:10px;
  border-radius: 4px;
  font-family: var(--typography-font-family-font-body);
}

.contactus .contactus-bottom>div:last-child a span{
  line-height:0;
}


/* Tablet Layout  */
 @media (width >= 768px) and (width <= 1024px) {
  .contactus.contactus-variation .contactus-top {
    padding-top: 64px;
    padding-bottom: 64px;
  }


  .contactus .enquiry-heading {
    font-size: 28px;
    line-height: 44px; 
    margin: 0;
  }
  
  .contactus .enquiry-description p{
    font-size: 16px;
    line-height: 24px;
  }
  
  .contactus .contact-items {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .contactus .contact-items .contact-item {
    gap: 16px;
  }

  .contactus .contact-items .contact-text { 
    font-family: var(--heading-font-family);
      font-size: 16px;
      line-height: 24px;
  }

  .contactus .contact-items .contact-link {
    font-size: 16px;
    line-height: 24px;
  
  }

  .contactus.contactus-variation .contactus-bottom>div:last-child{
    flex-direction: column;
    row-gap: 24px;
  }
}

/* Mobile Layout  */
@media (width < 768px) {

  .contactus .row>div{
    padding: 0;
  }

  .contactus.contactus-variation .contactus-top{
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .contactus .row>div:first-child{
    padding-right: 0;
  
  }

  .contactus .row>div:last-child{
    padding-left: 0;
    
  }

  .contactus .enquiry-heading {
    font-size: 28px;
    line-height: 44px; 
    margin: 0;
    margin-bottom: 24px;
  }
  
  .contactus .enquiry-description p{
    font-size:14px;
    line-height: 20px;
  }
  
  .contactus .contact-items {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .contactus .contact-items .contact-label{
    font-size: 14px;
  }
  
  .contactus .contact-items .contact-item {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .contactus .contact-items .contact-text { 
    font-family: var(--heading-font-family);
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      color: var(--text-color);
      margin: 0;
      text-decoration: none;
  }

 /*  .contactus .contact-items .contact-text a{
      color: var(--text-color);
      text-decoration: none;
  } */
  
  .contactus.contactus-variation .contactus-bottom>div:first-child{
    margin-bottom: 24px;
  }

  .contactus .contactus-bottom>div:first-child p {
    font-size: 22px;
  }

  .contactus.contactus-variation .contactus-bottom>div:last-child{
    flex-direction: column;
    row-gap: 24px;
  }

  .contactus .contactus-bottom>div:last-child a{
    margin:0;
    padding: 8px 12px;
  }
  
}

@media (width >= 1024px) {

  .contactus .contactus-bottom>div:last-child {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .contactus .contactus-bottom>div:last-child>div:first-child p {
    font-family: var(--typography-font-family-font-body);
    color: var(--color-text-body);
  }

  .contactus .contactus-bottom>div:last-child a{
    margin:0;
    padding: 8px 12px;
  }
}

