.awardsgallery .awardsgallery-card {
    margin-bottom: 44px;
}

.awardsgallery .awardsgallery-image {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--light-grey);
    aspect-ratio: 361 / 350;
    margin-bottom: 10px;
}

.awardsgallery .awardsgallery-content * {
    text-align: center;
    margin-bottom: 6px;
}

.awardsgallery .award-year {
    color: var(--primary-gold);
    font-size: 16px;
    font-weight: 600;
}

.awardsgallery .award-title {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 600;
}

.awardsgallery .award-description {
    font-size: 14px;
}
.awardsgallery .award-description p {
    margin-bottom: 0;   
}

.awardsgallery .awardsgallery-grid {
    justify-content: center;
}


@media (width >= 768px) {
    .awardsgallery .awardsgallery-card {
        margin-bottom: 70px;
    }
    .awardsgallery .award-title {
        font-size: 18px;
    }

    .awardsgallery .awardsgallery-image {
        margin-bottom: 15px;
    }


    .awardsgallery .awardsgallery-content * {
        margin-bottom: 6px;
    }
    
    .awardsgallery .award-year {
        font-size: 18px;
    }

    
    .awardsgallery .award-description {
        font-size: 16px;
    }
}

@media (width >= 993px) {
    .awardsgallery .awardsgallery-card {
        padding: 0 18px;
    }

    .awardsgallery .awardsgallery-image {
        margin-bottom: 20px;
        aspect-ratio: 349 / 350;
    }

    .awardsgallery .awardsgallery-content * {
        margin-bottom: 8px;
    }
    
    .awardsgallery .award-year {
        font-size: 20px;
        margin-bottom: 12px;
    }

    .awardsgallery .award-title {
        font-size: 20px;
    }
}