.awardsgallery .awardsgallery-card {
    margin-bottom: 44px;
    padding: 0 9px;
}

.awardsgallery .awardsgallery-image {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--light-grey);
    aspect-ratio: 1/1;
    margin-bottom: 10px;
}

.awardsgallery .awardsgallery-image img {
    max-width: 80%;
}

.awardsgallery .awardsgallery-content * {
    text-align: center;
    margin-bottom: 6px;
    line-height: 20px;
    letter-spacing: 0;
}

.awardsgallery .award-year {
    color: var(--primary-gold);
    font-size: 16px;
    font-weight: 600;
}

.awardsgallery .award-title {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 600;
}

.awardsgallery .award-description {
    font-size: 14px;
    line-height: 20px;
}
.awardsgallery .award-description p {
    margin-bottom: 0;
    color: var(--text-color);
}

.awardsgallery .awardsgallery-grid {
    justify-content: center;
    margin-left: -9px;
    margin-right: -9px;
}

.awardsgallery .awardsgallery-card:first-child{
    padding-left: 9px;
}

.awardsgallery .awardsgallery-card:last-child{
    padding-right: 9px;
}
.awardsgallery picture {
    text-align: center;
}

@media (width >= 768px) {
    .awardsgallery .awardsgallery-card {
        margin-bottom: 70px;
        padding: 0 12px;
    }
    .awardsgallery .award-title {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0;
    }

    .awardsgallery .awardsgallery-image {
        margin-bottom: 15px;
    }
    .awardsgallery .awardsgallery-image img {
        max-width: 160px;
    }
    .awardsgallery .awardsgallery-content * {
        margin-bottom: 6px;
        line-height: 24px;
    }
    
    .awardsgallery .award-year {
        font-size: 18px;
        line-height: 24px;
    }
    .awardsgallery .award-description {
        font-size: 16px;
    }

    .awardsgallery .awardsgallery-grid {
        justify-content: center;
        margin-left: -12px;
        margin-right: -12px;
    }
    
    
    .awardsgallery .awardsgallery-card:first-child{
        padding-left: 12px;
    }

    .awardsgallery .awardsgallery-card:last-child{
        padding-right: 12px;
    } 
}

@media (width >= 993px) {
    .awardsgallery .awardsgallery-card {
        padding: 0 18px;
    }

    .awardsgallery .awardsgallery-image {
        margin-bottom: 20px;
        aspect-ratio: 349 / 350;
    }

    .awardsgallery .awardsgallery-content * {
        margin-bottom: 8px;
    }
    
    .awardsgallery .award-year {
        font-size: 20px;
        margin-bottom: 12px;
    }

    .awardsgallery .award-title {
        font-size: 20px;
    }
    .awardsgallery .awardsgallery-grid {
        justify-content: center;
        margin-left: -18px;
        margin-right: -18px;
    }
    
    .awardsgallery .awardsgallery-card:first-child{
        padding-left: 18px;
    }

    .awardsgallery .awardsgallery-card:last-child{
        padding-right: 18px;
    }
}
