.awardsgallery .awardsgallery-card {
   display: flex;
   flex-direction: column;
   align-items: center;
   background: var(--color-bg-white);
}

.awardsgallery .awardsgallery-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 193px;
    width: 193px;
    margin-bottom: 16px;
}

.awardsgallery .awardsgallery-image img {
    max-width: 80%;
}

.awardsgallery .awardsgallery-content * {
    text-align: center;
    margin-bottom: 6px;
}

.awardsgallery .award-year {
    color: var(--color-text-tertiary);
    font-family: var(--typography-font-family-font-body);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 4px;
}

.awardsgallery .award-title {
    color: var(--text-color);
    font-family: var(--typography-font-family-font-body);
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 4px;
}

.awardsgallery .award-description {
    font-family: var(--typography-font-family-font-body);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 4px;
}

.awardsgallery .awardsgallery-grid {
    justify-content: center;
    padding: 40px 0;
}
.awardsgallery picture {
    text-align: center;
}

@media (width >= 768px) {

    .awardsgallery .awardsgallery-image img {
        max-width: 160px;
    }

    .awardsgallery .awardsgallery-content * {
        margin-bottom: 6px;
    }
}

@media (width >= 993px) {
    .awardsgallery .awardsgallery-card {
        padding: 0 18px;
    }

    .awardsgallery .awardsgallery-content * {
        margin-bottom: 8px;
    }
}