/* Header 1 */
.header-1-medium {
    font-family: var(--header-1-font-family);
    font-size: var(--header-1-font-size);
    line-height: var(--header-1-line-height);
    letter-spacing: var(--header-1-letter-spacing);
    font-weight: var(--font-weight-medium);
}

.header-1-regular {
    font-family: var(--header-1-font-family);
    font-size: var(--header-1-font-size);
    line-height: var(--header-1-line-height);
    letter-spacing: var(--header-1-letter-spacing);
    font-weight: var(--font-weight-regular);
}

/* Header 2 */
.header-2-medium {
    font-family: var(--header-2-font-family);
    font-size: var(--header-2-font-size);
    line-height: var(--header-2-line-height);
    letter-spacing: var(--header-2-letter-spacing);
    font-weight: var(--font-weight-medium);
}

.header-2-regular {
    font-family: var(--header-2-font-family);
    font-size: var(--header-2-font-size);
    line-height: var(--header-2-line-height);
    letter-spacing: var(--header-2-letter-spacing);
    font-weight: var(--font-weight-regular);
}

/* Header 3 */
.header-3-medium {
    font-family: var(--header-3-font-family);
    font-size: var(--header-3-font-size);
    line-height: var(--header-3-line-height);
    letter-spacing: var(--header-3-letter-spacing);
    font-weight: var(--font-weight-medium);
}

.header-3-regular {
    font-family: var(--header-3-font-family);
    font-size: var(--header-3-font-size);
    line-height: var(--header-3-line-height);
    letter-spacing: var(--header-3-letter-spacing);
    font-weight: var(--font-weight-regular);
}

/* Header 4 */
.header-4-medium {
    font-family: var(--header-4-font-family);
    font-size: var(--header-4-font-size);
    line-height: var(--header-4-line-height);
    letter-spacing: var(--header-4-letter-spacing);
    font-weight: var(--font-weight-medium);
}

.header-4-regular {
    font-family: var(--header-4-font-family);
    font-size: var(--header-4-font-size);
    line-height: var(--header-4-line-height);
    letter-spacing: var(--header-4-letter-spacing);
    font-weight: var(--font-weight-regular);
}

/* Header 5 */
.header-5-medium {
    font-family: var(--header-5-font-family);
    font-size: var(--header-5-font-size);
    line-height: var(--header-5-line-height);
    letter-spacing: var(--header-5-letter-spacing);
    font-weight: var(--font-weight-medium);
}

.header-5-regular {
    font-family: var(--header-5-font-family);
    font-size: var(--header-5-font-size);
    line-height: var(--header-5-line-height);
    letter-spacing: var(--header-5-letter-spacing);
    font-weight: var(--font-weight-regular);
}

/* Header 6 */
.header-6-medium {
    font-family: var(--header-6-font-family);
    font-size: var(--header-6-font-size);
    line-height: var(--header-6-line-height);
    letter-spacing: var(--header-6-letter-spacing);
    font-weight: var(--font-weight-medium);
}

.header-6-regular {
    font-family: var(--header-6-font-family);
    font-size: var(--header-6-font-size);
    line-height: var(--header-6-line-height);
    letter-spacing: var(--header-6-letter-spacing);
    font-weight: var(--font-weight-regular);
}

/* Body 1 */
.body-1-medium {
    font-family: var(--body-1-font-family);
    font-size: var(--body-1-font-size);
    line-height: var(--body-1-line-height);
    letter-spacing: var(--body-1-letter-spacing);
    font-weight: var(--font-weight-medium);
}

.body-1-regular {
    font-family: var(--body-1-font-family);
    font-size: var(--body-1-font-size);
    line-height: var(--body-1-line-height);
    letter-spacing: var(--body-1-letter-spacing);
    font-weight: var(--font-weight-regular);
}

/* Body 2 */
.body-2-medium {
    font-family: var(--body-2-font-family);
    font-size: var(--body-2-font-size);
    line-height: var(--body-2-line-height);
    letter-spacing: var(--body-2-letter-spacing);
    font-weight: var(--font-weight-medium);
}

.body-2-regular {
    font-family: var(--body-2-font-family);
    font-size: var(--body-2-font-size);
    line-height: var(--body-2-line-height);
    letter-spacing: var(--body-2-letter-spacing);
    font-weight: var(--font-weight-regular);
}

/* Label */
.label-medium {
    font-family: var(--label-font-family);
    font-size: var(--label-font-size);
    line-height: var(--label-line-height);
    letter-spacing: var(--label-letter-spacing);
    font-weight: var(--font-weight-medium);
}

.label-regular {
    font-family: var(--label-font-family);
    font-size: var(--label-font-size);
    line-height: var(--label-line-height);
    letter-spacing: var(--label-letter-spacing);
    font-weight: var(--font-weight-regular);
}
