.listing {
  /* List styles */
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  /* CTA section - moved up to fix specificity issue */
  [data-aue-model="linkField"], [data-gen-model="linkField"] {
    text-align: end;
    display: flex;
    justify-content: flex-end;
  }

  [data-aue-model="linkField"] a, [data-gen-model="linkField"] a {
    font-size: var(--font-size-xs);
    font-weight: 700;
    line-height: 24px;
    text-align: end;
    color: var(--primary-gold);
    cursor: pointer;
    text-decoration: underline;
    background: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 16px;
  }

  [data-aue-model="linkField"] a .icon-wrapper, [data-gen-model="linkField"] a .icon-wrapper {
    display: flex;
    max-width: 14px;
  }

  .arrow-link-wrapper span svg{
    color: var(--primary-gold);
  }

  [data-aue-model="linkField"] a .icon-wrapper svg, [data-gen-model="linkField"] a .icon-wrapper svg {
    width: 14px;
    height: 14px;
  }

  /* Header styles */
  [data-aue-prop="title"], [data-gen-prop="title"] {
    color: var(--text-color);
    font-size: var(--font-size-xxs);
    line-height: 24px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 600;
  }

  [data-aue-prop="heading"], [data-gen-prop="heading"] {
    color: var(--text-color);
    font-size: var(--font-size-xl);
    font-weight: 500;
    margin-bottom: 36px;
    line-height: 50px;
  }

  /* List item styles */
  [data-aue-model="listitem"] .row, [data-gen-model="listitem"] .row {
    border-top: 1px solid var(--text-color);
  }

  [data-aue-model="listitem"] .row [class*="col-"], [data-gen-model="listitem"] .row [class*="col-"] {
    padding: 36px 0 30px;
  }

  .listing:not(.without-images) [data-gen-model="listitem"] .row > div:first-child p {
    padding: 0;
    margin: 0;
    line-height: 0;
  }

  [data-aue-model="listitem"] .row > div:not(:first-child), [data-gen-model="listitem"] .row > div:not(:first-child) {
    padding-left: 36px;
  }

  [data-aue-model="listitem"] .row [class*="col-"]:nth-child(2), [data-gen-model="listitem"] .row [class*="col-"]:nth-child(2) {
    position: relative;
  }

  [data-aue-model="listitem"] .row [class*="col-"]:nth-child(2) [data-aue-label="Title"], [data-gen-model="listitem"] .row [class*="col-"]:nth-child(2) [data-gen-label="Title"] {
    font-size: var(--font-size-xxs);
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 12px;
  }

  [data-aue-model="listitem"] .row [class*="col-"]:nth-child(2) [data-richtext-label="Description"], [data-gen-model="listitem"] .row [class*="col-"]:nth-child(2) [data-richtext-label="Description"] {
    font-size: var(--font-size-xs);
    font-weight: 400;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 36px !important;
    color: var(--text-color);
  }

  .arrow-link-wrapper {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0;
    bottom: 36px;
    cursor: pointer;
    color: var(--primary-gold);
  }

  .arrow-link-wrapper a span {
    width: 100%;
    height: 100%;
    padding: 0;
    color: var(--primary-gold);

  }


  /* Tablet Design */
  @media (width < 992px){
  /* Header styles */
  [data-aue-prop="title"], [data-gen-prop="title"] {
    font-size: var(--font-size-xs);
    font-weight: 700;
  }

  [data-aue-prop="heading"], [data-gen-prop="heading"]{
    font-size: var(--font-size-l);
    margin-bottom: 24px;
    line-height: 42px;
    font-weight: 500;
  }

  /* List item styles */


  [data-aue-model="listitem"] .row [class*="col-"], [data-gen-model="listitem"] .row [class*="col-"] {
    padding: 24px 0;
  }

  [data-aue-model="listitem"] .row > div:not(:first-child), [data-gen-model="listitem"] .row > div:not(:first-child) {
    padding-left: 24px;
  }


  [data-aue-model="listitem"] .row [class*="col-"]:nth-child(2) [data-aue-label="Title"], [data-gen-model="listitem"] .row [class*="col-"]:nth-child(2) [data-gen-label="Title"] {
    font-size: 18px;
    margin-bottom: 10px;
  }

  [data-aue-model="listitem"] .row [class*="col-"]:nth-child(2) [data-richtext-label="Description"], [data-gen-model="listitem"] .row [class*="col-"]:nth-child(2) [data-richtext-label="Description"] {
    margin-bottom: 24px !important;
  }

  [data-aue-model="listitem"] .row [class*="col-"]:nth-child(2) a, [data-gen-model="listitem"] .row [class*="col-"]:nth-child(2) a {
    bottom: 24px;

  }

  }

  /* Mobile Design */
  @media (width < 768px) {
    [data-aue-prop="heading"], [data-gen-prop="heading"] {
      font-size: var(--font-size-m);
      line-height: 34px;
      margin-bottom: 18px;
      font-weight: 500;
    }

    [data-aue-model="listitem"], [data-gen-model="listitem"] {
      flex-direction: column;
      gap: 1rem;
    }

    [data-aue-model="listitem"] .row [class*="col-"], [data-gen-model="listitem"] .row [class*="col-"] {
      padding: 18px 0;
    }

    [data-aue-model="listitem"] .row > div:not(:first-child), [data-gen-model="listitem"] .row > div:not(:first-child) {
      padding-left: 0;
      padding-top: 0;

    }

    [data-aue-model="listitem"] .row [class*="col-"]:nth-child(2) [data-aue-label="Title"], [data-gen-model="listitem"] .row [class*="col-"]:nth-child(2) [data-gen-label="Title"] {
      margin-top: 0;
      margin-bottom: 8px;
      padding-top: 0;
    }

    [data-aue-model="listitem"] .row [class*="col-"]:nth-child(2) [data-richtext-label="Description"], [data-gen-model="listitem"] .row [class*="col-"]:nth-child(2) [data-richtext-label="Description"] {
      font-size: var(--font-size-xxs);
      line-height: 20px;
      margin-top: 0;
      margin-bottom: 100px !important;
    }

    [data-aue-model="listitem"] .row [class*="col-"]:nth-child(2) a, [data-gen-model="listitem"] .row [class*="col-"]:nth-child(2) a {
      font-size: var(--font-size-xxs);
      bottom: 18px;
    }

    .links-container .button {
      font-size: var(--font-size-xxs);
      line-height: 20px;
    }
  }

}

.listing-wrapper {
  position: relative;
}

.listing-wrapper .container:not(.without-images) {
  margin-top: 32px;
  margin-bottom: 32px;
}

.listing.grey-background {
  background: none;
}

.listing.grey-background .button {
  margin-bottom: 0;
}

.listing-wrapper .listing.grey-background {
  padding-top: 32px;
  padding-bottom: 32px;
}

.listing.grey-background::before{
  content: "";
  background: var(--whisper-gray);
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top:0;
  z-index: -1;
}

.listing-wrapper .listing [data-aue-prop="title"], .listing-wrapper .listing [data-gen-prop="title"] {
  font-size: var(--font-size-xs);
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.5px;
  color: var(--text-color);
  margin-bottom: 10px;
}

.listing-wrapper .listing [data-aue-prop="heading"], .listing-wrapper .listing [data-gen-prop="heading"], .listing > div:nth-child(2) [data-gen-prop="title"] {
  font-size: var(--font-size-m);
  font-weight: 500;
  line-height: 34px;
  color: var(--text-color);
  margin-bottom: 18px;
  letter-spacing: -0.5px; 
}

.listing-wrapper .listing [data-aue-prop="title"]:empty, 
.listing-wrapper .listing [data-gen-prop="title"]:empty {
  margin-bottom: 0;
}

.listing-wrapper .listing [data-aue-model="listitem"] [data-aue-prop="title"], .listing-wrapper .listing [data-gen-model="listitem"] [data-gen-prop="title"] {
  font-size: var(--font-size-xs);
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.listing-wrapper .listing [data-aue-model="listitem"] [data-aue-prop="description"], .listing-wrapper .listing [data-gen-model="listitem"] [data-gen-prop="description"] {
  font-size: var(--font-size-xxs);
  line-height: 20px;
  font-weight: 400;
  color: var(--text-color);
  margin-bottom: 45px;
}

@media (width >= 768px) {
  .listing-wrapper .container:not(.without-images) {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .listing-wrapper .listing.grey-background {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .listing-wrapper .listing [data-aue-prop="title"], .listing-wrapper .listing [data-gen-prop="title"] {
    font-size: var(--font-size-l);
    line-height: 24px;
  }

  .listing-wrapper .listing [data-aue-prop="heading"], .listing-wrapper .listing [data-gen-prop="heading"], .listing > div:nth-child(2) [data-gen-prop="title"] {
    font-size: var(--font-size-l);
    line-height: 42px;
    margin-bottom: 24px;
    font-weight: 500;
  }

  .listing-wrapper .listing [data-aue-model="listitem"] [data-aue-prop="title"], .listing-wrapper .listing [data-gen-model="listitem"] [data-gen-prop="title"] {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .listing-wrapper .listing [data-aue-model="listitem"] [data-aue-prop="description"], .listing-wrapper .listing [data-gen-model="listitem"] [data-gen-prop="description"] {
    font-size: var(--font-size-xs);
    line-height: 24px;
  }
}

@media (width >= 993px) {
  .listing-wrapper .container:not(.without-images) {
    margin-top: 45px;
    margin-bottom: 45px; 
  }
  .listing-wrapper .listing.grey-background {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .listing-wrapper .listing [data-aue-prop="title"], .listing-wrapper .listing [data-gen-prop="title"] {
    font-size: var(--font-size-s);
  }

  .listing-wrapper .listing [data-aue-prop="heading"], .listing-wrapper .listing [data-gen-prop="heading"], .listing > div:nth-child(2) [data-gen-prop="title"] {
    font-size: var(--font-size-xl);
    line-height: normal;
    margin-bottom: 36px;
    font-weight: 500;
  }

  .listing-wrapper .listing [data-aue-model="listitem"] [data-aue-prop="title"], .listing-wrapper .listing [data-gen-model="listitem"] [data-gen-prop="title"] {
    font-size: var(--font-size-s);
    margin-bottom: 12px;
  }
}

.content-wrapper {
  position: relative;
  padding-bottom: 40px;
}


.content-wrapper .left-arrow-icon {
  fill: currentcolor;
  transition: transform 0.3s ease;
}
