.listing {
  /* List styles */
 ul {
   list-style: none;
   padding: 0;
   margin: 0;
 }
 /* Header styles */
 [data-aue-prop="title"][data-aue-label="Title"] {
   color: var(--text-color);
   font-size: var(--heading-font-size-s);
   line-height: 24px;
   margin-bottom: 10px;
   font-style: normal;
   font-weight: 600;
 }

 [data-aue-prop="heading"][data-aue-label="Heading"] {
   color: var(--text-color);
   font-size: 40px;
   font-weight: 500;
   margin-bottom: 36px;
   line-height: 50px;
 }

 /* List item styles */
 [data-aue-model="listitem"] .row{
 border-top: 1px solid var(--text-color);
 }

 [data-aue-model="listitem"] .row [class*="col-"]{
     padding: 36px 0;      
   }


 [data-aue-model="listitem"] .row>div:not(:first-child){
   padding-left: 36px;
 }


 [data-aue-model="listitem"] .row [class*="col-"]:nth-child(2) {
   position: relative;
 }

 [data-aue-model="listitem"] .row [class*="col-"]:nth-child(2) [data-aue-label="Title"]{
   font-size: var(--heading-font-size-s);
   font-weight: 600;
   line-height: 24px;
   margin-bottom: 12px;
 }

 [data-aue-model="listitem"] .row [class*="col-"]:nth-child(2) [data-richtext-label="Description"]{
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   margin-top: 0;
   margin-bottom: 36px!important;
   color: var(--text-color);
 }  
 
 [data-aue-model="listitem"] .row [class*="col-"]:nth-child(2) a{
     width: 24px;
     height: 24px;
     position: absolute;
     right: 0;
     bottom: 36px;
     cursor: pointer;  
 }

 [data-aue-model="listitem"] .row [class*="col-"]:nth-child(2) a span {
   width: 100%;
   height: 100%;
   padding: 0;
 }

 /* CTA section */
 [data-aue-model="linkField"]{
  text-align: end;
 }
 [data-aue-model="linkField"] a{
   font-size: 16px;
   font-weight: 700;
   line-height: 24px;
   text-align: end;
   margin-top: 36px;
   color: var(--primary-gold); 
   cursor: pointer;
   text-decoration: underline;
 }
 

 /* Responsive styles */
 @media (width <= 768px) {
   [data-aue-prop="heading"][data-aue-label="Heading"] {
     font-size: 28px;
     line-height: 34px;
     margin-bottom: 18px;
   }
   [data-aue-model="listitem"] {
     flex-direction: column;
     gap: 1rem;

     [data-aue-type="text"] {
       [data-aue-prop="title"] {
         font-size: 1.125rem;
       }
     }
   }
   [data-aue-model="listitem"] .row [class*="col-"]{
     padding: 18px 0 18px 0;
   }
   [data-aue-model="listitem"] .row>div:not(:first-child){
     padding-left: 0;
   }
   [data-aue-model="listitem"] .row [class*="col-"]:nth-child(2) [data-aue-label="Title"]{
     margin-bottom: 8px;
   }
   [data-aue-model="listitem"] .row [class*="col-"]:nth-child(2) [data-richtext-label="Description"]{
     font-size: 14px;
     line-height: 20px;
     margin-top: 0;
     margin-bottom: 100px!important;
   }  
    [data-aue-model="linkField"] a{
    font-size: 14px;
   }
 }


}