.listing {
  /* List styles */
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  /* CTA section - moved up to fix specificity issue */
  [data-aue-model="linkField"], [data-gen-model="linkField"] {
    text-align: end;
    display: flex;
    justify-content: flex-end;
  }

  [data-aue-model="linkField"] a, [data-gen-model="linkField"] a {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: end;
    color: #8d713e;
    cursor: pointer;
    text-decoration: none;
    background: none;
    padding: 0;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 0;
  }

  [data-aue-model="linkField"] a .icon-wrapper, [data-gen-model="linkField"] a .icon-wrapper {
    display: flex;
    max-width: 14px;
  }

  .without-images-row .arrow-link-wrapper svg {
    width: 24px;
    height: 24px;
    fill: #8D713E;
  }

  .content-wrapper .arrow-link-wrapper svg {
    width: 16px;
    height: 16px;
    color: #8d713e;
  }

  [data-aue-model="linkField"] a .icon-wrapper svg, [data-gen-model="linkField"] a .icon-wrapper svg {
    width: 14px;
    height: 14px;
  }

  /* Header styles */
  [data-aue-prop="title"], [data-gen-prop="title"] {
    color: var(--text-color);
    font-size: var(--font-size-xxs);
    line-height: 24px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 600;
  }

  [data-aue-prop="heading"], [data-gen-prop="heading"] {
    color: var(--text-color);
    font-size: var(--font-size-xl);
    font-weight: 500;
    margin-bottom: 36px;
    line-height: 50px;
  }

  /* List item styles */
  .without-images-right-column .row {
    margin-bottom: 0;
    border-top: none;
    padding: 0;
  }

  .without-images-row .row {
    border-top: none;
    margin-bottom: 0;
    padding: 0;
  }

  [data-aue-model="listitem"] .row, [data-gen-model="listitem"] .row {
    border-top: 1px solid var(--text-color);
  }

  [data-aue-model="listitem"] .row [class*="col-"], [data-gen-model="listitem"] .row [class*="col-"] {
    padding: 36px 0 30px;
  }

  .listing:not(.without-images) [data-gen-model="listitem"] .row > div:first-child p {
    padding: 0;
    margin: 0;
    line-height: 0;
  }

  [data-aue-model="listitem"] .row > div:not(:first-child), [data-gen-model="listitem"] .row > div:not(:first-child) {
    padding-left: 36px;
  }

  [data-aue-model="listitem"] .row [class*="col-"]:nth-child(2), [data-gen-model="listitem"] .row [class*="col-"]:nth-child(2) {
    position: relative;
  }

  [data-aue-model="listitem"] .row [class*="col-"]:nth-child(2) [data-aue-label="Title"], [data-gen-model="listitem"] .row [class*="col-"]:nth-child(2) [data-gen-label="Title"] {
    font-size: var(--font-size-xxs);
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 12px;
  }

  [data-aue-model="listitem"] .row [class*="col-"]:nth-child(2) [data-richtext-label="Description"], [data-gen-model="listitem"] .row [class*="col-"]:nth-child(2) [data-richtext-label="Description"] {
    font-size: var(--font-size-xs);
    font-weight: 400;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 36px !important;
    color: var(--text-color);
  }

  .arrow-link-wrapper {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0;
    bottom: 36px;
    cursor: pointer;
    color: var(--primary-gold);
  }

  .arrow-link-wrapper a span {
    width: 100%;
    height: 100%;
    padding: 0;
    color: var(--primary-gold);

  }


  /* Tablet Design */
  @media (width < 992px){
  /* Header styles */
  [data-aue-prop="title"], [data-gen-prop="title"] {
    font-size: var(--font-size-xs);
    font-weight: 700;
  }

  [data-aue-prop="heading"], [data-gen-prop="heading"]{
    font-size: var(--font-size-l);
    margin-bottom: 24px;
    line-height: 42px;
    font-weight: 500;
  }

  /* List item styles */


  [data-aue-model="listitem"] .row [class*="col-"], [data-gen-model="listitem"] .row [class*="col-"] {
    padding: 24px 0;
  }

  [data-aue-model="listitem"] .row > div:not(:first-child), [data-gen-model="listitem"] .row > div:not(:first-child) {
    padding-left: 24px;
  }


  [data-aue-model="listitem"] .row [class*="col-"]:nth-child(2) [data-aue-label="Title"], [data-gen-model="listitem"] .row [class*="col-"]:nth-child(2) [data-gen-label="Title"] {
    font-size: 18px;
    margin-bottom: 10px;
  }

  [data-aue-model="listitem"] .row [class*="col-"]:nth-child(2) [data-richtext-label="Description"], [data-gen-model="listitem"] .row [class*="col-"]:nth-child(2) [data-richtext-label="Description"] {
    margin-bottom: 24px !important;
  }

  [data-aue-model="listitem"] .row [class*="col-"]:nth-child(2) a, [data-gen-model="listitem"] .row [class*="col-"]:nth-child(2) a {
    bottom: 24px;

  }

  }

  /* Mobile Design */
  @media (width < 768px) {
    [data-aue-prop="heading"], [data-gen-prop="heading"] {
      font-size: var(--font-size-m);
      line-height: 34px;
      margin-bottom: 18px;
      font-weight: 500;
    }

    [data-aue-model="listitem"], [data-gen-model="listitem"] {
      flex-direction: column;
      gap: 1rem;
    }

    [data-aue-model="listitem"] .row [class*="col-"], [data-gen-model="listitem"] .row [class*="col-"] {
      padding: 18px 0;
    }

    [data-aue-model="listitem"] .row > div:not(:first-child), [data-gen-model="listitem"] .row > div:not(:first-child) {
      padding-left: 0;
      padding-top: 0;

    }

    [data-aue-model="listitem"] .row [class*="col-"]:nth-child(2) [data-aue-label="Title"], [data-gen-model="listitem"] .row [class*="col-"]:nth-child(2) [data-gen-label="Title"] {
      margin-top: 0;
      margin-bottom: 8px;
      padding-top: 0;
    }

    [data-aue-model="listitem"] .row [class*="col-"]:nth-child(2) [data-richtext-label="Description"], [data-gen-model="listitem"] .row [class*="col-"]:nth-child(2) [data-richtext-label="Description"] {
      font-size: var(--font-size-xxs);
      line-height: 20px;
      margin-top: 0;
      margin-bottom: 100px !important;
    }

    [data-aue-model="listitem"] .row [class*="col-"]:nth-child(2) a, [data-gen-model="listitem"] .row [class*="col-"]:nth-child(2) a {
      font-size: var(--font-size-xxs);
      bottom: 18px;
    }

    .links-container .button {
      font-size: var(--font-size-xxs);
      line-height: 20px;
    }

    .listing-wrapper .listing [data-aue-prop="heading"], .listing-wrapper .listing [data-gen-prop="heading"], .listing > div:nth-child(2) [data-gen-prop="title"] {
      font-size: 24px;
      line-height: 40px;
      margin-bottom: 24px;
      font-weight: 400;
      letter-spacing: 0;
    }

    .listing-wrapper .listing [data-aue-model="listitem"] .row {
      margin-bottom: 40px;
      flex-direction: column;
    }

    .listing-wrapper .listing [data-aue-model="listitem"] .row:last-child {
      margin-bottom: 0;
    }

    .listing-wrapper .listing [data-aue-model="listitem"] .row > div:first-child {
      order: 2;
      margin-top: 16px;
    }

    .listing-wrapper .listing [data-aue-model="listitem"] .content-wrapper {
      order: 1;
      padding-right: 0;
    }

    .listing-wrapper .listing [data-aue-model="listitem"] [data-aue-prop="title"], .listing-wrapper .listing [data-gen-model="listitem"] [data-gen-prop="title"] {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 0;
      color: #8D713E;
      font-weight: 400;
    }

    .listing-wrapper .listing [data-aue-model="listitem"] [data-aue-prop="description"], .listing-wrapper .listing [data-gen-model="listitem"] [data-gen-prop="description"] {
      font-size: 24px;
      line-height: 40px;
      margin-top: 0;
      font-weight: 400;
      color: #3B3D3D;
    }

    .listing-wrapper .listing [data-aue-model="listitem"] .content-wrapper .arrow-link-wrapper {
      position: static;
      transform: none;
      margin-top: 16px;
      align-self: flex-start;
    }
  }

}

.listing.grey-background {
  background: none;
}

.listing.grey-background .button {
  margin-bottom: 0;
}

.listing-wrapper .listing.grey-background {
  padding-top: 32px;
  padding-bottom: 32px;
}

.listing.grey-background::before{
  content: "";
  background: var(--whisper-gray);
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top:0;
  z-index: -1;
}

.without-images-row [data-gen-prop="title"] {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 0;
  color: #8D713E;
}

.listing-wrapper .listing [data-aue-prop="title"], .listing-wrapper .listing [data-gen-prop="title"] {
  font-size: var(--font-size-xs);
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.5px;
  color: var(--text-color);
  margin-bottom: 10px;
  margin-top: 0;
}

.without-images-right-column [data-gen-model="listitem"] [data-gen-prop="title"] {
  font-size: 24px !important;
  line-height: 40px;
  font-weight: 400;
  color: #3B3D3D !important;
  margin: 0;
  padding-right: 0;
  flex: 1;
}

.listing-wrapper .listing [data-aue-prop="heading"], .listing-wrapper .listing [data-gen-prop="heading"], .listing > div:nth-child(2) [data-gen-prop="title"] {
  font-size: var(--font-size-m);
  font-weight: 400;
  line-height: 34px;
  color: var(--text-color);
  margin-bottom: 18px;
  letter-spacing: 0;
}

.without-images-left-column > div:first-child [data-gen-prop="title"] {
  font-size: 36px;
  line-height: 56px;
  font-weight: 400;
  color: #3B3D3D;
  margin-bottom: 24px;
}

.without-images-left-column > div:nth-child(2) [data-gen-prop="title"] {
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
  color: #3B3D3D;
  margin-bottom: 0;
}

.listing-wrapper .listing [data-aue-prop="title"]:empty, 
.listing-wrapper .listing [data-gen-prop="title"]:empty {
  margin-bottom: 0;
}

.listing-wrapper .listing [data-aue-model="listitem"] .row,
.listing-wrapper .listing [data-gen-model="listitem"] .row {
  border-top: none;
  margin-bottom: 48px;
}

.listing-wrapper .listing [data-aue-model="listitem"] .row:last-child,
.listing-wrapper .listing [data-gen-model="listitem"] .row:last-child {
  margin-bottom: 0;
}

.listing-wrapper .listing [data-aue-model="listitem"] [data-aue-prop="title"], .listing-wrapper .listing [data-gen-model="listitem"] [data-gen-prop="title"] {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 0;
  color: #8D713E !important;
}

.without-images-row [data-gen-prop="description"] {
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
  color: #3B3D3D;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 0;
}

.without-images-right-column [data-gen-prop="description"] {
  display: none;
}

.listing-wrapper .listing [data-aue-model="listitem"] [data-aue-prop="description"], .listing-wrapper .listing [data-gen-model="listitem"] [data-gen-prop="description"] {
  font-size: 24px !important;
  line-height: 40px !important;
  font-weight: 400;
  color: #3B3D3D !important;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 20%;
}

@media (width >= 768px) and (width < 993px) {

  .listing-wrapper .listing.grey-background {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .listing-wrapper .listing [data-aue-prop="title"], .listing-wrapper .listing [data-gen-prop="title"] {
    font-size: var(--font-size-l);
    line-height: 24px;
    margin-top: 0;
  }

  .listing-wrapper .listing [data-aue-prop="heading"], .listing-wrapper .listing [data-gen-prop="heading"], .listing > div:nth-child(2) [data-gen-prop="title"] {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 24px;
    font-weight: 400;
    letter-spacing: 0;
  }

  .listing-wrapper .listing [data-aue-model="listitem"] .row {
    margin-bottom: 40px;
  }

  .listing-wrapper .listing [data-aue-model="listitem"] .row:last-child {
    margin-bottom: 0;
  }

  .listing-wrapper .listing [data-aue-model="listitem"] [data-aue-prop="title"], .listing-wrapper .listing [data-gen-model="listitem"] [data-gen-prop="title"] {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    color: #666666;
    font-weight: 400;
  }

  .listing-wrapper .listing [data-aue-model="listitem"] [data-aue-prop="description"], .listing-wrapper .listing [data-gen-model="listitem"] [data-gen-prop="description"] {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0;
    font-weight: 400;
  }

  .listing-wrapper .listing [data-aue-model="listitem"] .content-wrapper {
    padding-right: 50px;
  }
}

@media (width >= 993px) {

  .listing-wrapper .listing.grey-background {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .listing-wrapper .listing [data-aue-prop="title"], .listing-wrapper .listing [data-gen-prop="title"] {
    font-size: var(--font-size-s);
    margin-top: 0;
  }

  .listing-wrapper .listing [data-aue-prop="heading"], .listing-wrapper .listing [data-gen-prop="heading"], .listing > div:nth-child(2) [data-gen-prop="title"] {
    font-size: 36px;
    line-height: 56px;
    margin-bottom: 32px;
    font-weight: 400;
    letter-spacing: 0;
  }

  .listing-wrapper .listing [data-aue-model="listitem"] .row {
    margin-bottom: 48px;
  }

  .listing-wrapper .listing [data-aue-model="listitem"] .row:last-child {
    margin-bottom: 0;
  }

  .listing-wrapper .listing [data-aue-model="listitem"] [data-aue-prop="title"], .listing-wrapper .listing [data-gen-model="listitem"] [data-gen-prop="title"] {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    color: #666666;
    font-weight: 400;
  }

  .listing-wrapper .listing [data-aue-model="listitem"] [data-aue-prop="description"], .listing-wrapper .listing [data-gen-model="listitem"] [data-gen-prop="description"] {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0;
    font-weight: 400;
  }

  .listing-wrapper .listing [data-aue-model="listitem"] .content-wrapper {
    padding-right: 50px;
  }
}

.content-wrapper {
  position: relative;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.listing-wrapper .listing [data-aue-model="listitem"] .content-wrapper [data-aue-prop="description"],
.listing-wrapper .listing [data-gen-model="listitem"] .content-wrapper [data-gen-prop="description"] {
  margin-bottom: 0;
}

.content-wrapper .arrow-link-wrapper {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  bottom: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8d713e;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  flex-shrink: 0;
}

.content-wrapper .arrow-link-wrapper .left-arrow-icon {
  fill: #8d713e;
  transition: transform 0.3s ease;
  display: flex;
}

.content-wrapper .arrow-link-wrapper:hover .left-arrow-icon {
  transform: translateX(2px);
}


/* Without images variation styles */
.without-images-row {
  border-top: none;
  display: flex;
  gap: 0;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
}

.without-images-row [data-gen-model="linkField"] {
  display: none;
}

.without-images-row .content-wrapper {
  padding: 0 !important;
  padding-right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.without-images-row .arrow-link-wrapper {
  position: static;
  transform: none;
  margin-top: 0;
  align-self: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #8D713E;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-left: 16px;
}

/* Desktop Design */
@media (width >= 993px) {
  .without-images-left-column {
    flex: 0 0 50%;
    width: 50%;
    margin-bottom: 0;
  }

  .without-images-right-column {
    flex: 0 0 50%;
    width: 50%;
    margin-top: 0;
  }

  /* Right column - list items */
  .without-images-right-column [data-gen-model="listitem"] {
    margin-bottom: 32px;
  }

  .without-images-right-column .content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    gap: 16px;
  }

  .listing-wrapper .listing .without-images-right-column [data-gen-model="listitem"] [data-gen-prop="title"] {
    font-size: 24px !important;
    line-height: 40px;
    font-weight: 400;
    color: #3B3D3D !important;
    margin: 0;
    padding-right: 0;
    flex: 1;
  }

  .without-images-right-column .arrow-link-wrapper {
    margin-top: 0;
    margin-left: 16px;
  }
}

.listing-wrapper{
  position: relative;
  padding: 80px 0;

  @media (width >= 768px) and (width < 993px) {
    padding: 64px 0;
  }

  @media (width < 768px) {
    padding: 40px 0;
  }
}

/* Tablet Design */
@media (width >= 768px) and (width < 993px) {
  .without-images-row {
    flex-direction: column;
    gap: 0;
  }

  .without-images-left-column {
    width: 100%;
    margin-bottom: 32px;
  }

  .without-images-right-column {
    width: 100%;
    padding-top: 0;
  }

  /* Right column - list items */
  .without-images-right-column [data-gen-model="listitem"] {
    margin-bottom: 24px;
  }

  .without-images-right-column [data-gen-model="listitem"]:last-child {
    margin-bottom: 0;
  }

  .without-images-right-column [data-gen-model="listitem"] [data-gen-prop="title"] {
    font-size: 20px !important;
    line-height: 32px;
    font-weight: 400;
    color: #3B3D3D !important;
  }

  /* Left column - first title (main heading) */
  .without-images-left-column > div:first-child [data-gen-prop="title"] {
    font-size: 32px;
    line-height: 48px;
    font-weight: 400;
    color: #3B3D3D;
    margin-bottom: 24px;
    margin-top: 0;
  }

  /* Left column - second title (subtitle) */
  .without-images-left-column > div:nth-child(2) [data-gen-prop="title"] {
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    color: #3B3D3D;
    margin-bottom: 0;
  }

  .listing-wrapper .listing .without-images-right-column [data-gen-model="listitem"] [data-gen-prop="title"] {
    font-size: 20px !important;
    line-height: 32px;
    font-weight: 400;
    color: #3B3D3D !important;
  }

  .without-images-right-column .arrow-link-wrapper {
    width: 32px;
    height: 32px;
    margin-left: 16px;
  }

  .without-images-right-column .arrow-link-wrapper svg {
    width: 20px;
    height: 20px;
  }
}

/* Mobile Design */
@media (width < 768px) {
  .without-images-row {
    flex-direction: column;
    gap: 0;
  }

  .without-images-left-column {
    width: 100%;
    margin-bottom: 24px;
  }

  .without-images-right-column {
    width: 100%;
    padding-top: 0;
  }

  /* Right column - list items */
  .without-images-right-column [data-gen-model="listitem"] {
    margin-bottom: 20px;
  }

  .without-images-right-column [data-gen-model="listitem"]:last-child {
    margin-bottom: 0;
  }

  .without-images-right-column [data-gen-model="listitem"] [data-gen-prop="title"] {
    font-size: 16px !important;
    line-height: 24px;
    font-weight: 400;
    color: #3B3D3D !important;
  }

  /* Left column - first title (main heading) */
  .without-images-left-column > div:first-child [data-gen-prop="title"] {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    color: #3B3D3D;
    margin-bottom: 16px;
  }

  /* Left column - second title (subtitle) */
  .without-images-left-column > div:nth-child(2) [data-gen-prop="title"] {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #3B3D3D;
    margin-bottom: 0;
  }

  .listing-wrapper .listing .without-images-right-column [data-gen-model="listitem"] [data-gen-prop="title"] {
    font-size: 16px !important;
    line-height: 24px;
    font-weight: 400;
    color: #3B3D3D !important;
  }

  .without-images-right-column .arrow-link-wrapper {
    width: 32px;
    height: 32px;
    margin-left: 12px;
  }

  .without-images-right-column .arrow-link-wrapper svg {
    width: 18px;
    height: 18px;
  }
}