.statistics .statistics-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    row-gap: 64px;
}

.statistics.statistics-financial-variation .statistics-row {
    row-gap: 48px;
}

.statistics .statistics-row:not(:last-child) {
    border-bottom: solid 1px var(--text-color);
}

.statistics .statistics-row .feature-item {
    padding-top: 16px;
    padding-right: 24px;
    border-top: 1px solid var(--color-border-base);
}

.statistics-container .feature-wrapper .about-us-right-content{
  margin-bottom: 10px !important;
  padding-bottom: 10px !important;
  border-bottom: 1px solid var(--text-color);
  border-top: none !important;
  padding-top: 0 !important;
  margin-top: 0 !important;
}

.statistics-description-wrapper {
    font-size: var(--font-size-xs);
    font-weight: 400;
    line-height: 24px;
    color: var(--body-text-color);
    border-bottom: 1px solid var(--text-color);
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.statistics-description-wrapper .hide {
    display: none;
}

.statistics-container button {
    display: block;
    font-size: var(--font-size-xs);
    font-weight: 700;
    line-height: 24px;
    text-decoration-line: underline;
    color: var(--primary-gold);
    margin-left: auto;
    background: none;
}

.statistics-container button.hide {
    display: none;
}

.statistics .statistics-description-wrapper h3 {
    font-size: var(--font-size-xl);
    font-weight: 500;
    line-height: 50px;
    color: var(--text-color);
}

.statistics .statistic-item {
    font-size: 64px;
    font-weight: 400;
    line-height: 80px;
    color: var(--color-text-tertiary);
    margin-bottom: 16px;
}

.statistics.statistics-financial-variation .statistic-item {
    font-size: 64px;
}

.statistics .statistic-item sup, .statistics .statistic-item sub {
    line-height: 0;
}

.statistics .text-container {
    font-family: var(--typography-font-family-font-body);
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    color: var(--color-text-body);
}

.statistics-wrapper .statistics.block {
    margin-top: 80px;
    padding-bottom: 80px;
    position: relative;
    background-image: url(../../icons/Pattern.png);
    background-repeat: no-repeat;
    background-position: center top 30px;
    background-size: cover;
}


.statistics-wrapper .statistics.block.statistics-variation{
    margin-top: 0;
    position: static;
}

.statistics-wrapper .statistics.statistics-financial-variation.block {
    margin-top: 0;
}

.statistics-wrapper .statistics.statistics-financial-variation.block .statistics-row>div:first-child{
    width: 100% ;
    font-size: var(--font-size-m);
    font-weight: 400;
    line-height:40px;
    color: var(--text-color);
}

.statistics-wrapper .statistics.block.statistics-variation::before{
    position: static;
}

.statistics-wrapper + .feature-wrapper .about-us-stats {
    padding-top: 0;
}

.statistics .statistics-title {
    color: var(--text-color);
    margin-bottom: 64px;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px; 
    letter-spacing: 0;
}

.statistics.statistics-financial-variation .statistics-title {
    padding-bottom: 48px;
    margin-bottom: 48px;
    border-bottom: 2px solid var(--neutral-color);
}

.statistics.block.statistics-variation .statistics-title {
    margin-bottom: 12px;
}

 

@media (width <= 1280px) {
    .statistics-wrapper .statistics.block::before {
        left: 22px;
        right: 22px;
        width: auto;
        max-width: inherit;
    }
}

@media (width <= 1024px) {
    .statistics-wrapper .statistics.block {
        margin-top: 64px;
        padding-bottom: 64px;
        background-position: center top 120px;
    }

    .statistics-wrapper .statistics.block.statistics-variation{
        margin-top: 0;
    }

    .statistics-wrapper .statistics.statistics-financial-variation.block {
        margin-top: 0;
    }

    .statistics .statistics-title{
        margin-bottom: 40px;
        font-size: 32px;
        line-height: 48px; 
    }

    .statistics.block.statistics-variation .statistics-title {
        margin-bottom: 10px;
    }
    

    .statistics-wrapper .statistics.block::before {
        top: -22px;
    }

    .statistics-wrapper .statistics.block.statistics-variation::before {
        top: 0;
    }


  
}

@media (width<=1024px) {
    .statistics-description-wrapper {
        padding: 40px 0;
         margin-bottom: 40px;

    }
    
    .statistics .statistics-description-wrapper h3 {
        font-size: 32px;
    }

    .statistics .statistic-item {
        font-size: 56px;
        line-height: 72px;
    }

    .statistics .statistics-row {
        row-gap: 40px;
    }

    .statistics.statistics-financial-variation .statistics-row {
        row-gap: 40px;
    }

    .statistics.statistics-financial-variation .statistics-title {
        padding-bottom: 40px;
        margin-bottom: 40px;
    }

    .statistics .statistics-row .feature-item {
        padding-left: 12px;
        padding-right: 12px;
    }

    .statistics-wrapper .statistics.statistics-financial-variation.block .statistics-row>div:first-child{
        font-size:var(--font-size-s);
        line-height:32px;
    }

    .statistics .text-container {
        font-size: 16px;
        line-height: 24px;
    }
}

@media (width<768px) {
    .statistics-description-wrapper {
        padding: 28px 0;
        margin-bottom: 28px;
    }

    .statistics .statistics-description-wrapper h3 {
        font-size: var(--font-size-m);
    }

    .statistics .statistics-row {
        flex-direction: column;
        display: flex;
        gap: 24px;
    }

    .statistics.statistics-financial-variation .statistics-row {
        row-gap: 24px;
    }

    .statistics .statistics-row .feature-item {
        padding-left: 0;
        padding-right: 0;
    }

    .statistics .statistic-item {
        font-size: 64px;
        line-height: 80px;
    }

    .statistics-wrapper .statistics.block {
        margin-top: 40px;
        padding-bottom: 40px;
        background-position: center bottom;
        background-size: auto;
    }

    .statistics-wrapper .statistics.block.statistics-variation {
        margin-top: 0;
    }

    .statistics-wrapper .statistics.statistics-financial-variation.block {
        margin-top: 0;
    }

    .statistics .statistics-title{
        margin-bottom: 24px;
        font-size: 24px;
        line-height: 40px; 
    }

    .statistics.statistics-financial-variation .statistics-title {
        padding-bottom: 32px;
        margin-bottom: 32px;
    }

    .statistics-wrapper .statistics.statistics-financial-variation.block .statistics-row>div:first-child{
        font-size: var(--font-size-s);
        line-height:28px;
    }

    .statistics-wrapper .statistics.block::before {
        left: 10px;
        right: 10px;
    }

    .statistics.block.statistics-variation .statistics-title {
        margin-bottom: 8px;
    }
}

