.statistics .statistics-row {
    padding-bottom: 50px;
    row-gap: 36px;
    margin-left: -18px;
    margin-right: -18px;
}

.statistics.statistics-financial-variation .statistics-row {
    row-gap: 48px;
}

.statistics .statistics-row:not(:last-child) {
    border-bottom: solid 1px var(--text-color);
}

.statistics .statistics-row .feature-item {
    padding-left: 18px;
    padding-right: 18px;
}

.statistics-container .feature-wrapper .about-us-right-content{
  margin-bottom: 10px !important;
  padding-bottom: 10px !important;
  border-bottom: 1px solid var(--text-color);
  border-top: none !important;
  padding-top: 0 !important;
  margin-top: 0 !important;
}

.statistics-description-wrapper {
    font-size: var(--font-size-xs);
    font-weight: 400;
    line-height: 24px;
    color: var(--body-text-color);
    padding: 50px 0;
    border-bottom: 1px solid var(--text-color);
    margin-bottom: 50px;
}

.statistics-description-wrapper .hide {
    display: none;
}

.statistics-container button {
    display: block;
    font-size: var(--font-size-xs);
    font-weight: 700;
    line-height: 24px;
    text-decoration-line: underline;
    color: var(--primary-gold);
    margin-left: auto;
    background: none;
}

.statistics-container button.hide {
    display: none;
}

.statistics .statistics-description-wrapper h3 {
    font-size: var(--font-size-xl);
    font-weight: 500;
    line-height: 50px;
    color: var(--text-color);
}

.statistics .statistic-item {
    font-size: var(--font-size-xxxl);
    font-weight: 400;
    line-height: 80px;
    color: var(--primary-gold);
}

.statistics .statistic-item sup, .statistics .statistic-item sub {
    line-height: 0;
}

.statistics .text-container {
    font-size: var(--font-size-xs);
    font-weight: 400;
    line-height: 24px;
    color: var(--body-text-color);
}

.statistics-wrapper .statistics.block {
    margin-top: -68px;
    position: relative;
}


.statistics-wrapper .statistics.block.statistics-variation{
    margin-top: 0;
    position: static;
}

.statistics-wrapper .statistics.statistics-financial-variation.block {
    margin-top: 0;
}

.statistics-wrapper .statistics.statistics-financial-variation.block .statistics-row>div:first-child{
    width: 100% ;
    font-size: var(--font-size-m);
    font-weight: 400;
    line-height:40px;
    color: var(--text-color);
}

.statistics-wrapper .statistics.block::before {
    content: '';
    background: var(--background-color);
    position: absolute;
    inset: -70px 0 0;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    z-index: -1;
}

.statistics-wrapper .statistics.block.statistics-variation::before{
    position: static;
}

.statistics-wrapper + .feature-wrapper .about-us-stats {
    padding-top: 0;
}

.statistics .statistics-title {
    color: var(--text-color);
    margin-bottom: 64px;
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 500;
    line-height: 50px; /* 121.429% */
    letter-spacing: -0.5px;
}

.statistics.statistics-financial-variation .statistics-title {
    padding-bottom: 48px;
    margin-bottom: 48px;
    border-bottom: 2px solid var(--neutral-color);
}

.statistics.block.statistics-variation .statistics-title {
    margin-bottom: 12px;
}

 

@media (width <= 1280px) {
    .statistics-wrapper .statistics.block::before {
        left: 22px;
        right: 22px;
        width: auto;
        max-width: inherit;
    }
}

@media (width <= 1024px) {
    .statistics-wrapper .statistics.block {
        margin-top: -46px;
    }

    .statistics-wrapper .statistics.block.statistics-variation{
        margin-top: 0;
    }

    .statistics-wrapper .statistics.statistics-financial-variation.block {
        margin-top: 0;
    }

    .statistics-title{
        margin-bottom: 24px;
        font-size: var(--font-size-l);
        line-height: 42px; /* 121.429% */
    }

    .statistics.block.statistics-variation .statistics-title {
        margin-bottom: 10px;
    }
    

    .statistics-wrapper .statistics.block::before {
        top: -22px;
    }

    .statistics-wrapper .statistics.block.statistics-variation::before {
        top: 0;
    }


  
}

@media (width<=992px) {
    .statistics-description-wrapper {
        padding: 40px 0;
         margin-bottom: 40px;

    }
    
    .statistics .statistics-description-wrapper h3, .statistics .statistics-title {
        font-size: var(--font-size-l);
    }

    .statistics .statistic-item {
        font-size: 64px;
        line-height: 64px;
    }

    .statistics .statistics-row {
        row-gap: 24px;
        margin-left: -12px;
        margin-right: -12px;
    }

    .statistics.statistics-financial-variation .statistics-row {
        row-gap: 36px;
    }

    .statistics.statistics-financial-variation .statistics-title {
        padding-bottom: 40px;
        margin-bottom: 40px;
    }

    .statistics .statistics-row .feature-item {
        padding-left: 12px;
        padding-right: 12px;
    }

    .statistics-wrapper .statistics.statistics-financial-variation.block .statistics-row>div:first-child{
        font-size:var(--font-size-s);
        line-height:32px;
    }
}

@media (width<768px) {
    .statistics-description-wrapper {
        padding: 28px 0;
        margin-bottom: 28px;
    }

    .statistics .statistics-description-wrapper h3 {
        font-size: var(--font-size-m);
    }

    .statistics .statistics-row {
        row-gap: 18px;
        margin-left: 0;
        margin-right: 0;
    }

    .statistics.statistics-financial-variation .statistics-row {
        row-gap: 28px;
    }
    

    .statistics .statistics-row .feature-item {
        padding-left: 0;
        padding-right: 0;
    }

    .statistics .statistic-item {
        font-size: 48px;
        line-height: 48px;
    }

    .statistics-wrapper .statistics.block {
        margin-top: -54px;
    }

    .statistics-wrapper .statistics.block.statistics-variation {
        margin-top: 0;
    }

    .statistics-wrapper .statistics.statistics-financial-variation.block {
        margin-top: 0;
    }

    .statistics .statistics-title{
        margin-bottom: 24px;
        font-size: var(--font-size-m);;
        line-height: 34px; 
    }

    .statistics.statistics-financial-variation .statistics-title {
        padding-bottom: 32px;
        margin-bottom: 32px;
    }

    .statistics-wrapper .statistics.statistics-financial-variation.block .statistics-row>div:first-child{
        font-size: 22px;
        line-height:28px;
    }

    .statistics-wrapper .statistics.block::before {
        left: 10px;
        right: 10px;
    }

    .statistics.block.statistics-variation .statistics-title {
        margin-bottom: 8px;
    }
    
}
@media (width>=1200px) {
    .statistics-wrapper .statistics.block::before {
        max-width: none;
        width: auto;
        left: 100px;
        right: 100px;
    }
}

