p {
    margin: 0;
}

.projectslistitem {
    padding-top: 36px;
    padding-bottom: 80px;
    border-top: 1px solid var(--text-color);
    display: flex;
}

.left-col {
    padding-right: 15px;
}

.right-col {
    padding-left: 15px;
}

.project-title,
.project-subtitle {
    color: var(--text-color);
}

.project-title  {
    font-size: var(--font-size-m);
}

.project-long-description,
.project-short-description  {
    font-size: var(--font-size-xxs);
}

.project-long-description  {
    margin-top: 12px;
    /* margin-bottom: 30px; */
    font-size: var(--font-size-xs);
    line-height: 24px;
}

@media (width <= 992px) {
    .projectslistitem {
        padding-top: 24px;
        padding-bottom: 40px;
    }
}


@media (width <= 769px) {
    .projectslistitem {
        padding-top: 18px;
        padding-bottom: 32px;
    }
}

@media (width <= 767px) {
    .projectslistitem {
        display: block;
    }
    .projectslistitem .left-col, .projectslistitem .right-col {
        padding: 0;
    }
    .projectslistitem .right-col img {
        width: 100%;
    }
    .project-long-description  {
        font-size: var(--font-size-xxs);
        line-height: 20px;
    }
}

@media (width <= 426px) {
    .projectslistitem {
        display: grid;
        padding-top: 15px;
        padding-bottom: 20px;
    }

    .project-image {
        padding-top: 15px;
        width: 100%;
    }

    .left-col {
        padding: 0;
    }
    
    .right-col {
        padding: 0;
    }
}