p {
    margin: 0;
}

.projectslistitem {
    padding-top: 36px;
    padding-bottom: 36px;
    display: flex;
    border-top: 1px solid var(--text-color);
}

.projectslistitem picture {
    display: block;
    line-height: 0;
}

.projectslistitem:last-child {
    padding-bottom: 0;
}

.left-col {
    padding-right: 15px;
}

.right-col {
    padding-left: 15px;
}

.project-title,
.project-subtitle {
    color: var(--text-color);
    font-size: var(--font-size-s);
    letter-spacing: -0.5px;
}

.project-title  {
    font-size: var(--font-size-m);
    line-height: 40px;
    letter-spacing: -0.5px;
}

.project-long-description,
.project-short-description  {
    font-size: var(--font-size-xxs);
}
.project-short-description  {
   margin-top: 40px;
}

.project-short-description:empty  {
    margin-top: 0;
 }

.project-long-description {
    margin-top: 12px;
    font-size: var(--font-size-xs);
    line-height: 24px;
}

.project-long-description ul{
    padding-left: 18px;
}

.project-cta {
    background:none;
    cursor:pointer;
    padding:0;
    margin-top:30px;
    gap: 10px;
    display: flex;
    align-items: flex-start;
    color: var(--primary-gold) !important;
    line-height: 16px;
    text-decoration: underline !important;
    font-weight: 600;
}

.download-link-item {
    line-height: 1 !important;
    background: none;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-decoration: underline !important;
    text-decoration-thickness: 1px !important;
    font-size: var(--font-size-xs);
    font-weight: 700;
    line-height: 24px;
    color: var(--primary-gold) !important;
    padding: 0;
    margin: 0;
}


@media (width <= 992px)  {
    .project-title  {
        font-size: var(--font-size-md);
        line-height: 34px;
    }
    .projectslist-wrapper {
        margin: 32px 0;
    }
    .projectslistitem {
        padding-top: 28px;
        padding-bottom: 28px;
    }
    .project-cta {
        margin-top:24px;
        margin-bottom: 0;
    }
}

@media (width < 767px) {
    .projectslistitem {
        padding-top: 18px;
        padding-bottom: 18px;
        border-top: 1px solid var(--text-color);
        display: block;
    }
    .projectslistitem .left-col, .projectslistitem .right-col {
        padding: 0;
    }
    .project-short-description  {
       margin-top: 30px;
    }
    .projectslistitem .right-col img {
        width: 100%;
    }
    .project-long-description  {
        font-size: var(--font-size-xxs);
        line-height: 20px;
    }
    .project-image {
        padding-top: 18px;
        width: 100%;
    }
    .project-cta {
        margin-top:20px;
        font-size: var(--font-size-xxs);
       }
    .project-title  {
        font-size: var(--font-size-sm);
        line-height: 28px;
    }
    .project-subtitle {
        font-size: var(--font-size-xs);
    }
}

@media (width <= 426px) {
    .projectslistitem {
        display: grid;
        padding-top: 15px;
        padding-bottom: 20px;
    }
    .left-col {
        padding: 0;
    }
    
    .right-col {
        padding: 0;
    }
}

@media (width>=993) {
    .projectslist-wrapper {
        margin: 45px 0;
    }
}
