p {
    margin: 0;
}

.projectslistitem {
    padding-top: 36px;
    padding-bottom: 36px;
    border-top: 1px solid var(--text-color);
    display: flex;
}

.projectslistitem picture {
    display: block;
    line-height: 0;
}

.projectslistitem:last-child {
    padding-bottom: 0;
}

.left-col {
    padding-right: 15px;
}

.right-col {
    padding-left: 15px;
}

.project-title,
.project-subtitle {
    color: var(--text-color);
    font-size: var(--font-size-s);
}

.project-title  {
    font-size: var(--font-size-sm);
}

.project-long-description,
.project-short-description  {
    font-size: var(--font-size-xxs);
}
.project-short-description  {
   margin-top: 40px;
}

.project-short-description:empty  {
    margin-top: 0;
 }

.project-long-description {
    margin-top: 12px;
    font-size: var(--font-size-xs);
    line-height: 24px;
}

.project-long-description ul{
    padding-left: 18px;
}

.project-cta a.button:any-link{
    background:none;
    cursor:pointer;
    padding:0;
    color: var(--primary-gold);
    margin-top:30px
   }

@media (width <= 992px)  {
    .projectslist-wrapper {
        margin: 28px 0;
    }
    .projectslistitem {
        padding-top: 28px;
        padding-bottom: 28px;
    }
    .project-cta a.button:any-link{
        margin-top:24px;
        margin-bottom: 0;
       }
}

@media (width <= 767px) {
    .projectslistitem {
        padding-top: 18px;
        padding-bottom: 18px;
        border-top: 1px solid var(--text-color);
        display: block;
    }
    .projectslistitem .left-col, .projectslistitem .right-col {
        padding: 0;
    }
    .project-short-description  {
       margin-top: 30px;
    }
    .projectslistitem .right-col img {
        width: 100%;
    }
    .project-long-description  {
        font-size: var(--font-size-xxs);
        line-height: 20px;
    }
    .project-image {
        padding-top: 18px;
        width: 100%;
    }
    .project-cta a.button:any-link{
        margin-top:20px;
        font-size: var(--font-size-xxs);
       }
    .project-title  {
        font-size: var(--font-size-sm);
    }
    .project-subtitle {
        font-size: var(--font-size-xs);
    }
}

@media (width <= 426px) {
    .projectslistitem {
        display: grid;
        padding-top: 15px;
        padding-bottom: 20px;
    }
    .left-col {
        padding: 0;
    }
    
    .right-col {
        padding: 0;
    }
}

@media (width>=993) {
    .projectslist-wrapper {
        margin: 45px 0;
    }
}
