.historymilestones-wrapper:not(:last-child) {
    margin-bottom: 24px;
    padding-bottom: 24px;
}
.historymilestones-wrapper:nth-last-child(2) {
    margin-bottom: 0px;
}
.historymilestones-container {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}
.historymilestones-year > div:first-child {
    color: var(--primary-gold);
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.5px;
}
.historymilestones-year > div:last-child {
    color: var(--body-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.historymilestones-milestones {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    position: relative;
}
.historymilestones-wrapper:not(:last-child) .historymilestones-milestones::after {
    content: "";
    background: var(--neutral-color);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -24px;
    height: 1px;
}
.historymilestones-wrapper:nth-last-child(2) .historymilestones-milestones::after {
    display: none;
}
.historymilestones-milestone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}
.historymilestones-image {
    width: 100%;
}
.historymilestones-image img {
    width: 100%;
    height: 206px;
    object-fit: cover;
}

.historymilestones-date {
    color: var(--body-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; /* 150% */
}
.historymilestones-description {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px; /* 120% */
}

@media (width >= 768px) {
    .historymilestones-wrapper:not(:last-child) {
        margin-bottom: 48px;
        padding-bottom: 48px;
    }
    .historymilestones-wrapper:nth-last-child(2) {
        margin-bottom: 0px;
    }
    .historymilestones-container {
        row-gap: 26px;
    }
    .historymilestones-milestones {
        margin-left: -12px;
        margin-right: -12px;
        flex-wrap: wrap;
        flex-direction: row;
        row-gap: 42px;
    }
    .historymilestones-milestones > div {
        width: 50%;
    }
    .historymilestones-wrapper:not(:last-child) .historymilestones-milestones::after {
        left: 12px;
        right: 12px;
        bottom: -48px;
    }
    .historymilestones-milestone {
        padding: 0px 12px;
    }
    .historymilestones-year > div:first-child {
        font-size: 32px;
        line-height: 42px;
    }
    .historymilestones-date {
        font-size: 16px;
        line-height: 24px; /* 150% */
    }
    .historymilestones-description {
        font-size: 18px;
        line-height: 24px; /* 120% */
    }
}
@media (width > 993px) {
    .historymilestones-wrapper:not(:last-child) {
        margin-bottom: 68px;
        padding-bottom: 68px;
    }
    .historymilestones-wrapper:nth-last-child(2) {
        margin-bottom: 0px;
    }
    .historymilestones-container {
        flex-direction: row;
        row-gap: 0px;
    }
    .historymilestones-year {
        flex: 0 0 33.3333%;
        padding-right: 18px;
    }
    .historymilestones-year > div:first-child {
        font-size: 40px;
        line-height: 50px;
    }
    .historymilestones-milestones {
        padding-left: 18px;
        margin-left: -18px;
        margin-right: -18px;
        row-gap: 68px;
    }
    .historymilestones-wrapper:not(:last-child) .historymilestones-milestones::after {
        left: 36px;
        right: 18px;
        bottom: -68px;
    }
    .historymilestones-milestone {
        padding: 0px 18px;
    }
    .historymilestones-date {
        font-size: 16px;
        line-height: 24px; /* 150% */
    }
    .historymilestones-description {
        font-size: 20px;
        line-height: 24px; /* 120% */
    }
}