
  /* search */
  
  .search-nav{
    padding: 40px 0;
    background-color: var(--whisper-gray)
  }
  .search-nav .icon-wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
  }
  .search-nav .close-btn {
    display: block;
    background: none;
  }
  .search-heading-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    display: none;
  }
  .header-search .search-heading-wrapper{
    display: flex;
  }
  .search-heading-wrapper .search-heading{
    font-size: var(--font-size-md);
    font-style: normal;
    font-weight: 600;
    line-height: 30px; 
    letter-spacing: -0.24px;
    color: var(--text-color);
  }
  .search-input-wrapper{
    display: flex;
  }
  .search-input-wrapper .input-wrapper{
    width: 100%;
    position: relative;
  }
  .search-input-wrapper .search-input{
    width: 100%;
    height: 100%;
    padding: 16px;
    padding-left: 40px;
    border: none;
    outline: none;
  }

  .search-input-wrapper .input-wrapper .clear-btn-wrapper{
    position: absolute;
    top: calc(50% - 12px);
    right: 20px;
    cursor: pointer;
    display: none;
  }
  .search-input-wrapper .input-wrapper .clear-btn-wrapper.active{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-input-wrapper .input-wrapper .icon-wrapper{
    color: currentColor;
    position: absolute; 
    top: calc(50% - 10px);
    left: 10px; 
  }
  .search-input-wrapper .input-wrapper .clear-btn-wrapper .icon-wrapper{
    position: static;
  }
  .search-input-wrapper .input-wrapper .clear-btn-wrapper .clear-btn-text{
    color: var(--primary-gold);
    margin-left: 12px;
  }

  .search-input-wrapper .input-wrapper .icon-wrapper.close-icon{

    background-color: var(--soft-ivory-blue)!important;
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }

  .search-input-wrapper .input-wrapper .icon-wrapper svg{
    width: 24px;
    height: 24px;
    color: var(--text-color);
  }
  .search-input-wrapper .input-wrapper .icon-wrapper.close-icon svg{
    width: 10px;
    height: 10px;
    color: var(--primary-gold);
  }
  .search-input-wrapper .search-btn{
    width: 160px;
    padding: 16px;
    background-color: var(--primary-gold);
    text-decoration: none;
    color: var(--background-color);
    text-align: center;
    display: none;
  }
  .header-search .search-input-wrapper .search-btn{
    display: block;
  }
  .search-input-wrapper .search-btn .button-container{
    line-height: 1;
    padding: 0;
    margin: 0;
    background: none;
  } 
  .search-input-wrapper .search-btn .button-container a{
    padding: 0;
    background: none;
    text-decoration: none;
  }

  .search-result-count{
    display: none;
    margin-top: 24px;
  }

  .search-result-count.active{
    display: block;
    color: var(--body-text-color);
    font-size: var(--font-size-xs);
    font-weight: 400;
    line-height: 28px; 
  }

  .header-search .search-result-count{
    display: none;
    
  }
  
  .search-result-count span{
    color: var(--primary-gold);
  }
  
  .header-search .search-results-wrapper{
    display: none;
  }

  .search-results-wrapper .search-results{
    background: var(--background-color);
    margin-top: 20px;
    padding: 12px;
    display: none;
  }
  .search-results-wrapper .search-results-item{
    padding: 32px 0;
    border-bottom: 1px solid var(--body-text-color);
  }

  .search-results-wrapper .search-results-item .title{
    color: var(--text-color);
    font-size: var(--font-size-md);
    font-weight: 400;
    line-height: 32px;
    position: relative;
  }
  .search-results-wrapper .search-results-item .title:after{
    content: '';
    width: 24px;
    height: 24px;
    background: url(../../icons/right-arrow.svg) no-repeat center;
    position: absolute;
    right: -35px;
    top: 4px;
    display: none;
  }
  .search-results-wrapper .search-results-item .title:hover{
    color: var(--primary-gold);
  }
  .search-results-wrapper .search-results-item .title:hover:after{
    display: block;
  }
  .search-results-wrapper .search-results-item .description{
    color: var(--body-text-color);
    font-size: var(--font-size-xs);
    font-weight: 400;
    line-height: 24px;
  }
  .search-results-wrapper.active .search-results{
    display: block;
  }
  .search-results-wrapper .search-tips{
    padding: 36px;
    background: var(--soft-pearl);
    border: 1px solid var(--soft-ivory);
    margin-top: 32px;
  }
  .search-results-wrapper .search-tips h2{
    color: var(--text-color);
    font-size: var(--font-size-md);
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 18px;

  }
  .search-results-wrapper .search-tips .search-tips-list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 12px;
    column-gap: 36px;
    padding-top: 18px;
    border-top: 1px solid var(--body-text-color);
  }
  .search-results-wrapper .search-tips ul li{
    /* width: 47%; */
    color: var(--body-text-color);
    font-size: var(--font-size-xs);
    font-weight: 400;
    line-height: 144%; 
    margin-bottom: 24px;
  }
  .search-results-wrapper.active .search-tips{
    display: none;
  }
 
  .search-results-wrapper .highlight{
    color: var(--primary-gold);
    font-weight: 900;
  }

  .pagination-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 34px 0;
    color: var(--text-color);
    font-size: var(--font-size-xs);
    font-style: normal;
    font-weight: 400;
  }

  .pagination-wrapper button{
    background: none;
  }
  .pagination-wrapper button svg{
    width: 24px;
    height: 24px;
  }
  .pagination-wrapper button .arrow-icon{
    color:var(--primary-gold)
  }
  .pagination-wrapper button:disabled .arrow-icon path{
    fill: var(--neutral-color);
  }
  .pagination-wrapper .page-info{
    margin: 0 16px;
  }

  /* Mobile */
  @media (width <= 768px) {
    .search-wrapper svg{
      width: 22px;
    }
    .search-input-wrapper{
      flex-direction: column;
      row-gap: 16px;
    }
    .search-input-wrapper .search-btn{
      width: 100%;
    }
    .search-input-wrapper .input-wrapper .clear-btn-wrapper .clear-btn-text{
      display: none;
    }
  }
