/* ===============================
   Section Header – Base
================================ */

.sectionheader {
    width: 100%;
    max-width: 1920px;
    padding-top: 80px;
    padding-bottom: 80px;
    margin: auto;
}

/* ===============================
   Label
================================ */

.section-header-label {
    margin: 0 !important;
    color: var(--colours-text-text-tertiary, #8D713E);

    font-family: var(--typography-font-family-font-body, "Instrument Sans");
    font-size: var(--typography-font-size-text-xs, 14px);
    font-weight: 400;
    line-height: var(--typography-font-line-height-leading-3, 24px);
    letter-spacing: var(--typography-font-spacing-tracking-normal, 0);
}

/* ===============================
   Title
================================ */

.section-header-title {
    margin: 0;
    color: var(--colours-text-text-body, #3B3D3D);

    font-family: var(--typography-font-family-font-title, Inter);
    font-weight: 400;
    letter-spacing: var(--typography-font-spacing-tracking-normal, 0);
}



/* ===============================
   Description
================================ */

.section-header-description {
    margin: 0;
    color: var(--colours-text-text-body, #3B3D3D);
    font-weight: 400;
    letter-spacing: var(--typography-font-spacing-tracking-normal, 0);
}

/* Mobile */
@media (max-width: 767px) {
    .section-header-description {
        font-family: var(--typography-font-family-font-body, "Instrument Sans");
        font-size: var(--typography-font-size-text-base, 16px);
        line-height: var(--typography-font-line-height-leading-3, 24px);
    }
}

/* Tablet & Desktop */
@media (min-width: 768px) {
    .section-header-description {
        font-family: var(--typography-font-family-font-title, Inter);
        font-size: var(--typography-font-size-text-sm, 24px);
        line-height: var(--typography-font-line-height-leading-4, 40px);
    }
}

/* ===============================
   CTA
================================ */

.section-header-cta {
    display: flex;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;

    aspect-ratio: 1 / 1;
    border-radius: var(--border-border-radius-rounded-full, 9999px);
    border: 2px solid var(--button-icon-button-iconbtn-secondary-default-border, #8D713E);
}

.section-header-cta-icon {
    display: inline-flex;
}

.section-header-cta-icon .icon-wrapper {
    position: relative;
}


.section-header-cta svg {
    /* width: 20px;
    height: 20px; */
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    fill: #8D713E;
}

.section-header-cta svg path {
    fill: #8D713E;
}

.section-header-cta:hover {
    border: 2px solid var(--button-icon-button-iconbtn-secondary-default-border, #C8AB4B);
}

.section-header-cta:hover path{
    stroke: #C8AB4B;
}

.section-header-cta:hover svg {
    fill: #C8AB4B;
}

/* ===============================
   Layout – Vertical (Default)
================================ */

.sectionheader.section-header.vertical .section-header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-8, 32px);
}

/* ===============================
   Layout – Horizontal
================================ */

.sectionheader.section-header.horizontal .section-header-wrapper {
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-8, 32px);
}

.sectionheader.section-header.horizontal .section-header-left {
    flex: 0 0 50%;
    min-width: 0;
}

.sectionheader.section-header .section-header-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--spacing-6, 24px);
    flex: 0 0 45%;
}

/* ===============================
   Responsive – Container
================================ */

@media (width < 768px) {   
    
    .section-header-cta {
        width: 32px;
        height: 32px;
    }
    .section-header-cta svg{
        width: 9.33px;
        height: 9.33px;
    }
    .sectionheader.section-header.horizontal .section-header-wrapper {
        flex-direction: column;
        gap: 16px;
    }

    .sectionheader.section-header.horizontal .section-header-right {
        max-width: 100%;
        gap: 16px;
    }
}

/* Mobile */
@media (width < 768px) {
    .sectionheader {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .section-header-title {
        font-size: var(--typography-font-size-text-m, 28px);
        line-height: var(--typography-font-line-height-leading-5, 44px); /* 157.143% */
    }
}

/* Tablet */
@media (width >= 768px) and (width <= 1024px) {
    .sectionheader {
        padding-top:64px;
        padding-bottom: 64px;
    }
    .section-header-title {
        font-size: var(--typography-font-size-text-lg, 32px);
        line-height: var(--typography-font-line-height-leading-6, 48px);
    }

    .sectionheader.section-header.horizontal .section-header-wrapper {
        gap: 24px;
        flex-direction: column;
    }
}

/* Desktop */
@media (width > 1024px) {
    .section-header-title {
        font-size: var(--typography-font-size-text-xl, 36px);
        line-height: var(--typography-font-line-height-leading-7, 56px);
    }
}
