.last-row {
    display: flex;
    gap: 36px;
}

.mediagallery {
    display: flex;
    justify-content: center;
}

.wrapped-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-img {
    display: flex;
}

.right-img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.ml {
    margin-left: 36px;
}

.mr {
    margin-right: 36px;
}

.mediagallery-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 36px;
}

.media-gallery-modal{
    position: absolute;
    inset: 0;
    background-color: #00000099;
    z-index: 9199;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.media-gallery-modal-body{
    background-color: #fff;
    padding: 32px;
    width: 806px;
    height: 626px;
    position: relative;
}

.media-gallery-body-img{
    width: 100%;
    height:450px;
}

.media-gallery-modal-bottom-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
    padding-top: 12px;
    border-top: solid 1px #957842;
}

.media-gallery-modal-title{
    font-weight: 600;
    font-size: var(--font-size-s);
    color: #000;
}

.media-gallery-modal-description{
    color: #000;
}

.media-gallery-modal-close-btn{
    background-color: #fff;
    border-radius: 100%;
    height: 34px;
    width: 34px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -48px;
    right: 0;
}

.media-gallery-modal-close-btn span{
    margin-top: 4px;
}

.media-gallery-modal-close-btn:hover,
.media-gallery-modal-close-btn:focus{
    background-color: #fff;
}

.media-gallery-modal-btn,
.media-gallery-modal-btn:hover,
.media-gallery-modal-btn:focus{
    background: transparent;
}

.mg-two-one-row{
    width: 100%;
}

.mg-one-two-row{
    width: 100%;
}

.mg-one-one-one-row{
    width: 100%;
}

.media-gallery-images{
    cursor: pointer;
}

@media (width <=992px) {
    .ml {
        margin-left: 23px;
    }

    .mr {
        margin-right: 23px;
    }

    .mediagallery-wrapper {
        margin-bottom: 28px;
    }

    .last-row {
        gap: 24px;
    }

    .media-gallery-modal-body {
        width: 751px;
        height: 594px;
    }
    
    .media-gallery-body-img {
        height: 424px;
    }
}

@media (width <=640px) {
    .mediagallery {
        display: block;
    }

    .ml {
        margin-left: 0px;
    }

    .mr {
        margin-right: 0px;
    }

    .mediagallery-wrapper {
        margin-bottom: 0px;
    }

    .mediagallery img {
        margin-bottom: 24px;
    }

    .media-gallery-modal-body {
        padding: 16px;
        width: 342px;
        height: 337px;
    }

    .media-gallery-body-img{
        height: 191px;
    }

    .media-gallery-modal-title{
        font-size: var(--base-font-size);
    }
    .media-gallery-modal-description{
        font-size: var(--font-size-xxxxs);
    }
    .media-gallery-modal-bottom-section{
        align-items: flex-end;
    }

}