.last-row {
    display: flex;
    gap: 35px;
}

.mediagallery {
    display: flex;
}

.wrapped-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-img {
    display: flex;
    flex: 3;
}

.right-img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.ml {
    margin-left: 36px;
}

.mr {
    margin-right: 36px;
}

.mediagallery-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 36px;
}

@media (width <=992px) {
    .ml {
        margin-left: 23px;
    }

    .mr {
        margin-right: 23px;
    }

    .mediagallery-wrapper {
        margin-bottom: 28px;
    }

    .last-row {
        gap: 24px;
    }
}

@media (width <=640px) {
    .mediagallery {
        display: block;
    }

    .ml {
        margin-left: 0px;
    }

    .mr {
        margin-right: 0px;
    }

    .mediagallery-wrapper {
        margin-bottom: 0px;
    }

    .mediagallery img {
        margin-bottom: 24px;
    }


}