.corporatepolicies-wrapper{
    padding: 68px 0;
}
.corporate-policies-list-item {
    padding: 68px 0;
    border-bottom: 2px solid var(--neutral-color, #e5e5e5);
}

.corporate-policies-list>div:first-child{
    padding-top: 0;
}
.corporate-policies-list>div:last-child{
    padding-bottom: 80px;

}
.corporate-policies-border-bottom .corporate-policies-list>div:last-child{
    padding-bottom: 0;
    border-bottom: none;

}


.corporate-policies-list-item .left-col {
    font-size: var(--font-size-xl);
    font-weight: 500;
    line-height: 50px;
    color: var(--text-color);
}

.corporate-policies-list-item .right-col > div:first-child {
    font-size: var(--font-size-xs);
    font-weight: 400;
    line-height: 24px;
    color: var(--gray-text-color, #666666);
    margin-bottom: 24px;
}

.corporate-policies-list-item .right-col > div:last-child a {
    background: none;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    font-size: var(--font-size-xs);
    font-weight: 700;
    line-height: 24px;
    color: var(--gold-color, #b29152);
    padding: 0;
    margin: 0;
}
.corporate-policies-cta-right .corporate-policies-list-item .right-col > div:last-child{
  text-align: end;
}
.corporate-policies-list-item .right-col > div:last-child a > span:last-child {
    line-height: 0;
}

@media (width <= 992px) {
    .corporatepolicies-wrapper{
        padding: 56px 0;
    }
    .corporate-policies-list-item {
        padding: 48px 0px;
    }
    .corporate-policies-list-item .left-col {
        font-size: var(--font-size-l);
        line-height: 42px;
    }
    .corporate-policies-list-item .right-col > div:first-child {
        margin-bottom: 10px;
    }
}

@media (width < 768px) {
    .corporatepolicies-wrapper{
        padding: 32px 0;
    }
    .corporate-policies-list-item {
        padding: 36px 0px;
    }
    .corporate-policies-list-item .left-col {
        font-size: var(--font-size-m);
        line-height: 34px;
        margin-bottom: 16px;
    }

    .corporate-policies-list-item .right-col {
        padding: 0;
    }
    .corporate-policies-list-item .right-col > div:first-child {
        font-size: var(--font-size-xxs);
        line-height: 20px;
        margin-bottom: 8px;
    }
    .corporate-policies-list-item .right-col > div:last-child a {
        font-size: var(--font-size-xs);
        line-height: 20px;
    }
}
