.corporatepolicies-wrapper{
    padding: 80px 0;
    background-image: url(../../icons/Pattern.png);
    background-repeat: no-repeat;
    background-position: center bottom -100px;
    background-size: cover;
}

.corporate-policies-list-item {
    padding: 40px 0;
    border-bottom: 1px solid var(--color-neutral-800);
}

.corporate-policies-list-item ul, .corporate-policies-list-item ul li, .corporate-policies-list-item ul p{
    margin-top: 0;
    margin-top: 10px;
}

.corporate-policies-list-item ul a, .corporate-policies-list-item ul a.button:any-link{    
  background: none;
  margin: 0;
  padding: 0;
  color: var(--primary-gold);
  text-decoration: underline;
  cursor: pointer;
  display: inline;
  font-weight: 400;
}

.corporate-policies-list p a{
    color: var(--primary-gold);
    text-decoration:  underline;
    cursor: pointer;
}

.corporate-policies-list-item>div:first-child{
    padding-right: 12px;

}

.corporate-policies-list-item>div:last-child{
    padding-left: 12px;

}

.corporate-policies-list>div:first-child{
    padding-top: 0;
}

.corporate-policies-list>div:last-child{
    padding-bottom: 0;
    border-bottom: none;
}

.corporate-policies-border-bottom .corporate-policies-list>div:last-child{
    padding-bottom: 0;
    border-bottom: none;
}


.corporate-policies-list-item .left-col h2{
    font-size: 36px;
    font-weight: 400;
    line-height: 56px;
    color: var(--text-color);
    margin: 0;
    width: 50%;
}

.corporate-policies-list-item .left-col .corporate-policies-subtitle{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-text-tertiary);
    font-family: var(--typography-font-family-font-body);
    margin-bottom: 8px;
}

.corporate-policies-list-item .right-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.corporate-policies-list-item .right-col .button-container {
    display: flex;
}

.corporate-policies-list-item .right-col > div:first-child {
    font-size: 24px;
    font-family: var(--typography-font-family-font-body);
    font-weight: 400;
    line-height: 40px;
    color: var(--body-text-color);
}

.corporate-policies-list-item .right-col > div:nth-child(3) a{
    background: none;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-size: var(--font-size-xs);
    font-family: var(--typography-font-family-font-body);
    font-weight: 500;
    line-height: 24px;
    color: var(--color-text-tertiary);
    padding: 0;
    margin: 24px 0 0 0;
}

.corporate-policies-cta-right .corporate-policies-list-item .right-col > div:nth-child(3){
  text-align: end;
}

.corporate-policies-list-item .right-col > div:nth-child(3) a > span:last-child {
    line-height: 0;
}

.corporate-policies-list-item .right-col > div:nth-child(3) a > span:first-child {
    line-height: 1;
}

.tab-panel.corporatepolicies-container .corporatepolicies-wrapper {
    padding-top: 32px;
    padding-bottom: 64px;
    background-image: none;
}

@media screen and (width < 1181px) and (width >= 768px) {
    .corporatepolicies-wrapper{
        padding: 64px 0;
    }

    .corporate-policies-list-item {
        padding: 20px 0;
    }

    .corporate-policies-list-item .left-col h2{
        font-size: 32px;
        line-height: 48px;
        width: 80%;
    }

    .corporate-policies-list-item .right-col > div:first-child{
        font-size: 16px;
        line-height: 24px;
    }

    .tab-panel.corporatepolicies-container .corporatepolicies-wrapper {
        padding-top: 8px;
        padding-bottom: 40px;

        .corporate-policies-list-item {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
    
        .corporate-policies-list-item .left-col {
            width: 100%;
        }
    
        .corporate-policies-list-item .left-col h2 {
            width: 100%;
        }
    
        .corporate-policies-list-item .right-col {
            width: 100%;
        }

        .corporate-policies-list-item>div:first-child{
            padding-right: 0;
        }

        .corporate-policies-list-item>div:last-child{
            padding-left: 0;
        }
    }
}

@media (width < 768px) {

    .corporatepolicies-wrapper{
        padding: 40px 0;
    }

    .corporate-policies-list-item {
        padding: 20px 0;
    }

    .corporate-policies-list-item>div:first-child{
        padding-right: 0;
    
    }

    .corporate-policies-list-item>div:last-child{
        padding-left: 0;
    
    }

    .corporate-policies-list-item .left-col h2{
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 16px;
        width: 100%;
    }

    .corporate-policies-list-item .right-col {
        padding: 0;
    }

    .corporate-policies-list-item .right-col > div:first-child {
        font-size: 16px;
        line-height: 24px;
    }

    .corporate-policies-list-item .right-col > div:nth-child(3) a {
        font-size: var(--font-size-xs);
        line-height: 20px;
    }

    .tab-panel.corporatepolicies-container .corporatepolicies-wrapper {
        padding-top: 0px;
        padding-bottom: 24px;
    }
}
