.corporatepolicies-wrapper{
    margin: 45px 0;
}

.corporate-policies-list-item {
    padding: 68px 0;
    border-bottom: 2px solid var(--body-text-color);
}

.corporate-policies-list-item ul, .corporate-policies-list-item ul li, .corporate-policies-list-item ul p{
    margin-top: 0;
    margin-top: 10px;
}

.corporate-policies-list-item ul a, .corporate-policies-list-item ul a.button:any-link{    
  background: none;
  margin: 0;
  padding: 0;
  color: var(--primary-gold);
  text-decoration: underline;
  cursor: pointer;
  display: inline;
  font-weight: 400;
}

.corporate-policies-list p a{
    color: var(--primary-gold);
    text-decoration:  underline;
    cursor: pointer;
}

.corporate-policies-list-item>div:first-child{
    padding-right: 18px;

}

.corporate-policies-list-item>div:last-child{
    padding-left: 18px;

}

.corporate-policies-list>div:first-child{
    padding-top: 0;
}

.corporate-policies-list>div:last-child{
    padding-bottom: 0;
    border: none;
}

.corporate-policies-border-bottom .corporate-policies-list>div:last-child{
    padding-bottom: 0;
    border-bottom: none;
}

.corporate-policies-list-item .left-col h2{
    font-size: var(--font-size-xl);
    font-weight: 500;
    line-height: 50px;
    color: var(--text-color);
    letter-spacing: -0.5px;
}

.corporate-policies-list-item .right-col > div:first-child {
    font-size: var(--font-size-xs);
    font-weight: 400;
    line-height: 24px;
    color: var(--body-text-color);
    margin-bottom: 24px;
}

.corporate-policies-list-item .right-col > div:nth-child(3) a{
    background: none;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    font-size: var(--font-size-xs);
    font-weight: 700;
    line-height: 24px;
    color: var(--primary-gold);
    padding: 0;
    margin: 0;
}

.corporate-policies-cta-right .corporate-policies-list-item .right-col > div:nth-child(3){
  text-align: end;
}

.corporate-policies-list-item .right-col > div:nth-child(3) a > span:last-child {
    line-height: 0;
}

.corporate-policies-list-item .right-col > div:nth-child(3) a > span:first-child {
    line-height: 1;
}

@media (width <= 992px) {
    .corporatepolicies-wrapper{
        margin: 32px 0;
    }

    .corporate-policies-list-item {
        padding: 28px 0;
    }

    .corporate-policies-list-item .left-col h2{
        font-size: var(--font-size-l);
        line-height: 42px;
    }

    .corporate-policies-list-item .right-col > div:nth-child(4) {
        margin-bottom: 10px;
    }
}

@media (width < 768px) {
    .corporatepolicies-wrapper{
        margin: 24px 0;
    }

    .corporate-policies-list-item {
        padding: 24px 0;
    }

    .corporate-policies-list-item>div:first-child{
        padding-right: 0;
    
    }

    .corporate-policies-list-item>div:last-child{
        padding-left: 0;
    
    }

    .corporate-policies-list-item .left-col h2{
        font-size: var(--font-size-m);
        line-height: 34px;
        margin-bottom: 16px;
        letter-spacing: -0.5px;
    }

    .corporate-policies-list-item .right-col {
        padding: 0;
        font-size: var(--font-size-xxs);
    }

    .corporate-policies-list>div:last-child{
        padding-bottom: 24px;
        padding-left: 0;
    }

    .corporate-policies-list-item .right-col > div:first-child {
        font-size: var(--font-size-xxs);
        line-height: 20px;
        margin-bottom: 8px;
    }

    .corporate-policies-list-item .right-col > div:nth-child(3) a {
        font-size: var(--font-size-xxs);
        line-height: 20px;
    }
    .corporate-policies-list-item .right-col > div:nth-child(3) a > span:first-child {
        font-size: var(--font-size-xxs);        
    }
}
