.footer h1,h2,h3,h4,h5,h6,p,a,button,div,img,picture{
    margin: 0;
    padding: 0;
}

.footer {
    background-color: var(--bronze-brown);
    color: var(--background-color);
    padding-top: 68px;
    padding-bottom: 44px;
}

.footer .top-container{
    padding-bottom: 38px;
    border-bottom: 1px solid var(--background-color);
    display: flex;
}

.social-icons a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.footer .button-container a{
    color: var(--background-color);
}

.footer .right-section {
    width: 25%;
    padding-right: 18px;
}

.footer .footer-logo{
    margin-bottom: 20px;
    max-width: 168px;
    max-height: 50px;
}

.footer .footer-logo img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Body/P1 */
.footer .footer-description{
    font-size: var(--font-size-xs);
    font-weight: 400;
    line-height: 24px;
    color: var(--background-color);
    margin-bottom: 30px;
    overflow-wrap: anywhere;
}

.footer .social-icons .social-links{
    display: flex;
    column-gap: 14px;
    align-items: center;
}

.footer .social-icons .social-links a{
    margin: 0;
    width: 42px;
    height: 42px;
    padding: 12px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid var(--background-color);
    color: var(--soft-ivory);
}

.footer .social-icons .social-links a .social-icon-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.footer .social-icons .social-links a .social-icon-wrapper .icon-wrapper{
    padding: 0!important;
    line-height: 0;
}

/* Footer Left section */
.footer .mt-4{
    padding-top: 35px;
}

.footer .left-section {
    width: 75%;
}

.footer .left-section .row>div{
    padding: 0 18px;
}

.footer nav{
    margin-bottom: 24px;
}

.footer .left-section .footer-nav-title{
    font-size: var(--font-size-xs);
    font-weight: 700;
    line-height: 24px;
    color: var(--background-color);
    margin-bottom: 10px;
    display: block;
}

.footer .left-section .button-container a{
    font-size: var(--font-size-xs);
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 6px;
    display: inline-block;
}

.footer .footer-bottom-links .button-container a{
    font-size: var(--font-size-xs);
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 6px;
}

.footer .mt-4 .copywrite{
    font-size: var(--font-size-xs);
    font-weight: 400;
    line-height: 24px;
    color: var(--background-color);
}

.footer .mt-4 .copywrite a{
    color: var(--background-color);
    text-decoration: underline;
}

.footer .copywrite-right{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    padding: 0 0 0 18px !important;
    height: max-content;
    line-height: 29px;
}

.footer .copywrite-right .copywrite-links {
    box-sizing: border-box;
  }

  .footer .copywrite-right .copywrite-links .button-container a{
    white-space: nowrap;
  }

p.footer-row {
    line-height: 24px;
}

@media(width<=1024px){
    .footer {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .footer .footer-logo{
        margin-bottom: 20px;
        margin-left: 18px;
    }

    .footer .social-icons .social-links{
        display: flex;
        column-gap: 14px;
        align-items: center;
        margin-bottom: 40px;
    }

    .footer .mt-4{
        padding-top: 30px;
    }

    .footer .footer-child-element .row>div{
        padding: 0 18px;
    }

    .footer .footer-child-element>div:nth-child(2){
        border-bottom: 1px solid var(--background-color);
    }

    .footer nav{
        margin-bottom: 40px;
    }

    .footer .footer-nav-title{
        font-size: var(--font-size-xs);
        font-weight: 700;
        line-height: 24px;
        color: var(--background-color);
    }

    .footer .button-bottom-links .row{
        padding-left: -18px;
        padding-right: -18px;
    }

    .footer .mt-4 .footer-bottom-links .row>div:nth-child(2){
        padding: 0;
    }

    .footer .copywrite-right{
        grid-template-columns: repeat(2, auto);
        line-height: 0px;
    }

    .footer .mt-4 .footer-bottom-links .row [data-link-model="links"]{
        padding: 0;
    }

}

@media(width<768px){
    .footer .footer-child-element .row>div:first-child{
        margin-bottom:12px
    }

    .footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .footer .footer-logo{
        margin-bottom: 18px;
        margin-left: 0px;
    }

    .footer .social-icons .social-links{
        margin-bottom: 0;
    }


    .footer .mt-4{
        padding-top: 24px;
    }

    .footer nav{
        margin-bottom: 30px;
    }

    .footer .footer-nav-title{
        font-size: var(--font-size-xs);
        font-weight: 700;
        line-height: 24px;
        color: var(--background-color);
    }
    .footer .footer-description, .footer nav a, .footer .mt-4 .copywrite, .footer .footer-bottom-links .button-container a {
        font-size: var(--font-size-xxs);
        line-height: 20px;
    }  

    .footer .left-section .button-container a{
        font-size: var(--font-size-xxs);
        line-height: 20px;
        margin-bottom: 10px;
    }
  
    .footer .mt-4 .footer-bottom-links .row>div {
        text-align: start;
    }
  
    .footer .mt-4 .footer-bottom-links .row [data-linkfield-model="linkField"]{
        padding: 0;
        margin: 0;
    }

    .footer .mt-4 .footer-bottom-links .row [data-aue-prop="linkText"]{
        text-align: start;

    }

    p.footer-row {
        line-height: 20px;
    }
}

@media(width>1440px){
    .footer .mt-4 .copywrite{
       line-height: 32px;
    }
}

.footer [data-aue-prop="linkTarget"] {
    display: none;
}