.boardofdirectors-container {
    margin: 80px 0;
}

.boardofdirectors .board-director-info {
    display: none;
    background-color: var(--primary-default-fg);
    padding: 24px;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text-body);
    font-family: var(--typography-font-family-font-body);
    font-weight: 400;
    position: relative;
}

.boardofdirectors .board-director-info .toggle-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px;
}

.boardofdirectors .director-card .toggle-on {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    padding: 16px;
    border: 2px solid var(--color-border-secondary);
    border-radius: 9999px;
    background: transparent;
    color: var(--color-border-secondary);
    transition: all 0.2s ease;
    margin: 0;
}

.boardofdirectors .icon-wrapper {
    display: flex;
}

.boardofdirectors .description-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.boardofdirectors .director-card .toggle-on:hover .icon-wrapper {
    color: var(--color-text-white) !important;
}

.boardofdirectors .director-card .toggle-on:focus .icon-wrapper {
    color: var(--color-text-white) !important;
}

.boardofdirectors .director-card .toggle-on:hover {
    color: var(--color-text-white);
    border-color: var(--color-text-white);
}

.boardofdirectors .director-card .toggle-on:focus {
    color: var(--color-text-white);
    border-color: var(--color-text-white);
}

.boardofdirectors .director-card .toggle-off {
    display: none;
}

.boardofdirectors .board-director-info .toggle-button .toggle-off {
    background: none;
    border: none;
    font-weight: normal;
    font-size: 30px;
    color: var(--primary-gold);
    line-height: 16px;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.boardofdirectors .board-director-info .toggle-button .toggle-off .icon-wrapper:hover {
    color: var(--color-text-secondary) !important;
}

.boardofdirectors .board-director-info .board-director-content {
    padding-right: 50px;
    /* Space for toggle button */
}

.boardofdirectors .board-director-info.active {
    display: block;
}

.boardofdirectors .director-info p {
    margin: 0;
    color: var(--color-text-white);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: var(--typography-font-family-font-body);
    text-align: left;
}

.boardofdirectors .board-director-info.active .board-director-content>p:first-child {
    font-size: 14px;
    color: var(--color-text-tertiary);
    line-height: 24px;
    font-family: var(--typography-font-family-font-body);
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 4px;
}

.boardofdirectors .board-director-info.active .board-director-content>p:nth-child(2) {
    font-size: 36px;
    color: var(--color-text-body);
    line-height: 56px;
    margin-bottom: 16px;
    margin-top: 0;
}

.boardofdirectors .director-card {
    cursor: pointer;
    transition: transform 0.3s ease;
    overflow: hidden;
    min-height: 617px;
    width: auto;
    padding: 40px;
    aspect-ratio: 2 / 3;
}

.boardofdirectors .director-card:last-child {
    margin-top: 40px;
}

.boardofdirectors .director-card:hover {
    transform: translateY(-5px);
}


.boardofdirectors .director-card img {
    width: 100%;
    display: block;
    margin-bottom: 8px;
    height: auto;
    opacity: 1;
    aspect-ratio: 16/9;
}

.boardofdirectors .director-info h3 {
    margin: 0 0 4px;
    font-size: 24px;
    line-height: 40px;
    color: var(--color-text-white);
    font-weight: 400;
    text-align: left;
    text-transform: capitalize;
}

.boardofdirectors .segment-wrapper .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}

.boardofdirectors .segment-wrapper .wrapper>div {
    padding-left: 12px;
    padding-right: 12px;
}

.boardofdirectors .segment-wrapper .wrapper>div:first-child {
    padding-left: 0;
}

.boardofdirectors .segment-wrapper .wrapper>div:last-child {
    padding-right: 0;
}



.boardofdirectors .segment-wrapper {
    margin-bottom: 64px;
}

@media (width < 768px) {
    .boardofdirectors-container {
        margin: 40px 0;
    }

    .boardofdirectors .board-director-info .board-director-content {
        padding-right: 0;
    }

    .boardofdirectors .board-director-info {
        padding: 40px 24px !important;
    }

    .boardofdirectors .director-card {
        min-height: 491px;
        padding: 24px;
    }

    .boardofdirectors .segment-wrapper {
        margin-bottom: 24px;
    }

    .boardofdirectors .segment-wrapper .wrapper>div {
        padding-left: 0;
        padding-right: 0;
    }

    .boardofdirectors .segment-wrapper .wrapper {
        row-gap: 24px;
    }

    .boardofdirectors .board-director-info.active .board-director-content>p:nth-child(2) {
        font-size: 24px;
        line-height: 40px;
    }
}

@media (width >=768px) and (width < 1181px) {
    .boardofdirectors-container {
        margin: 64px 0;
    }

    .boardofdirectors .director-card img {
        margin-bottom: 10px;
    }

    .boardofdirectors .board-director-info {
        padding: 40px !important;
    }

    .boardofdirectors .segment-wrapper {
        margin-bottom: 40px;
    }

    .boardofdirectors .board-director-info.active .board-director-content>p:nth-child(2) {
        font-size: 32px;
        color: var(--color-text-body);
        line-height: 48px;
        margin-bottom: 16px;
    }

    .boardofdirectors .director-card {
        padding: 24px;
        width: 100%;
        min-height: 498px;
    }

    .boardofdirectors .segment-wrapper .wrapper {
        row-gap: 24px;
        column-gap: 24px;
    }



    .boardofdirectors .segment-wrapper .wrapper>div:not(.board-director-info) {
        padding: 0;
        width: calc(100% / 2 - 12px);
    }

    .boardofdirectors .segment-wrapper .wrapper>div:nth-child(3):not(.board-director-info),
    .boardofdirectors .segment-wrapper .wrapper>div:nth-child(4):not(.board-director-info),
    .boardofdirectors .segment-wrapper .wrapper>div:nth-child(5):not(.board-director-info) {
        margin-top: 16px;
    }

}

@media (width > 1181px) {
    .boardofdirectors .director-card img {
        margin-bottom: 12px;
        aspect-ratio: unset;
        height: auto;
    }

    .boardofdirectors .board-director-info {
        padding: 80px !important;
        margin: 24px 12px 0;
    }

    /*     .boardofdirectors .segment-wrapper {
        margin-bottom: 64px;
    } */

    .boardofdirectors .segment-wrapper .wrapper>div:first-child {
        padding-left: 12px;
    }

    .boardofdirectors .segment-wrapper .wrapper>div:last-child {
        padding-right: 12px;
    }

    .boardofdirectors .segment-wrapper .wrapper {
        margin-left: -12px;
        margin-right: -12px;
    }

    .boardofdirectors .segment-wrapper .wrapper>div:nth-child(4):not(.board-director-info),
    .boardofdirectors .segment-wrapper .wrapper>div:nth-child(5):not(.board-director-info) {
        margin-top: 64px;
    }



}