.boardofdirectors .board-director-info {
    display: none;
    background-color: var(--primary-default-fg);
    padding: 24px;
    margin-top: 24px;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text-body);
    font-family: var(--typography-font-family-font-body);
    font-weight: 400;
    position: relative;
}

.boardofdirectors .board-director-info .toggle-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px;
}

.boardofdirectors .board-director-info .toggle-button .toggle-off {
    background: none;
    border: none;
    font-weight: normal;
    font-size: 30px;
    color: var(--primary-gold);
    line-height: 16px;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.boardofdirectors .board-director-info .board-director-content {
    padding-right: 50px; /* Space for toggle button */
}

.boardofdirectors .board-director-info.active {
    display: block;
}

.boardofdirectors .board-director-info.active .board-director-content > p:first-child {
    font-size: 14px;
    color: var(--color-text-tertiary);
    line-height: 24px;
    font-family: var(--typography-font-family-font-body);
    font-weight: 400;
    text-transform: uppercase;
}

.boardofdirectors .board-director-info.active .board-director-content > p:nth-child(2) {
    font-size: 24px;
    color: var(--color-text-body);
    line-height: 40px;
    margin-bottom: 16px;
}

.boardofdirectors .director-card {
    cursor: pointer;
    transition: transform 0.3s ease;
    overflow: hidden;
    height: 617px;
    width: auto;
    padding: 40px;
}

.boardofdirectors .director-card:hover {
    transform: translateY(-5px);
}

.boardofdirectors .director-card .toggle-off {
    display: none;
}

.boardofdirectors .director-card .toggle-on {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 16px;
  border: 2px solid var(--color-border-secondary);
  border-radius: 9999px;
  background: transparent;
  color: var(--color-border-secondary);
  transition: all 0.2s ease;
}

.boardofdirectors .icon-wrapper {
    display: flex;
}





.boardofdirectors .description-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.boardofdirectors .director-card img {
    width: 100%;
    display: block;
    margin-bottom: 8px;
    height: auto;
    opacity: 1;
}

.boardofdirectors .director-info h3 {
    margin: 0 0 4px;
    font-size: 24px;
    line-height: 40px;
    color: var(--color-text-white);
    font-weight: 400;
    text-align: left;
}

.boardofdirectors .director-info p {
    margin: 0;
    color: var(--color-text-white);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: var(--typography-font-family-font-body);
    text-align: left;
}

.boardofdirectors .segment-wrapper .wrapper{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.boardofdirectors .segment-wrapper .wrapper>div {
    padding-left: 12px;
    padding-right: 12px;
}

.boardofdirectors .segment-wrapper .wrapper>div:first-child {
    padding-left: 0;
}

.boardofdirectors .segment-wrapper .wrapper>div:last-child {
    padding-right: 0;
}

.boardofdirectors .segment-wrapper {
    margin-bottom: 25px;
}
@media (width < 768px) {
    .boardofdirectors .board-director-info .board-director-content {
        padding-right: 0;
    }

    .boardofdirectors .board-director-info {
        padding: 40px 24px;
    }

    .boardofdirectors .director-card{
        height: 491px;
    }
}

@media (width >= 768px) {
    .boardofdirectors .director-card img {
        margin-bottom: 10px;
    }

    .boardofdirectors .director-info h3,.boardofdirectors .director-info p{
        font-size: 16px;
        line-height: 24px;
    }

    .boardofdirectors .director-info h3 {
        margin-bottom: 2px;
    }

    .boardofdirectors .board-director-info {
        padding: 40px;
        margin-top: 24px;
    }

    .boardofdirectors .segment-wrapper {
        margin-bottom: 37px;
    }

    .boardofdirectors .board-director-info.active .board-director-content > p:nth-child(2) {
        font-size: 32px;
        color: var(--color-text-body);
        line-height: 48px;
        margin-bottom: 16px;
    }

    .boardofdirectors .director-card{
        height: 498px;
    }
}

@media (width >= 993px) {
    .boardofdirectors .director-card img {
        margin-bottom: 12px;
        aspect-ratio: unset;
        height: auto;
    }

    .boardofdirectors .board-director-info {
        padding: 80px;
        margin-top: 24px;
        margin-bottom: 80px;
    }

    .boardofdirectors .segment-wrapper {
        margin-bottom: 37px;
    }

    .boardofdirectors .segment-wrapper .wrapper>div:first-child {
        padding-left: 12px;
    }

    .boardofdirectors .segment-wrapper .wrapper>div:last-child {
        padding-right: 12px;
    }

    .boardofdirectors .segment-wrapper .wrapper{
        margin-left: -12px;
        margin-right: -12px;
    }

    .boardofdirectors .board-director-info.active .board-director-content > p:nth-child(2) {
        font-size: 36px;
        line-height: 56px;
    }
}
