.boardofdirectors .board-director-info {
    display: none;
    background-color: #F8F8F8;
    padding: 18px;
    margin-top: 18px;
    font-size: 14px;
    line-height: 20px;
    color: var(--body-text-color);
}


.boardofdirectors .board-director-info.active {
    display: block;
}

.boardofdirectors .director-card {
    cursor: pointer;
    transition: transform 0.3s ease;
    background: var(--background-color);
    overflow: hidden;
    height: 100%;
}

.boardofdirectors .director-card:hover {
    transform: translateY(-5px);
}

.boardofdirectors .director-card .toggle-off {
    display: none;
}

.boardofdirectors .director-card .toggle-on, 
.boardofdirectors .director-card .toggle-off {
    background: none;
    font-weight: normal;
    font-size: 30px;
    color: var(--primary-gold);
    line-height: 16px;
}

.boardofdirectors .director-card.active .toggle-on {
    display: none;
}

.boardofdirectors .director-card.active .toggle-off {
    display: block;
}


.boardofdirectors .description-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boardofdirectors .director-card img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    display: block;
    margin-bottom: 8px;
    height: 206px;
    opacity: 0.6;
}

.boardofdirectors .director-card.active img {
   opacity: 1;
}

.boardofdirectors .director-info {
    text-align: center;
}

.boardofdirectors .director-info h3 {
    margin: 0 0 5px;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-color);
    font-weight: 700;
    text-align: left;
}

.boardofdirectors .director-info p {
    margin: 0;
    color: var(--body-text-color);;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
}

.boardofdirectors .segment-wrapper .wrapper{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.boardofdirectors .segment-wrapper .wrapper>div {
    padding-left: 18px;
    padding-right: 18px;
}

.boardofdirectors .segment-wrapper .wrapper>div:first-child {
    padding-left: 0;
}

.boardofdirectors .segment-wrapper .wrapper>div:last-child {
    padding-right: 0;
}

.boardofdirectors .segment-wrapper {
    margin-bottom: 25px;
}

@media (width >= 768px) {
    .boardofdirectors .director-card img {
        margin-bottom: 10px;
    }

    .boardofdirectors .director-info h3,.boardofdirectors .director-info p,.boardofdirectors .board-director-info {
        font-size: 16px;
        line-height: 24px;
    }

    .boardofdirectors .director-info h3 {
        margin-bottom: 2px;
    }

    .boardofdirectors .board-director-info {
        padding: 24px;
        margin-top: 24px;
    }

    .boardofdirectors .segment-wrapper {
        margin-bottom: 37px;
    }
}

@media (width >= 993px) {
    .boardofdirectors .director-card img {
        margin-bottom: 12px;
    }

    .boardofdirectors .board-director-info {
        padding: 36px;
        margin-top: 36px;
        margin-bottom: 47px;
    }

    .boardofdirectors .segment-wrapper {
        margin-bottom: 37px;
    }
}
