/* Tile Base Styles */
.row.tiles-container > div {
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  aspect-ratio: 1;
}

/* Header Tile (First Tile) */
.tiles.block > div {
  background-color: var(--background-color);
  color: var(--text-color);
  margin-bottom: 36px;
}

.row.tiles-container > div:nth-child(n+3) {
  padding-top: 36px;
}

.row.tiles-container > div:nth-child(odd) {
  padding-left: 0;
}

.row.tiles-container > div:nth-child(even) {
  padding-right: 0;
}

.row.tiles-container > .image-tile > div {
  background-color: var(--text-color);
  padding: 17px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-size: cover;
  width: 100%;
  aspect-ratio: 1;
}

/* Image Tiles */
.tiles.block > .image-tile {
  color: var(--background-color);
  object-fit: cover
}


/* Content Positioning */
.tiles.block > div > * {
  position: relative;
  z-index: 2;
}

/* CTA Styles */
[data-aue-prop="ctaCaption"] {
  margin-top: auto;
  align-self: flex-end;
}

.factsheet-button {
  display: inline-flex;
  align-items: center;
  color: var(--primary-gold) !important;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  align-self: flex-end;
  margin: 20px 0 auto;
  transition: transform 0.2s ease-out;
}

.factsheet-button-arrow {
  padding: 0 0 0 13px;
  margin-bottom: 2px;
}

.row.tiles-container>div [data-aue-prop="heading"] {
    font-size: 40px;
    font-weight: 500;
    line-height: 45px;
    max-width: 400px;
    margin-bottom: 15px;
}

.row.tiles-container > div [data-aue-prop="description"] {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--body-text-color)
}

.row.tiles-container > .image-tile [data-aue-prop="heading"] {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: var(--background-color);
  margin-bottom: 12px
}

.row.tiles-container > .image-tile [data-aue-prop="description"] {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--light-grey);
  margin-bottom: 48px;
}

.row.tiles-container > .image-tile [data-aue-prop="description"] p {
  margin: 0;
}

.learn-button {
  position: absolute;
  bottom: 24px;
  right: 20px;
  text-decoration: underline !important;
  font-weight: 600;
  color: var(--background-color) !important;
  font-size: 16px;
}

.odd-learn-button {
  right: 44px;
}

@media screen and (width < 992px) and (width >= 768px) {
  .row.tiles-container > div [data-aue-prop="heading"] {
    font-size: 30px;
    max-width: 250px;
    line-height: 40px;
    font-weight: 500;
  }

  .row.tiles-container > .image-tile [data-aue-prop="heading"] {
    font-size: 15px;
    line-height: 19px;
    font-weight: 700;
  }

  .row.tiles-container > div [data-aue-prop="description"] {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
  }
  
  .row.tiles-container > .image-tile [data-aue-prop="description"] {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 40px;
  }

  .tiles.block > div {
    margin-bottom: 24px;
  }

  .row.tiles-container > div:nth-child(odd) {
    padding-left: 12px;
  }
  
  .row.tiles-container > div:nth-child(even) {
    padding-right: 12px;
  }

  .row.tiles-container > div:nth-child(n+3) {
    padding-top: 24px;
  }

  .learn-button {
    bottom: 24px;
    right: 32px;
  }
}

@media screen and (width < 768px) {
  .row.tiles-container > div {
    min-height: unset;
    aspect-ratio: unset;
  }

  .tiles.block > div {
    margin-bottom: 24px;
  }

  .row.tiles-container > div:nth-child(odd) {
    padding-right: 0;
  }
  
  .row.tiles-container > div:nth-child(even) {
    padding-left: 0;
  }

  .row.tiles-container > .image-tile {
    padding-top: 18px;
  }

  .factsheet-button {
    margin: 15px 0;
  }

  .row.tiles-container > div [data-aue-prop="heading"] {
    font-size: 30px;
    max-width: 250px;
    line-height: 40px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .row.tiles-container > .image-tile [data-aue-prop="heading"] {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    max-width: 100%;
  }

  .row.tiles-container > div [data-aue-prop="description"] {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
  }
  
  .row.tiles-container > .image-tile [data-aue-prop="description"] {
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
  }

  .learn-button {
    bottom: 16px;
    right: 20px;
  }
}