
/* About-Us CSS */
.feature-wrapper .about-us-stats{
  display: flex;
  margin: auto;
  margin-bottom: 18px;
  padding: 36px 0 18px;
}

.feature-wrapper .about-us-stats:not(:last-child) {
  padding-bottom: 0;
}

/* About-us left container start */
.about-us-stats .about-us-left{
  padding: 0;
  margin-bottom: 18px;
}

.about-us-stats .about-us-right{
  padding: 0;
}

.about-us-left header{
  height: auto;
}

.about-us-left .about-us-left-title{
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color);
  margin: 0;
  /* margin-bottom: 12px; */
}

.about-us-left h2.about-us-left-heading{
  font-size: 28px;
  font-weight: 500;
  color: var(--text-color);
  margin: 0;
  margin-bottom: 8px;
  line-height: 34px;
}

.about-us-left .about-us-left-sub-heading{
 margin: 0;
 margin-bottom: 10px;
 font-size: 12px;
}

.about-us-left .links-container a{
  display: flex;
  align-items: center;
  color: var(--primary-gold);
  text-decoration: underline;
  cursor: pointer;
  padding-left: 0;
  padding-right: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.about-us-left .links-container a span{
  width: 16px;
  height: 16px;
  padding-top: 0;
  padding-left: 8px;
}

.about-us-left .about-us-left-link svg{
  color:var(--primary-gold);
  position: relative;
  width: 16px;
  height: 16px;
}

.about-us-stats .about-us-right-content{
  display: flex;
  align-items: center;
  column-gap: 12px;
  margin-bottom: 18px;

}

.about-us-stats .about-us-right-content:last-child{
  margin-bottom: 0;
}

.about-us-stats .about-us-right-content.image-container>div:first-child{
  width: 56px;
  height: 56px;
}

.about-us-stats .about-us-right-content.image-container>div:first-child picture{
  width: 100%;
  height: 100%;

}

.about-us-stats .about-us-right-content.image-container>div:first-child picture img{
  width: 100%;
  height: 100%;
}
.about-us-stats .about-us-right-content.image-container.text-container :last-child{
  font-weight: 700;
}
.about-us-stats .about-us-right-content.text-container{
  border-top: 1px solid var(--text-color);
  align-items: center;
  padding-top: 12px;
  margin-bottom: 18px;
}


.about-us-stats .about-us-right-content .statistic{
  color: var(--primary-gold);
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;

}

.about-us-stats .about-us-right-content.text-container .statistic{
 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  line-height: 0.8;

}

.about-us-stats .about-us-right-content .statistic *:first-child{
  color:var(--primary-gold) !important;
  font-size:  48px;
  font-weight: 400;
  line-height: 48px; 
}

.about-us-stats .about-us-right-content .statistic *:nth-child(2){
  color:var(--primary-gold) !important;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.about-us-stats .about-us-right-content p{
  padding: 0;
  margin: 0;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.about-us-stats .about-us-right-content.text-container p{
color: var(--body-text-color);
}

.about-us-left a.button {
  background: none;
  padding-left: 0;
  padding-right: 0;
}

.statistics-container .feature-wrapper .about-us-stats .about-us-right-content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--body-text-color);
}

.statistics-container .feature-wrapper .about-us-left {
  margin-bottom: 18px;
}
.statistics-container.feature-container .feature-wrapper {
  position: relative;
}
.statistics-container.feature-container .feature-wrapper::before {
  content: '';
  background: var(--background-color);
  position: absolute;
  top: -50px;
  left: 50%;
  width: 100%;
  height: calc(100% + 50px);
  max-width: 1280px;
  margin: 0 auto;
  transform: translateX(-50%);
  z-index: -1;
}
/* Responsive design */
@media  (width >= 768px) {
  .feature-wrapper .about-us-stats{
    margin-bottom: 0;
    padding: 56px 0 0;
  }

  .about-us-stats .about-us-left{
    padding-right: 12px;
    margin-bottom: 0;

  }

  .about-us-stats .about-us-right{
    padding-left: 12px;
  }


  .about-us-left .about-us-left-title{
    /* margin-bottom: 16px; */
    font-size: 18px;
    line-height: 24px;
  }

  .about-us-left h2.about-us-left-heading{
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 42px;
  }

  .about-us-left .about-us-left-sub-heading{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .about-us-left .links-container a{
    font-size: 16px;
    line-height: 24px;
  }
  .about-us-left a.button{
    padding: 12px 0;
  }

  .about-us-stats .about-us-right-content.text-container{
    margin-bottom: 24px;
    padding-top: 16px;
  }

  .about-us-stats .about-us-right-content{
    column-gap: 15px;
    margin-bottom: 24px;
  }

  .about-us-stats .about-us-right-content .statistic{
    font-size: 64px;
    line-height: 64px;
  }

  .about-us-stats .about-us-right-content>div:nth-child(2) p{
    font-size: 16px;
    font-weight: 400;
  }

  .statistics-container .feature-wrapper .about-us-stats .about-us-right-content p {
    font-size: 16px;
    line-height: 24px;
  }

  .about-us-stats .about-us-right-content.image-container > div:nth-child(2) p{
    font-weight: 700;
  }

  .about-us-stats .about-us-right-content.image-container > div:first-child{
    width: 72px;
    height: 72px;
  }

  .about-us-stats .about-us-right-content .statistic *:first-child{
    font-size:  64px;
    line-height: 64px; 
  }

  .about-us-stats .about-us-right-content .statistic *:nth-child(2){
    font-size: 18px;
    line-height: 24px; 
  }
  
}

@media  (width >= 1024px) {
  .feature-wrapper .about-us-stats {
    padding: 68px 0;
  }

  .about-us-stats .about-us-left{
    padding-right: 18px;
  }

  .about-us-stats .about-us-right{
    padding-left: 18px;
  }

  .about-us-left .about-us-left-title{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    /* margin-bottom: 20px; */
  }

  .about-us-left h2.about-us-left-heading {
    line-height: 50px;
    font-size: 30px;
  }

  .about-us-left .about-us-left-sub-heading{
    margin-bottom: 10px;
  }

  .about-us-left .links-container a{
    font-size: 16px;
    line-height: 24px;
  }

  .about-us-left a.button{
    padding: 0;
  }

  .about-us-stats .about-us-right-content{
    column-gap: 20px;
  }

  .about-us-stats .about-us-right-content.image-container>div:first-child{
    width: 100px;
    height: 100px;
  }


  .about-us-stats .about-us-right-content .statistic *:first-child{
    font-size: 80px;
    line-height: 80px;
  }

  .about-us-stats .about-us-right-content .statistic *:nth-child(2){
    font-size: 20px;
    line-height: 30px;
  }

  .about-us-stats .about-us-right-content>div:nth-child(2) p{
    font-weight: 400;
  }

  .about-us-stats .about-us-right-content.image-container>div:nth-child(2) p{
    font-weight: 700;
  }
  
  .about-us-stats .about-us-right-content.text-container{
    padding-top: 20px;
    margin-bottom: 36px;
  }
}
@media (width <= 1023px) {
  .statistics-container .feature-wrapper .about-us-left, .statistics-container .feature-wrapper .about-us-right {
    width: 100%;
    padding: 0;
  }
}
@media (width <= 1280px) {
  .statistics-container.feature-container .feature-wrapper::before {
      left: 22px;
      right: 22px;
      width: auto;
      max-width: inherit;
      transform: none;
  }
}
 
@media (width <= 992px) {
  .statistics-container.feature-container .feature-wrapper::before {
    top: -40px;
    height: calc(100% + 40px);
  }
}
 
@media (width < 768px) {
  .statistics-container.feature-container .feature-wrapper::before {
    left: 10px;
    right: 10px;
    top: -28px;
    height: calc(100% + 28px);
  }
}