
/* About-Us CSS */
.feature-wrapper {
  background-image: url('../../icons/Pattern.png');
  background-repeat: repeat-x;
  background-position: center bottom;
  background-size: auto;
  margin-top: 80px;
  padding: 0 0 80px 0;
}

.feature-wrapper:has(> .with-images-four-col:first-child) {
  background: none;
  background-image: none;
  margin-top: 0;
  padding: 0;
}

@media (width >= 768px) and (width < 1024px) {
  .feature-wrapper {
    margin-top: 64px;
    padding: 0 0 64px 0;
  }
}

@media (width < 768px) {
  .feature-wrapper {
    margin-top: 40px;
    padding: 0 0 40px 0;
  }
}

.feature-wrapper .about-us-stats{
  display: flex;
  /* margin: 36px 0 18px; */
  flex-direction: column;
  gap: 64px;
}

.feature-wrapper .about-us-stats:not(:last-child) {
  padding-bottom: 0;
}

/* About-us left container start */
.about-us-stats .about-us-left{
  padding: 0;
  margin-bottom: 0;
  display: flex;
  gap: 32px;
  align-items: flex-start;
}

.about-us-stats .about-us-right{
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
}

.about-us-left header{
  height: auto;
}

.about-us-left .about-us-left-title{
  font-family: var(--body-font-family, 'Inter', sans-serif);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-text-tertiary, #8d713e);
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0;
}

.about-us-left h2.about-us-left-heading{
  font-family: var(--heading-font-family, 'Inter', sans-serif);
  font-size: 36px;
  font-weight: 400;
  line-height: 56px;
  color: var(--color-text-body, #3b3d3d);
  margin: 0;
  margin-bottom: 0;
  letter-spacing: 0;
}

/* Left and Right columns */
.about-us-left-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.about-us-right-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}

.about-us-left .about-us-left-sub-heading{
  margin: 0;
  font-family: var(--heading-font-family, 'Inter', sans-serif);
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  color: var(--color-text-body, #3b3d3d);
  letter-spacing: 0;
}

.about-us-left .links-container {
  display: flex;
  align-items: center;
}

.about-us-left .links-container a{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-gold);
  text-decoration: none;
  cursor: pointer;
  padding: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  flex-shrink: 0;
}

.about-us-left .links-container a svg.about-us-link-button{
  width: 48px;
  height: 48px;
  display: block;
}

.about-us-left .links-container a span{
  display: none;
}

.about-us-stats .about-us-right-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0;
}

.about-us-stats .about-us-right-content:last-child{
  margin-bottom: 0;
}

.about-us-stats .about-us-right-content.image-container>div:first-child{
  width: 56px;
  height: 56px;
}

.about-us-stats .about-us-right-content.image-container>div:first-child picture{
  width: 100%;
  height: 100%;

}

.about-us-stats .about-us-right-content.image-container>div:first-child picture img{
  width: 100%;
  height: 100%;
}

.about-us-stats .about-us-right-content.image-container.text-container :last-child{
  font-weight: 700;
}

.about-us-stats .about-us-right-content.text-container{
  align-items: flex-start;
  padding-top: 16px;
  margin-bottom: 0;
}


.about-us-stats .about-us-right-content .statistic{
  color: var(--color-text-tertiary, #8d713e);
  font-size: 64px;
  font-weight: 400;
  line-height: 80px;

}

.about-us-stats .about-us-right-content.text-container .statistic{
  gap: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0.8;

}

.about-us-stats .about-us-right-content .statistic *:first-child{
  color:var(--color-text-tertiary, #8d713e) !important;
  font-size:  64px;
  font-weight: 400;
  line-height: 80px; 
}

.about-us-stats .about-us-right-content .statistic *:nth-child(2){
  color:var(--color-text-tertiary, #8d713e) !important;
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
}

.about-us-stats .about-us-right-content p{
  padding: 0;
  margin: 0;
  color: var(--text-color);
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
}

.about-us-stats .about-us-right-content.text-container p{
color: var(--body-text-color);
}
.about-us-stats .about-us-right-content.text-container:last-child {
  margin-bottom: 0;
}

.about-us-left a.button {
  background: none;
  padding-left: 0;
  padding-right: 0;
}

.statistics-container .feature-wrapper .about-us-stats .about-us-right-content p {
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  color: var(--body-text-color);
}

.statistics-container .feature-wrapper .about-us-left {
  margin-bottom: 0;
}

.statistics-container.feature-container .feature-wrapper {
  position: relative;
}

.statistics-container.feature-container .feature-wrapper::before {
  content: '';
  background: var(--background-color);
  position: absolute;
  top: -50px;
  left: 50%;
  width: 100%;
  height: calc(100% + 50px);
  max-width: 1280px;
  margin: 0 auto;
  transform: translateX(-50%);
  z-index: -1;
}

/* Responsive design */
@media  (width >= 768px) {
  .feature-wrapper .about-us-stats{
    /* margin: 64px 0 0; */
    gap: 40px;
  }

  .about-us-stats .about-us-left{
    margin-bottom: 0;
    flex-direction: column;
    gap: 24px;
  }
  
  .about-us-left-column {
    width: 100%;
  }
  
  .about-us-right-column {
    width: 100%;
  }

  .about-us-stats .about-us-right{
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }

  .about-us-left .about-us-left-title{
    font-size: 14px;
    line-height: 24px;
  }

  .about-us-left h2.about-us-left-heading{
    margin-bottom: 0;
    font-size: 32px;
    line-height: 48px;
  }

  .about-us-left .about-us-left-sub-heading{
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 0;
  }

  .about-us-left .links-container a{
    font-size: var(--font-size-xs);
    line-height: 24px;
  }

  .about-us-left a.button{
    padding: 12px 0;
  }

  .about-us-stats .about-us-right-content.text-container{
    margin-bottom: 0;
    padding-top: 16px;
  }

  .about-us-stats .about-us-right-content{
    margin-bottom: 0;
  }
  .about-us-stats .about-us-right-content .statistic{
    font-size: 56px;
    line-height: 72px;
  }
  .about-us-stats .about-us-right-content>div:nth-child(2) p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: var(--body-font-family, 'Inter', sans-serif);
  }

  .statistics-container .feature-wrapper .about-us-stats .about-us-right-content p {
    font-size: 16px;
    line-height: 24px;
    font-family: var(--body-font-family, 'Inter', sans-serif);
  }

  .about-us-stats .about-us-right-content.image-container > div:nth-child(2) p{
    font-weight: 700;
  }

  .about-us-stats .about-us-right-content.image-container > div:first-child{
    width: 72px;
    height: 72px;
  }

  .about-us-stats .about-us-right-content .statistic *:first-child{
    font-size:  56px;
    line-height: 72px; 
  }

  .about-us-stats .about-us-right-content .statistic *:nth-child(2){
    font-size: 24px;
    line-height: 40px; 
  }
  
}

@media  (width >= 1024px) {
  .feature-wrapper .about-us-stats {
    /* margin: 80px 0; */
    gap: 64px;
  }

  .about-us-stats .about-us-left{
    margin-bottom: 0;
    flex-direction: row;
    gap: 32px;
  }

  .about-us-stats .about-us-right{
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }

  .about-us-left .about-us-left-title{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

  .about-us-left h2.about-us-left-heading {
    font-size: 36px;
    line-height: 56px;
    margin-bottom: 0;
  }

  .about-us-left .about-us-left-sub-heading{
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 0;
  }

  .about-us-left .links-container a{
    font-size: var(--font-size-xs);
    line-height: 24px;
  }

  .about-us-left a.button{
    padding: 0;
  }

  .about-us-stats .about-us-right-content{
    column-gap: 20px;
  }

  .about-us-stats .about-us-right-content.image-container>div:first-child{
    width: 100px;
    height: 100px;
  }


  .about-us-stats .about-us-right-content .statistic *:first-child{
    font-size: 64px;
    line-height: 80px;
  }

  .about-us-stats .about-us-right-content .statistic *:nth-child(2){
    font-size: 24px;
    line-height: 40px;
    font-weight: 400;
  }

  .about-us-stats .about-us-right-content>div:nth-child(2) p{
    font-size: 24px;
    line-height: 40px;
    font-weight: 400;
  }

  .about-us-stats .about-us-right-content.image-container>div:nth-child(2) p{
    font-weight: 700;
  }
  
  .about-us-stats .about-us-right-content.text-container{
    padding-top: 20px;
    margin-bottom: 0;
    border-top: 1px solid var(--colours-border-border-base, #E8EBEB);
    padding-right: 24px;
  }
}
@media (width <= 1023px) {
  .statistics-container .feature-wrapper .about-us-left, .statistics-container .feature-wrapper .about-us-right {
    width: 100%;
    padding: 0;
  }
}
@media (width <= 1280px) {
  .statistics-container.feature-container .feature-wrapper::before {
      left: 22px;
      right: 22px;
      width: auto;
      max-width: inherit;
      transform: none;
  }
}
 
@media (width <= 992px) {
  .statistics-container.feature-container .feature-wrapper::before {
    top: -40px;
    height: calc(100% + 40px);
  }
}
 
@media (width < 768px) {
  .feature-wrapper .about-us-stats {
    gap: 24px;
    /* margin: 40px 0 0; */
  }

  .statistics-container.feature-container .feature-wrapper::before {
    left: 10px;
    right: 10px;
    top: -28px;
    height: calc(100% + 28px);
  }

  .about-us-left h2.about-us-left-heading{
    font-size: 24px;
    line-height: 40px;
  }
  
  .about-us-stats .about-us-left {
    flex-direction: column;
    gap: 16px;
  }
  
  .about-us-left-column,
  .about-us-right-column {
    width: 100%;
  }
  
  .about-us-left .about-us-left-sub-heading {
    font-size: 16px;
    line-height: 24px;
    font-family: var(--body-font-family, 'Inter', sans-serif);
  }

  .about-us-left .links-container a {
    width: 32px;
    height: 32px;
  }

  .about-us-left .links-container a svg.about-us-link-button {
    width: 32px;
    height: 32px;
  }

  .about-us-stats .about-us-right {
    grid-template-columns: 1fr;
    gap: 24px;
    flex-direction: column;
    display: flex;
  }

  .about-us-stats .about-us-right-content {
    gap: 16px;
  }

  .about-us-stats .about-us-right-content.text-container {
    margin-bottom: 0;
    padding-top: 16px;
    border-top: 1px solid var(--colours-border-border-base, #E8EBEB);
  }

  .about-us-stats .about-us-right-content>div:nth-child(2) p {
    font-size: 16px;
    line-height: 24px;
    font-family: var(--body-font-family, 'Inter', sans-serif);
  }

  .statistics-container .feature-wrapper .about-us-stats .about-us-right-content p {
    font-size: 16px;
    line-height: 24px;
    font-family: var(--body-font-family, 'Inter', sans-serif);
  }

  .about-us-stats .about-us-right-content:last-child {
    margin-bottom: 0;
  }
}

.with-images-four-col{
  background: #FAF2E1;
  padding: 80px 0;
}

@media (width >= 768px) and (width < 1024px) {
  .with-images-four-col{
    padding: 64px 0;
  }
}

@media (width < 768px) {
  .with-images-four-col{
    padding: 40px 0;
  }
}

/* Second variation styles - with-images-four-col */
.with-images-four-col .about-us-left .about-us-left-title {
  color: #3B3D3D;
}

.with-images-four-col .about-us-left h2.about-us-left-heading {
  color: #8D713E;
}
.with-images-four-col .feature-wrapper .about-us-stats {
  margin: 0;
  gap: 0;
  padding: 0;
}

.with-images-four-col .about-us-stats .about-us-left {
  padding: 0;
  margin-bottom: 0;
}

.with-images-four-col .about-us-stats .about-us-right {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  padding: 0;
}

.with-images-four-col .about-us-stats .about-us-right-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0;
  padding: 24px;
  border: 1px solid var(--colours-border-border-tertiary, #8d713e);
  border-radius: 4px;
  background: var(--colours-background-bg-warning-soft, #faf2e1);
  text-align: left;
}

.with-images-four-col .about-us-stats .about-us-right-content.image-container > div:first-child {
  width: 64px;
  height: 64px;
  margin-bottom: 16px;
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.with-images-four-col .about-us-stats .about-us-right-content.image-container > div:first-child picture {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.with-images-four-col .about-us-stats .about-us-right-content.image-container > div:first-child picture img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0;
}

.with-images-four-col .about-us-stats .about-us-right-content.image-container > div:nth-child(2) p {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  font-family: var(--body-font-family, 'Instrument Sans', sans-serif);
  color: var(--colours-text-text-tertiary, #8d713e);
  margin: 0;
  text-align: left;
}

/* Tablet Design */
@media (width >= 768px) and (width < 1024px) {
  .with-images-four-col .about-us-stats .about-us-left {
    padding: 0 0;
  }

  .with-images-four-col .about-us-stats .about-us-right{
    padding-bottom: 40px;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .with-images-four-col .about-us-stats .about-us-right-content.image-container > div:first-child {
    width: 64px;
    height: 64px;
  }

  .with-images-four-col .about-us-stats .about-us-right-content.image-container > div:nth-child(2) p {
    font-size: 32px;
    line-height: 40px;
  }
}

/* Mobile Design */
@media (width < 768px) {
  .with-images-four-col .about-us-stats .about-us-left {
    padding: 0 0;
  }

  .with-images-four-col .about-us-stats .about-us-right{
    padding-bottom: 24px;
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .with-images-four-col .about-us-stats .about-us-right-content {
    padding: 16px;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  .with-images-four-col .about-us-stats .about-us-right-content.image-container > div:first-child {
    width: 64px;
    height: 64px;
    margin-bottom: 0;
    flex-shrink: 0;
  }

  .with-images-four-col .about-us-stats .about-us-right-content.image-container > div:nth-child(2) {
    flex: 1;
  }

  .with-images-four-col .about-us-stats .about-us-right-content.image-container > div:nth-child(2) p {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }
}

/* Desktop Design */
@media (width >= 1024px) {
  .with-images-four-col .about-us-stats .about-us-left {
    padding: 0 0;
  }

  .with-images-four-col .about-us-stats .about-us-right {
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }

  .with-images-four-col .about-us-stats .about-us-right-content.image-container > div:first-child {
    width: 64px;
    height: 64px;
  }

  .with-images-four-col .about-us-stats .about-us-right-content.image-container > div:nth-child(2) p {
    font-size: 32px;
    line-height: 40px;
  }
}