.button-container .vd-button, .button-container a.vd-button {
    background-color: var(--color-fg-tertiary);
    color: var(--color-text-white);
    padding: 16px 20px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--typography-font-family-font-body);
    line-height: 24px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    display: inline-flex;
    text-decoration: none;

    &:hover {
        background-color: var(--color-bg-hover-primary);
        color: var(--color-text-body);
        text-decoration: none;
    }

    &:focus {
        background-color: var(--color-bg-tertiary);
        color: var(--color-text-secondary-pressed);
    }

    &:active {
        background-color: var(--color-bg-tertiary);
        color: var(--color-text-secondary-pressed);
    }

    &:disabled {
        background-color: var(--color-bg-disabled);
        color: var(--color-fg-disabled);
        cursor: not-allowed;
    }
}

.button-container .vd-link, .button-container a.vd-link {
    background: none;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    font-size: 16px;
    font-family: var(--typography-font-family-font-body);
    font-weight: 500;
    line-height: 24px;
    color: var(--color-text-tertiary);
    padding: 0;

    &:hover {
        color: var(--color-text-secondary);
        text-decoration: none;
    }

    &:focus {
        color: var(--color-text-secondary-pressed);
    }

    &:active {
        color: var(--color-text-secondary-pressed);
    }

    &:disabled {
        color: var(--color-fg-disabled);
        cursor: not-allowed;
    }
}

@media (width < 768px) {
    .button-container .vd-button, .button-container a.vd-button {
        padding: 8px 12px;
    }
}