/* add global styles that can be loaded post LCP here */

/* Tab Container */
.tabs-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 24px;
}

.tabs-container .about-us-stats {
    margin-bottom: 0;
    padding-top: 0;
}

.tabs-header {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: auto;
    margin-bottom: 36px;
    position: relative;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.tabs-header::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.tab-title {
    position: relative;
    text-align: center;
    padding: 36px 0;
    color: var(--body-text-color);
    font-size: var(--font-size-s);
    font-weight: 600;
    line-height: 24px;
    border-bottom: 2px solid var(--body-text-color);
    cursor: pointer;
    flex: 1 1;
    min-width: 252px;
}

.tab-title.active {
    background: var(--soft-ivory-blue);
    color: var(--primary-gold);
    border-bottom: 2px solid var(--primary-gold);
}

.tab-title.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 6px solid var(--primary-gold);
}

.tabs-content-wrapper {
    padding: 20px;
}

.tab-panel {
    display: none;

    .container-xl,
    .container-md,
    .container-sm,
    .container {
        padding: 0;
    }
}

.tab-panel.active {
    display: block;
}

.panel-heading {
    margin-bottom: 30px;
}

.panel-heading h2 {
    font-family: var(--heading-font-family);
    font-size: var(--font-size-xl);
    font-weight: 500;
    line-height: 50px;
    color: var(--text-color);
    letter-spacing: -0.5px;
}

/* Tab section overrides */

.tabs-container .about-us-stats .about-us-right-content p {
    font-weight: 400;
    color: var(--body-text-color);
    line-height: 24px;
    letter-spacing: -0.5px;
}

.tabs-container .about-us-stats .about-us-right-content {
    border-top: 1px solid var(--text-color);
    align-items: flex-start;
    padding-top: 16px;
    gap: 0;
}

.tabs-container .about-us-stats .about-us-right-content:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
}

.tabs-container .about-us-stats .about-us-left-title {
    color: var(--text-color);
    font-size: var(--font-size-m);
    font-weight: 400;
    line-height: 40px;
}

.tabs-container .about-us-stats .about-us-right-content:first-child {
    border-top: none;
}

.tabs-container .about-us-stats .about-us-right-content .statistic {
    color: var(--primary-gold);
    font-size: var(--font-size-xl);
    font-weight: 500;
    line-height: 50px;
}

.tabs-container .about-us-stats .about-us-right-content [data-aue-prop="feature-heading"] {
    color: var(--body-text-color);
    font-size: var(--font-size-xs);
    line-height: 24px;
}

.tabs-container .statistics .statistic-item {
    font-size: var(--font-size-xl);
}

.cards {
    margin-top: 10px;
}

.cards img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* TabsPanel Section Styles */
.section.tabspanel {
    padding: var(--section-padding);
}

.section.tabspanel [data-aue-prop="panelheading"] {
    margin-bottom: 2rem;
    font-size: var(--font-size-xl);
    color: var(--text-color);
}


.tabs-container .projectslist {
    margin-top: 0;
}

.tabs-container .about-us-stats .about-us-right-content .statistic p:first-child {
    font-size: var(--font-size-m);
    line-height: 28px;
}
 
.tabs-content>div>div:first-child{
    margin-top: 0;
}

.tabs-container .about-us-stats .about-us-right-content:nth-child(2)>div:nth-child(2) {
    flex: 1;
    margin-left: 15px;
}

 
@media (width <=1024px) {
    .tabs-container .projectslist {
        margin-top: 56px;
    }

}

@media(width<=992px) {
   

    .tab-title {
        font-size: 18px;
        padding: 33px 0;
    }

    .tabs-container .about-us-stats .about-us-right-content {
        margin-bottom: 16px;
        padding-top: 16px;
    }

    .tabs-container .about-us-stats .about-us-right-content:first-child>div:last-child{
        padding-top: 0;
    }

    .tabs-container .about-us-stats .about-us-right-content:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .tabs-container .about-us-stats .about-us-left-title {
        font-size: 24px;
    }

    .tabs-container .about-us-stats .about-us-right-content .statistic {
        font-size: var(--font-size-l);
        line-height: 42px;

    }

    .tabs-container .about-us-stats .about-us-right-content [data-aue-prop="feature-heading"] {
        font-size: var(--font-size-xs);
        line-height: 20px;
    }


    .panel-heading h2 {
        font-size: var(--font-size-l);
        line-height: 42px;
    }

    .tabs-container .textmediablock-wrapper {
        margin-top:24px
    }
}

@media(width<768px) {
    .tabs-header {
        margin-bottom: 36px;
    }

    .tab-title {
        font-size: var(--font-size-xs);
        line-height: 20px;
        padding: 28px 0;
    }

    .tabs-container .about-us-stats {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    

    .tabs-container .about-us-stats .about-us-right-content {
        padding-top: 18px;
        margin-bottom: 40px;
    }
    .tabs-container .about-us-stats .about-us-right-content p {
        line-height: 20px;
    }

    .tabs-container .about-us-stats .about-us-right-content:first-child{
        padding-top: 0;
    }

    .tabs-container .about-us-stats .about-us-right-content:last-child{
        margin-bottom: 0;
        padding-bottom: 0;
    }


    .panel-heading h2 {
        font-size: var(--font-size-m);
        line-height: 34px;
    }


    .tabs-container .about-us-stats .about-us-left-title {
        font-size: 22px;
        line-height: 1;
    }

    .tabs-container .about-us-stats .about-us-right-content .statistic {
        font-size: var(--font-size-m);
        line-height: 34px;

    }

    .tabs-container .about-us-stats .about-us-right-content [data-aue-prop="feature-heading"] {
        font-size: var(--font-size-xxs);
        line-height: 20px;
    }

    .tabs-container .textmediablock-container+.textmediablock-container {
        margin-bottom: 0;
    }

    .tabs-container .projectslist {
        margin-top: 36px;
    }
    

    .tabs-container .textmediablock-wrapper {
        margin-top:18px
    }
    .tabs-container .corporate-policies-list-item .left-col h2 {
        font-size: var(--font-size-m);
        letter-spacing: -0.5px;
    }
}
@media (width >= 768px) {
    .tabs-container .about-us-stats .about-us-right-content .statistic p:first-child {
        font-size: var(--font-size-l);
        line-height: 32px;
    }
    .tab-panel.corporatepolicies-container .corporatepolicies-wrapper {
        margin: 34px 0;
    }
}
@media(width >=1024px) {
    .tabs-container .textmediablock-wrapper {
        margin: 34px 0;
    }
    .tabs-container .about-us-stats .about-us-right-content {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .tabs-container .about-us-stats .about-us-right-content .statistic span:first-child {
        font-size: var(--font-size-xl);
        line-height: 40px;
    }

    .tabs-container .about-us-stats .about-us-right-content .statistic span:first-child:not(:empty) {
        margin-right: 16px;
    }

    .tabs-container .about-us-stats .about-us-right-content .statistic p:first-child {
        font-size: var(--font-size-xl);
        line-height: 40px;
    }

    .tabs-container .about-us-stats .about-us-right-content .statistic p:first-child:not(:empty) {
        margin-right: 16px;
    }

    .tabs-container .about-us-stats .about-us-right-content:first-child {
        padding-top: 0;
    }

    .tabs-container .about-us-stats {
        padding-bottom: 0 !important;
    }
}
