/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
 
 /*
Breakpoints & Container Widths:
-------------------------------------------------------------------------------------
|  Breakpoint  |  Class infix  |  Dimensions   |     Container (max-width)          |
-------------------------------------------------------------------------------------                 |
|    Small       |    -sm-     |    ≥ 320px    |     767px                         |
|    Medium      |    -md-     |    ≥ 768px    |     989px                         |
|    Large       |    -lg-     |    ≥ 990px    |     1199px                         |
|    Extra large |    -xl-     |    ≥ 1200px   |     1440px                        |
-------------------------------------------------------------------------------------
 
Grid System Properties:
-------------------------------------------------------------------------------------
|  Property          |  Value                                                       |
-------------------------------------------------------------------------------------
|  Column classes    |  .col-, .col-sm-, .col-md-, .col-lg-, .col-xl-  |
|  # of columns      |  Mobile 4, Tablet 6, Desktop 12                                                         |
|  Gutter width     |  -                                                                               |
-------------------------------------------------------------------------------------
 
Usage Example:
<div class="container">
  <div class="row">
    <div class="col-sm-4 col-md-6 col-lg-12">Column</div>
  </div>
</div>
*/
 
:root {
  /* colors */
  --background-color: #fff;
  --light-color: #F9F9F9;
  --dark-color: #505050;
  --text-color: #000;
  --body-text-color: #666;
  --link-color: #236097;
  --link-hover-color: #236097;
  --midnight-blue: #0D2C48;
  --primary-gold: #B29152;
  --bronze-brown: #957842;
  --light-grey: #EEE;
  --soft-ivory: #F5E7C4;
  --whisper-gray: #F7F7F7;

 
  /* fonts */
  --body-font-family: 'dmSans-regular', sans-serif;
  --heading-font-family: 'dmSans-regular', sans-serif;

   /* body sizes */
   --body-font-size-m: 16px;
   --body-font-size-s: 12px;
   --body-font-size-xs: 17px;
  
   /* heading sizes */
   --heading-font-size-xxl: 80px;
   --heading-font-size-xl: 60px;
   --heading-font-size-l: 40px;
   --heading-font-size-m: 20px;
   --heading-font-size-s: 14px;
   --heading-font-size-xs: 12px;
  
   /* nav height */
   --nav-height: 64px;

}
 
/* fallback fonts */
@font-face {
  font-family: dmSans-regular;
  size-adjust: 88.82%;
  src: local('Arial');
}
 
@font-face {
  font-family: dmSans-medium;
  size-adjust: 99.529%;
  src: local('Arial');
}
 
@font-face {
  font-family: dmSans-bold;
  size-adjust: 99.529%;
  src: local('Arial');
}

@media (width >= 567px){
  :root{
  /* body sizes */
  --body-font-size-s: 14px;
 
  /* heading sizes */
  --heading-font-size-s: 16px;
 
  }
 }
 
@media (width >= 900px) {
  :root {
    /* body sizes */
    --body-font-size-m: 18px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 14px;
 
    /* heading sizes */
    --heading-font-size-xxl: 45px;
    --heading-font-size-xl: 36px;
    --heading-font-size-l: 28px;
    --heading-font-size-m: 22px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 18px;
  }
}
 
*{
  box-sizing: border-box;
}

body {
  /* display: none; */
  margin: 0;
  background-color: var(--background-color);
  color: var(--body-text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
}
 
body.appear {
  display: block;
}
 
header {
  height: var(--nav-height);
}
 
header .header,
footer .footer {
  visibility: visible;
}
 
header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}
 
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  scroll-margin: 40px;
}
 
h1 {
  font-size: var(--heading-font-size-xxl);
  font-weight: 400;
  line-height: 1.15;
}
 
h2 {
  font-size: var(--heading-font-size-xl);
  font-weight: 400;
  line-height: 1.15;
}
 
h3 {
  font-size: var(--heading-font-size-l);
  font-weight: 400;
  line-height: 1.15;
}
 
h4 {
  font-size: var(--heading-font-size-m);
  font-weight: 600;
  line-height: 1.15;
}
 
h5 {
  font-size: var(--heading-font-size-s);
  font-weight: 400;
  line-height: 1.5;
}
 
h6 {
  font-size: var(--heading-font-size-xs);
  font-weight: 400;
  line-height: 1.5;
}
 
p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}
 
code,
pre {
  font-size: var(--body-font-size-s);
}
 
pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}
 
input,
textarea,
select,
button {
  font: inherit;
}
 
/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  word-break: break-word;
}
 
a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}
 
/* buttons */
a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 2px solid transparent;
  border-radius: 2.4em;
  padding: 0.5em 1.2em;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  text-decoration: underline;
  background-color: var(--link-color);
  color: var(--background-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
 
a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}
 
button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}
 
a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}
 
main img {
  max-width: 100%;
  width: auto;
  height: auto;
}
 
.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}
 
.icon img {
  height: 100%;
  width: 100%;
}
 
/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}
 
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
 
@media (width >= 320px) {
  .container-sm, .container {
    max-width: 767px;
    padding-right: 24px; 
    padding-left: 24px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;

    --bs-gutter-x: 36px;
    display: flex;
    flex-wrap: wrap;
  }

  /* Row-cols selectors first */
  .row-cols-sm-auto > *,
  .row-cols-sm-1 > *,
  .row-cols-sm-2 > *,
  .row-cols-sm-3 > *,
  .row-cols-sm-4 > *,
  .row-cols-sm-5 > *,
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
  }

  .row-cols-sm-auto > * { width: auto; }
  .row-cols-sm-1 > * { width: 100%; }
  .row-cols-sm-2 > * { width: 50%; }
  .row-cols-sm-3 > * { width: 33.3333333333%; }
  .row-cols-sm-4 > * { width: 25%; }
  .row-cols-sm-5 > * { width: 20%; }
  .row-cols-sm-6 > * { width: 16.6666666667%; }

  /* Row selectors after */
  .row > * {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
  }

  .row > *:first-child {
    padding-left: 0;
  }

  .row > *:last-child {
    padding-right: 0;
  }

  /* For sm breakpoint */
  .col-sm { 
    flex: 1 0 0%; 
  }

  .col-sm-auto { 
    flex: 0 0 auto;
    width: auto;
  }

  .col-sm-1 { 
    flex: 0 0 auto;
    width: 25%;
  }

  .col-sm-2 { 
    flex: 0 0 auto; 
    width: 50%; 
  }

  .col-sm-3 { 
    flex: 0 0 auto; 
    width: 75%; 
  }

  .col-sm-4 { 
    flex: 0 0 auto; 
    width: 100%; 
  }
  .offset-sm-0 { margin-left: 0; }
  .offset-sm-1 { margin-left: 25%; }
  .offset-sm-2 { margin-left: 50%; }
  .offset-sm-3 { margin-left: 75%; }
  .offset-sm-4 { margin-left: 100%; }
}
@media (width >= 768px) {
  .container-md, .container-sm, .container {
    max-width: 991px;
    padding-right:44px; 
    padding-left: 44px;
  }

  .row {
    --bs-gutter-x: 48px;
  }

  /* Row-cols selectors first */
  .row-cols-md-auto > *,
  .row-cols-md-1 > *,
  .row-cols-md-2 > *,
  .row-cols-md-3 > *,
  .row-cols-md-4 > *,
  .row-cols-md-5 > *,
  .row-cols-md-6 > * {
    flex: 0 0 auto;
  }

  .row-cols-md-auto > * { width: auto; }
  .row-cols-md-1 > * { width: 100%; }
  .row-cols-md-2 > * { width: 50%; }
  .row-cols-md-3 > * { width: 33.3333333333%; }
  .row-cols-md-4 > * { width: 25%; }
  .row-cols-md-5 > * { width: 20%; }
  .row-cols-md-6 > * { width: 16.6666666667%; }

  .row > * {
    padding-right: calc(var(--bs-gutter-x) * 0.25);
    padding-left: calc(var(--bs-gutter-x) * 0.25);
  }

  .row > *:first-child { padding-left: 0; }
  .row > *:last-child { padding-right: 0; }

  /* For md breakpoint */
  .col-md { 
    flex: 1 0 0%; 
  }

  .col-md-auto { 
    flex: 0 0 auto;
    width: auto;
  }

  .col-md-1 { 
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-md-2 { 
    flex: 0 0 auto; 
    width: 33.33333333%; 
  }

  .col-md-3 { 
    flex: 0 0 auto; 
    width: 50%; 
  }

  .col-md-4 { 
    flex: 0 0 auto; 
    width: 66.66666667%; 
  }

  .col-md-5 { 
    flex: 0 0 auto; 
    width: 83.33333333%; 
  }

  .col-md-6 { 
    flex: 0 0 auto; 
    width: 100%; 
  }
  .offset-md-0 { margin-left: 0; }
  .offset-md-1 { margin-left: 16.66666667%; }
  .offset-md-2 { margin-left: 33.33333333%; }
  .offset-md-3 { margin-left: 50%; }
  .offset-md-4 { margin-left: 66.66666667%; }
  .offset-md-5 { margin-left: 83.33333333%; }
  .offset-md-6 { margin-left: 100%; }
}
@media (width >= 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 1199px;
  }

  .row {
    --bs-gutter-x: 72px;
  }

  /* Row-cols selectors first */
  .row-cols-lg-auto > *,
  .row-cols-lg-1 > *,
  .row-cols-lg-2 > *,
  .row-cols-lg-3 > *,
  .row-cols-lg-4 > *,
  .row-cols-lg-5 > *,
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
  }

  .row-cols-lg-auto > * { width: auto; }
  .row-cols-lg-1 > * { width: 100%; }
  .row-cols-lg-2 > * { width: 50%; }
  .row-cols-lg-3 > * { width: 33.3333333333%; }
  .row-cols-lg-4 > * { width: 25%; }
  .row-cols-lg-5 > * { width: 20%; }
  .row-cols-lg-6 > * { width: 16.6666666667%; }

  .row > * {
    padding-right: calc(var(--bs-gutter-x) * 0.25);
    padding-left: calc(var(--bs-gutter-x) * 0.25);
  }

  .row > *:first-child { padding-left: 0; }
  .row > *:last-child { padding-right: 0; }

  /* For lg breakpoint */
  .col-lg { 
    flex: 1 0 0%; 
  }

  .col-lg-auto { 
    flex: 0 0 auto;
    width: auto;
  }

  .col-lg-1 { 
    flex: 0 0 auto; 
    width: 8.33333333%; 
  }

  .col-lg-2 { 
    flex: 0 0 auto; 
    width: 16.66666667%; 
  }

  .col-lg-3 { 
    flex: 0 0 auto; 
    width: 25%; 
  }

  .col-lg-4 { 
    flex: 0 0 auto; 
    width: 33.33333333%; 
  }

  .col-lg-5 { 
    flex: 0 0 auto; 
    width: 41.66666667%; 
  }

  .col-lg-6 { 
    flex: 0 0 auto; 
    width: 50%; 
  }

  .col-lg-7 { 
    flex: 0 0 auto; 
    width: 58.33333333%; 
  }

  .col-lg-8 { 
    flex: 0 0 auto; 
    width: 66.66666667%; 
  }

  .col-lg-9 { 
    flex: 0 0 auto; 
    width: 75%; 
  }

  .col-lg-10 { 
    flex: 0 0 auto; 
    width: 83.33333333%; 
  }

  .col-lg-11 { 
    flex: 0 0 auto; 
    width: 91.66666667%; 
  }

  .col-lg-12 { 
    flex: 0 0 auto; 
    width: 100%; 
  }
  .offset-lg-0 { margin-left: 0; }
  .offset-lg-1 { margin-left: 8.33333333%; }
  .offset-lg-2 { margin-left: 16.66666667%; }
  .offset-lg-3 { margin-left: 25%; }
  .offset-lg-4 { margin-left: 33.33333333%; }
  .offset-lg-5 { margin-left: 41.66666667%; }
  .offset-lg-6 { margin-left: 50%; }
  .offset-lg-7 { margin-left: 58.33333333%; }
  .offset-lg-8 { margin-left: 66.66666667%; }
  .offset-lg-9 { margin-left: 75%; }
  .offset-lg-10 { margin-left: 83.33333333%; }
  .offset-lg-11 { margin-left: 91.66666667%; }
}
@media (width >= 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1440px;
    padding-right:160px; 
    padding-left: 160px;
  }

  .row {
    --bs-gutter-x: 72px;
  }

  /* Row-cols selectors first */
  .row-cols-xl-auto > *,
  .row-cols-xl-1 > *,
  .row-cols-xl-2 > *,
  .row-cols-xl-3 > *,
  .row-cols-xl-4 > *,
  .row-cols-xl-5 > *,
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
  }

  .row-cols-xl-auto > * { width: auto; }
  .row-cols-xl-1 > * { width: 100%; }
  .row-cols-xl-2 > * { width: 50%; }
  .row-cols-xl-3 > * { width: 33.3333333333%; }
  .row-cols-xl-4 > * { width: 25%; }
  .row-cols-xl-5 > * { width: 20%; }
  .row-cols-xl-6 > * { width: 16.6666666667%; }

  .row > * {
    padding-right: 36px;
    padding-left: 36px;
  }

  .row > *:first-child { padding-left: 0; }
  .row > *:last-child { padding-right: 0; }

  /* For xl breakpoint */
  .col-xl { 
    flex: 1 0 0%; 
  }

  .col-xl-auto { 
    flex: 0 0 auto;
    width: auto;
  }

  .col-xl-1 { 
    flex: 0 0 auto; 
    width: 8.33333333%; 
  }

  .col-xl-2 { 
    flex: 0 0 auto; 
    width: 16.66666667%; 
  }

  .col-xl-3 { 
    flex: 0 0 auto; 
    width: 25%; 
  }

  .col-xl-4 { 
    flex: 0 0 auto; 
    width: 33.33333333%; 
  }

  .col-xl-5 { 
    flex: 0 0 auto; 
    width: 41.66666667%; 
  }

  .col-xl-6 { 
    flex: 0 0 auto; 
    width: 50%; 
  }

  .col-xl-7 { 
    flex: 0 0 auto; 
    width: 58.33333333%; 
  }

  .col-xl-8 { 
    flex: 0 0 auto; 
    width: 66.66666667%; 
  }

  .col-xl-9 { 
    flex: 0 0 auto; 
    width: 75%; 
  }

  .col-xl-10 { 
    flex: 0 0 auto; 
    width: 83.33333333%; 
  }

  .col-xl-11 { 
    flex: 0 0 auto; 
    width: 91.66666667%; 
  }

  .col-xl-12 { 
    flex: 0 0 auto; 
    width: 100%; 
  }
  .offset-xl-0 { margin-left: 0; }
  .offset-xl-1 { margin-left: 8.33333333%; }
  .offset-xl-2 { margin-left: 16.66666667%; }
  .offset-xl-3 { margin-left: 25%; }
  .offset-xl-4 { margin-left: 33.33333333%; }
  .offset-xl-5 { margin-left: 41.66666667%; }
  .offset-xl-6 { margin-left: 50%; }
  .offset-xl-7 { margin-left: 58.33333333%; }
  .offset-xl-8 { margin-left: 66.66666667%; }
  .offset-xl-9 { margin-left: 75%; }
  .offset-xl-10 { margin-left: 83.33333333%; }
  .offset-xl-11 { margin-left: 91.66666667%; }
}