.textmediablock-container{
  .textmediablock-wrapper{
    margin: 45px 0;
  }
 
  .textmediablock-container>div:first-child{
  margin-bottom: 9px;
  }
  [class*="text-media-block-heading-variation"] {
    margin-bottom: 0;
    padding-bottom: 36px;
    border-bottom: 2px solid var(--neutral-color);
    color: var(--text-color);
    font-size:var(--font-size-xl);
    font-weight: 500;
    line-height: 50px;
  }
  .textmediablock-wrapper:has([class*="text-media-block-heading-variation"]) {
    margin: 0;    
  }
  .textmediablock-title-only-center-align-nested-1-1 {
    text-align: center;
  }
/* Media styles */

 .mediablock {
  width: 100%;
}

.mediablock  img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.custom-video-container {
  position: relative;
  width: 100%;
  margin: auto;
  cursor: pointer;
}

.mediablock-video {
  width: 100%;
  height: auto;
  display: none;
}

.custom-play-button {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  color: var(--background-color);
  border: none;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  font-size: var(--font-size-l);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 3px solid var(--background-color);
  transition: opacity 0.5s ease-in-out;

  &:focus {
    outline: none;
  }

  &:active {
    background: rgba(0, 0, 0, 0.7);
  }
}


.custom-play-button:hover {
  background: rgba(0, 0, 0, 0.7);
}

/* Text section styles */

.textblock{
  display: flex;
  gap: 36px;
}

 .textblock .heading {
  font-family: var(--heading-font-family);
  font-size: var(--font-size-xl);
  font-weight: 500;
  line-height: 50px;
  color: var(--text-color);
  flex: 1;
  letter-spacing: -0.5px;
}

.textblock .text-section {
  flex: 0 0 calc(50% - 18px);
}

.text-section p{
  font-size: var(--font-size-xs);
  font-weight: 400;
  line-height: 24px;
  color: var(--body-text-color);
}

.textmediablock.textmediablock-title-only-nested-1-1.mediablock > div p{
  line-height: 0 !important;
}

/* Tablet and up: Grid layout */
@media (width<=992px) {
  .textblock{
    gap: 24px;
  }
  .textmediablock-wrapper{
      margin: 32px 0;
  }
  .textmediablock-container>div:first-child{
  margin-bottom: 24px
  }

  [class*="text-media-block-heading-variation"]  .textmediablock-container>div:first-child{
    margin-bottom: 0;
    font-size: var(--font-size-l);
    line-height: 42px;
    }
  
   .textblock .heading {
    font-family: var(--heading-font-family);
    font-size: var(--font-size-l);
    line-height: 42px;
  }
} 
@media (width<768px) {
  .custom-play-button {

    width: 56px;
    height: 56px;
    font-size: var(--font-size-s);
  }

  .textmediablock-wrapper {
    margin: 24px 0;
  }

  .textmediablock-container>div:first-child{
  margin-bottom: 18px
}
[class*="text-media-block-heading-variation"]  .textmediablock-container>div:first-child{
  margin-bottom: 0;
  font-size:var(--font-size-m);
  line-height: 32px;
  }

  .textblock{
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px;
  }

   .textblock .heading {
    font-size: var(--font-size-m);
    line-height: 34px;
    letter-spacing: -0.5px;
  }
  
  .text-section p{
    font-size: var(--font-size-xxs);
    line-height: 20px;
  }

  .textmediablock-container>div[class*="textmediablock-title-only"] {
    margin-bottom: -4px;
  }

} 

}

.video-loader {
  width: 100%;
  height: 400px;
  background: linear-gradient(90deg,
      #e0e0e0 0%,
      #f8f8f8 50%,
      #e0e0e0 100%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

@media (width<768px) {
  .video-loader{
    height: 220px;
  }
}