.textmediablock-container{
  /* margin-bottom: 80px; */

  .textmediablock-wrapper{
    padding: 68px 0;
  }

/* Media styles */
[data-aue-model="media"]:not(:last-child) {
  width: 100%;
  margin-bottom: 36px;
}

[data-aue-model="media"] img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Text section styles */
[data-aue-model="textsection"] {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 36px;
}

[data-aue-model="textsection"]:not(:last-child) {
  margin-bottom: 36px;
}

[data-aue-prop="heading"] {
  font-family: var(--heading-font-family);
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  color: var(--text-color);
}

[data-aue-prop="description"] {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--text-color);
}

[data-richtext-prop="description"] {
  font-family: var(--body-font-family);
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
}

/* Tablet and up: Grid layout */
@media (width<=992px) {
 [data-aue-prop="heading"] {
    font-family: var(--heading-font-family);
    font-size: 32px;
    line-height: 42px;
  }
  
  [data-richtext-prop="description"] {
    font-family: var(--body-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .textmediablock-wrapper {
    padding: 44px 0;
  }
} 
@media (width<768px) {
  [data-aue-model="textsection"] {
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px;
  }

  [data-aue-prop="heading"] {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 18px;
  }
  
  [data-richtext-prop="description"] {
    font-size: 14px;
    line-height: 20px;
  }

  .textmediablock-wrapper {
    padding: 24px 0;
  }
} 

}


@media(width<=992px){
  .textmediablock-container{
    margin-bottom: 56px;
  }
}
@media(width<=768px){
  .textmediablock-container{
    margin-bottom: 36px;
  }
}