.textmediablock-container{
  .textmediablock-wrapper{
    margin: 68px 0;
  }

  [data-block-name="textmediablock"]>div:first-child{
  margin-bottom: 36px
  }

/* Media styles */

 .mediablock {
  width: 100%;
}

.mediablock  img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Text section styles */

.textblock{
  display: flex;
  gap: 36px;
}

[data-aue-prop="title"], .textblock .heading {
  font-family: var(--heading-font-family);
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  color: var(--text-color);
  flex: 1;
}

.textblock .text-section {
  flex: 0 0 calc(50% - 18px);
}

.text-section p{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--body-text-color);
}

[data-richtext-prop="description"] {
  font-family: var(--body-font-family);
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
}

[data-block-name="textmediablock"]>div.textmediablock-title-only-nested-1-1 {
  margin-bottom: -38px;
}

/* Tablet and up: Grid layout */
@media (width<=992px) {
  .textmediablock-wrapper{
      margin: 44px 0;
  }
  [data-block-name="textmediablock"]>div:first-child{
  margin-bottom: 24px
  }
  
   [data-aue-prop="title"],.textblock .heading {
    font-family: var(--heading-font-family);
    font-size: 32px;
    line-height: 42px;
  }
  
  [data-richtext-prop="description"] {
    font-family: var(--body-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  [data-block-name="textmediablock"]>div.textmediablock-title-only-nested-1-1 {
    margin-bottom: -20px;
  }
} 
@media (width<768px) {
  .textmediablock-wrapper {
    margin: 24px 0;
  }

  [data-block-name="textmediablock"]>div:first-child{
  margin-bottom: 18px
}

  .textblock{
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px;
  }

   [data-aue-prop="title"],.textblock .heading {
    font-size: 28px;
    line-height: 34px;
  }
  
  [data-richtext-prop="description"] {
    font-size: 14px;
    line-height: 20px;
  }
  [data-block-name="textmediablock"]>div.textmediablock-title-only-nested-1-1 {
    margin-bottom: -4px;
  }

} 

}


